<ng-container *ngIf="displayConfig?.displayType" [ngSwitch]="displayConfig?.displayType">
  <ng-container *ngSwitchCase="'card-badges'" [ngTemplateOutlet]="cardBadges"></ng-container>
  <ng-container *ngSwitchDefault [ngTemplateOutlet]="cardStandard"></ng-container>
</ng-container>

<ng-template #cardBadges>
  <section class="course-container" [ngClass]="{ 'bg-cont-white': enableConfig }">
    <a [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="hover" #popoverTrigger="mdePopoverTrigger"
      [mdePopoverEnterDelay]="1500" [mdePopoverLeaveDelay]="300" [mdePopoverArrowWidth]="2" [mdePopoverOffsetX]="290"
      [mdePopoverOffsetY]="-340" (click)="redirectPage(courseData)">
      <div class="box">
        <div class="text-over">
          <img class="appIcon fitsize" src="{{courseData.thumbnail? courseData.thumbnail : courseData.appIcon}}">
          <ng-container>
            <div class="topStyle">{{courseData.sourceName}}</div>
          </ng-container>
          <ng-container *ngIf="displayConfig?.badges?.certification&&courseData.issueCertification">
            <div class="bottomStyle">
              <img src="/fusion-assets/icons/mdi_star-four-points-outline.svg" alt="vector">
              Certified
            </div>
          </ng-container>
        </div>
        <div class="pl-1 pt-1">
          <p class="name">{{courseData.name}}</p>
          <!-- <p class="creator" *ngIf="courseData.creator">{{courseData.creator}}</p> -->

          <p class="description" *ngIf="enableConfig">{{courseData.description}}</p>
        </div>
        <div *ngIf="enableConfig" class="p-2">
          <a class="btn start-btn" i18n>{{'Start now!' }}</a>
        </div>
        <ng-container *ngIf="courseData.competencies_v1 && cometencyData.length > 0">
          <div class="competency-card flex m-3">
            <img class="competency-icon" src="/fusion-assets/icons/ph_medal.svg">
            <div>
              <span>{{cometencyData[0]?.name}}, </span>
              <ng-container *ngFor="let competency of cometencyData; let last = last;">
                <span>{{competency.levels}}</span>
                <span *ngIf="!last">, </span>
              </ng-container>
            </div>
          </div>

        </ng-container>
        <ng-container *ngIf="showProgress && courseData?.completionPercentage !== undefined">
          <div class="mt-2 px-1">

            <span class="value" *ngIf="courseData?.completionPercentage">{{courseData?.completionPercentage}}%</span>
          </div>
        </ng-container>
      </div>
    </a>
  </section>
</ng-template>
<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdeFocusTrapEnabled]="true">
  <mat-card class="popover-card xs-hidden">
    <mat-card-content>
      <div class="ws-mat-primary-text mat-h1 ws-mat-text-block-fade-gradient">
        {{ courseData.name }}
      </div>
      <div class="description-text ws-mat-text-block-fade-gradient mb-2" i18n-title title="Sub title">
        {{ courseData.subTitle }}
      </div>
      <div class="mb-2" *ngIf="courseData?.lastPublishedOn"><span class="fw-500" i18n>Published On</span>:
        {{courseData?.lastPublishedOn | date }}</div>
      <div *ngIf="courseData.duration" class="duration mb-2" i18n-title title="Duration">
        <span class="mr-1 orange-text" i18n>Duration</span>:
        <mat-icon>access_time</mat-icon>
        <span class="time-text fs-13">{{ courseData.duration| pipeDurationTransform: 'hms' }}</span>
        <!--<span class="mt-0 flex justify-between items-center left-0 right-0 px-3 py-0">
            <div class="flex items-start">
              <ng-container [ngTemplateOutlet]="rating"></ng-container>
            </div>
          </span> -->
      </div>
      <p *ngIf="courseData?.completionPercentage"><span class="fw-500" i18n>Progress</span>: {{
        courseData?.completionPercentage}} %</p>
      <!-- <p><span class="fw-500">Number of modules:</span> {{ courseData?.childNodes?.length}}</p> -->
      <p *ngIf="courseData?.creator"><span class="fw-500" i18n>Author</span>: {{
        courseData?.creator}}
      </p>
      <p *ngIf="courseData?.creatorContacts"><span class="fw-500" i18n>Author</span>: {{
        courseData?.creatorContacts[0]?.name}}</p>

      <p *ngIf="courseData?.uniqueUsersCount"><span class="fw-500" i18n>Users enrolled</span>:
        {{courseData?.uniqueUsersCount}}</p>
      <p *ngIf="courseData?.sourceName"><span class="fw-500" i18n>Source</span>:
        {{courseData.sourceName}}
      </p>
      <!-- <div class="description-text ws-mat-text-block-fade-gradient mb-20" i18n-title>
          <div class="fw-500 mb-1">Course Description</div>
          {{ courseData.description | pipeHtmlTagRemoval }}
        </div> -->
      <div class="mt-0 flex">
        <button *ngIf="isUserLoggedIn === true" mat-raised-button i18n
          class="header-btn text-white ws-mat-primary-background mat-button-base" (click)="redirectPage(courseData)">
          View Course</button>
        <button *ngIf="isUserLoggedIn === false" mat-raised-button i18n
          class="header-btn text-white ws-mat-primary-background mat-button-base" (click)="redirectPage(courseData)">
          View Course </button>
        <div class="flex">
          <ws-widget-btn-content-share [widgetData]="courseData"></ws-widget-btn-content-share>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mde-popover>
<ng-template #cardStandard>
  <section class="course-container" [ngClass]="{ 'bg-cont-white': enableConfig }">
    <a (click)="redirectPage(courseData)">
      <div class="box">
        <div class="text-center">
          <img class="appIcon" src="{{courseData.thumbnail? courseData.thumbnail : courseData.appIcon}}">
        </div>
        <div class="pl-3 pt-3">
          <!-- <p class="name">{{courseData.name}}</p> -->
          <!-- <p class="creator" *ngIf="courseData.creator">{{courseData.creator}}</p> -->

          <!-- <p class="description" *ngIf="enableConfig">{{courseData.description}}</p> -->
        </div>
        <div *ngIf="enableConfig" class="p-2">
          <a class="btn start-btn" i18n>{{'Start now!' }}</a>
        </div>
        <ng-container *ngIf="courseData.competencies_v1 && cometencyData.length > 0  && showCompentencyDetails">
          <div class="flex flex-col m-3 ">
            <div><span class="font-medium" i18n>Competency Name: </span> {{cometencyData[0].name}}</div>
            <div class="flex flex-row">
              <span class="font-medium" i18n>Levels : </span>
              <ng-container *ngFor="let competency of cometencyData; let last = last; ">
                <div>{{competency.levels}}
                  <span *ngIf="!last">, </span>
                </div>
              </ng-container>
            </div>
          </div>

        </ng-container>
        <ng-container *ngIf="showProgress && courseData?.completionPercentage !== undefined">
          <div class="mt-2 px-1">
            <span class="value" *ngIf="courseData?.completionPercentage">{{courseData?.completionPercentage}}%</span>
          </div>
        </ng-container>
      </div>
    </a>
  </section>
</ng-template>