<form class="flex gap-3" [formGroup]="dobForm">
  <div class="form-group input-box ">
    <select id="year" formControlName="yearField" i18n class="form-control select-box" name="date-input-field"
      (change)="countrySelect($event.target.value)">
      <option [value]='year' [selected]="'Year'" disabled selected i18n>Years</option>
      <option *ngFor="let years of yearsValue" [value]="years">{{ years }}</option>
    </select>
  </div>
  <div class="form-group input-box ">
    <select id="month" formControlName="monthField" i18n class="form-control select-box" name="date-input-field"
      (change)="countrySelect($event.target.value)">
      <option [value]='Month' [selected]="'Month'" disabled i18n>Month</option>
      <option *ngFor="let months of monthValue" [value]="months.id">{{ months.name }}</option>
    </select>
  </div>
  <div class="form-group input-box ">
    <select id="date" formControlName="dateField" i18n class="form-control select-box" name="date-input-field"
      (change)="countrySelect($event.target.value)">
      <option [value]='Date' [selected]="'Date'" disabled i18n>Date</option>
      <option *ngFor="let date of dateValue" [value]="date">{{ date }}</option>
    </select>
  </div>
</form>