<div class="mat-toolbar py-5 px-4 pl-0">
  <div class="flex">
    <div style="width:20%;"><img src="../../../fusion-assets/icons/aastika-mobile-logo.png"></div>
  </div>

  <div class="link-container">
    <div class="col-12 pl-0">
      <div>
        <a class="footer-heading">Quick Links</a>
        <a routerLink="/public/tnc">Privacy policy <br> Terms of use</a>
      </div>
    </div>
    <hr class="new1">
    <div class="col-12 pl-0">
      <div>
        <a>Help and Contact</a>
        <a href="mail-to:support@aastrika.org">support@aastrika.org</a>
        <a href="https://wa.me/919632013414?text=Hi%2C%20Need%20help%20on%20Aastrika%20Platform" target="_blank">
          <img class="fa fa-whatsapp" src="/fusion-assets/icons/whatsapp.png" />
          Talk to us on Whatsapp
        </a>
      </div>
    </div>
  </div>
  <hr class="new1">
  <div class="col-12 pl-0">
    <div class="listing-group-item">
      <span class="footer-heading">Additional Links</span>
      <div class="foundation-footer">Aastrika Foundation : https:www.aastrika.org</div>
      <div class=""></div>
      <div class=""></div>
      <div class=""></div>
    </div>
  </div>
</div>
<div class="footer-text pull-center">
  &copy; 2022 AastarUrmika Health Systems ("Aastrika Foundation")
</div>