@import 'ws-mixins';

.write-to-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #7B6961;
}
.input-field {
  box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
  border-radius: 6px;
  background-color: #fff;
  padding: 2px 6px;
  font-size: 16px;
}
input {
  width: 95%;
  border: none;
  background: none;
}

.link-container {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #7B6961;
  padding-top: 1rem;
}
.link-container a{
  display: block;
  padding: 8px 0;
}
.partner-line {
  border-top: 1px solid #7B6961
}

.footer-image {
  width: 80px;
}

.img-cont {
  width: 33.33%
}