<div style="background-image:url('/fusion-assets/images/Group-people.png')" *ngIf="isHomePage"
  class="flex footer-container">
  <div class="transform-header" i18n>
    Transform your Healthcare career through Sphere!
  </div>
  <button (click)="createAcct()" class="start-today-button" i18n>Start Today</button>
</div>
<div class="flex-container">
  <div class="part-a-partner center-partner">
    <div class="text-partners" i18n>
      An initiative of
    </div>
    <div class="flex-prop">
      <img class="part-a-img" src="/fusion-assets/icons/nike.png" alt="Card image cap">
    </div>
  </div>
  <div class="part-b-partner center-partner">
    <div class="text-partners" i18n>
      A collaboration with
    </div>
    <div class="flex-prop">
      <img class="part-b-img" src="/fusion-assets/icons/sci.png" alt="Card image cap">
    </div>
  </div>
</div>

<div class="flex flex-column ">
  <img class="footer-logo" src="/fusion-assets/images/sphere-new-logo.svg">
  <div class="flex flex-column link-container">
    <a class="footer-heading" i18n>Quick Links</a>
    <a class="link-text" routerLink="/public/tnc" i18n>Privacy policy </a>
    <a class="link-text" routerLink="/public/tnc" i18n>Terms of use</a>
    <hr class="new1">
    <a class="footer-heading" i18n>Help and Contact</a>
    <a class="link-text" href="mail-to:support@aastrika.org">support@aastrika.org</a>
    <a i18n class="whatsapp-logo-container" href="https://wa.me/919632013414?text=Hi" target="_blank">
      <img class="fa fa-whatsapp whatsapp-logo" src="/fusion-assets/icons/whatsapp.png" />
      Talk to us on WhatAapp
    </a>
    <hr class="new1">
    <div class="flex flex-column">
      <span class="footer-heading" i18n>Additional Links</span>
      <div class="foundation-link"> <span i18n>Aastrika Foundation </span> : https:www.aastrika.org</div>
    </div>
    <div class="footer-social-icon">
      <a class="" href="https://twitter.com/aastrika_fndn?s=21&t=I9xN5rzMahavP0R1Fp7VwA" target="_blank">
        <img class="fa fa-whatsapp social-logo" src="../../../fusion-assets/icons/icons8-twitter.svg" />
      </a>
      <a class="" href="https://www.facebook.com/aastrikasphere?mibextid=LQQJ4d" target="_blank">
        <img class="fa fa-whatsapp social-logo" src="../../../fusion-assets/icons/icons8-facebook.svg" />
      </a>
      <a class="" href="https://instagram.com/sphere.aastrika?igshid=MmJiY2I4NDBkZg==" target="_blank">
        <img class="fa fa-whatsapp social-logo" src="../../../fusion-assets/icons/icons8-instagram.svg" />
      </a>
      <a class="" href="https://www.linkedin.com/company/aastrika-foundation/" target="_blank">
        <img class="fa fa-whatsapp social-logo" src="../../../fusion-assets/icons/icons8-linkedin.svg" />
      </a>
    </div>
    <div class="footer-text-container">
      <div i18n class="footer-text">
        &copy; <span>2023</span>
        <span>AastarUrmika Health Systems ("Aastrika Foundation") </span>
      </div>
    </div>
  </div>
</div>