.content{
  padding:20px 25px 30px;
  }
.profile-img{
  width:203px !important;
   height:203px !important;
  top:20px;
  bottom: 20px;
  border-radius: 8px;
}
.pencil{
  position: relative;
  left: -1px;
  right: 8.33%;
  top: -11px;
  bottom: 8.33%;
  color: #FFFFFF;
}
.edit-icon{
  position: relative;
  right: 181px;
  bottom: 0px;
  width:36px;
  height:36px;
  top: -74px;
  left: 106px;
  background-color: #1C5D95 !important;
}
.logout{
  padding: 2px 116px 0px;
}
.health{
width: 136px;
height: 20px;
left: 25px;
top: 223px;
}