<div *ngIf="loader" class="mt-20 flex flex-center profile-loader">
  <mat-spinner diameter="48" class="profile-spinner"></mat-spinner>
</div>
<div class="content profile-dashboard-shell" *ngIf="!loader" [ngStyle]="!showbackButton ? {'display': 'flex' } : {}">
  <ws-mobile-profile-nav *ngIf="!showbackButton" [hidden]="hideData" [navigateTohome]="navigateTohome"
    [showbackButton]="showbackButton" [showLogOutIcon]="showLogOutIcon"></ws-mobile-profile-nav>
  <!-- mobile page -->
  <div *ngIf="showbackButton" [ngClass]="!isCommonChatEnabled ? 'blur-screen' : ''"
    [ngStyle]="!showbackButton ? {'width': '25%' } : {}" [hidden]="hideData" style="margin-bottom: 5rem;">

    <div class="user-basic-details" [ngClass]="(earnedBadges$ | async) ? 'badge-basic-details' : ''">
      <span class=" profile-user-name">{{ userProfileData?.personalDetails?.firstname }}
        {{userProfileData?.personalDetails?.middlename }}
        {{userProfileData?.personalDetails?.surname}}</span>
      <span *ngIf="currentProfession" class="profile-user-position">
        {{ menuItems?.[0]?.text | translate }} : {{ currentProfession }}
      </span>
    </div>
    <div class="badge-container mob-view" *ngIf="earnedBadges$ | async as count">
      <img src="fusion-assets/icons/badges.png" alt="Badges" />
      <span class="label">
        {{ count > 1
        ? ('BADGES_EARNED' | translate:{ count: count })
        : ('BADGE_EARNED' | translate)
        }}
      </span>
    </div>

    <div class="div mobile-div">
      <ng-container *ngFor="let ls of uiConfig">
        <div *ngIf="ls.id === 'leaderBoard' && totalUsers > 0" class="leaderboard-card" (click)="openLeaderboard()">
          <div class="leaderboard-header">
            <div class="icon">
              <img [src]="ls.img" alt="star" />
            </div>
            <div class="title">{{ls.text | translate}}</div>
            <div class="arrow"><img [src]="ls.icon" alt="arrow-right" /></div>
          </div>
          <div class="leaderboard-body">
            <div class="rank">
              <span class="rank-value">{{ currentUser?.rank }}</span>
              <span class="rank-total">/ {{ totalUsers }}</span>
            </div>
            <div class="points">
              <div class="points-label">{{ls.data.title | translate}}</div>
              <div class="points-value">{{ currentUser?.points }} {{ls.data.label | translate}}</div>
            </div>
          </div>
        </div>
        <div class="flex justify-center" *ngIf="ls.id === 'help&Support'">
          <a *ngIf="isEkshamata" class="help-btn cursor-pointer mt-4 mb-4 flex items-center gap-2"
            [href]="'tel:' + ls?.phone?.replace('tel:', '')">{{ ls?.text | translate }}
            <img [width]="20" height="18" [src]="ls.img" alt="" />
          </a>
          <button *ngIf="!isEkshamata" class="help-btn cursor-pointer mt-4 mb-4 flex items-center gap-2"
            (click)="showSocialChats($event)">{{ ls.text | translate }}
            <img [width]="18" height="18" [src]="ls.img" alt="" />
          </button>
        </div>
        <div *ngIf="ls.id !== 'leaderBoard' && ls.id !== 'help&Support'">
          <a *ngIf="ls.icon" class="border-btm mt-2" [class.active]="selectedIndex === ls.name"
            (click)="selectedIndex = ls.name; changeFunction(ls)">
            <div class="flex">
              <img [alt]="ls.text" [src]="ls.img" width="35" height="23" />
              <span class="options">{{ ls.text | translate }}</span>
            </div>

            <img class="right-icon" alt="icon" [src]="ls.icon" />
          </a>
        </div>
      </ng-container>
      <div *ngIf="orgDet?.themeConfig?.isDark"
        style="display:flex; justify-content: space-between; margin-left: 0.5rem">
        <div>
          <img class="themeIcon" src="/fusion-assets/images/dark_mode.png" alt="Dark mode">
          <label style="margin-left: 1rem;">{{"DARK_MODE" | translate}}</label>
        </div>
        <mat-slide-toggle labelPosition="before" [checked]="isDark()" [color]="'primary'"
          (change)="onToggleChange($event)"></mat-slide-toggle>
      </div>
      <div class="margin-top-xs support-copy" *ngIf="!isEkshamata || configSvc.hostedInfo?.email">
        <span class="support-copy-text">
          {{ menuItems[menuItems.length-1]?.data?.mobInfoText | translate }}
        </span>
        <span class="support-copy-link">
          {{ isEkshamata ? configSvc.hostedInfo?.email : menuItems[menuItems.length-1]?.data?.supportLink }}
        </span>
      </div>
      <button *ngIf="showLogOutBtn" (click)="logout()" class="logout-btn" type="submit">
        {{ menuItems[menuItems.length-1]?.text | translate}}</button>
    </div>
    <div *ngIf="showbackButton" class="logout-bg">
      <button class="btn-logout" type="submit" (click)="logout()">{{ menuItems[menuItems.length-1]?.text |
        translate}}</button>
    </div>
  </div>

  <!-- web screen left section -->
  <div *ngIf="!showbackButton" [ngStyle]="!showbackButton ? {'width': '25%' } : {}" [hidden]="hideData">
    <div>
      <img [src]="photoUrl ? photoUrl : menuItems?.[0]?.img" alt="profile image" width="150px" height="150px"
        class="profile-border">
    </div>

    <button *ngIf="!isEkshamata" mat-fab class="edit-icon" (click)="openProfileDialog()">
      <mat-icon [class]="menuItems?.[0]?.editIcon.className">{{menuItems?.[0]?.editIcon.label}}</mat-icon>
    </button>

    <div [ngStyle]="{'margin-top': isEkshamata ? '0' : '-35px'}">
      <p class="desktop-profile-name" style="font-weight:400;font-size:24px">{{
        userProfileData?.personalDetails?.firstname }}
        <span *ngIf="userProfileData?.personalDetails?.middlename">
          {{ userProfileData?.personalDetails?.middlename}}</span>{{userProfileData?.personalDetails?.surname }}
      </p>
    </div>
    <div class="flex flex-col" *ngIf="userProfileData?.professionalDetails && userProfileData?.professionalDetails[0]">
      <p class="desktop-profile-position"
        style="font-size:14px;line-height:18.75px;font-weight: 430;margin-bottom: 10px;">
        <span> {{ menuItems?.[0]?.text | translate }}</span> : {{currentProfession }}
      </p>
    </div>
    <div class="badge-container" *ngIf="earnedBadges$ | async as count">
      <img src="fusion-assets/icons/badges.png" alt="Badges" />
      <span class="label">
        {{ count > 1
        ? ('BADGES_EARNED' | translate:{ count: count })
        : ('BADGE_EARNED' | translate)
        }}
      </span>
    </div>
    <div class="div">
      <ng-container *ngFor="let ls of uiConfig">
        <div *ngIf="ls.id ==='leaderBoard' && totalUsers > 0" class="leaderboard-card" (click)="openLeaderboard()">
          <div class="leaderboard-header">
            <div class="icon"><img [src]="ls.img" alt="star" /></div>
            <div class="title">{{ls.text | translate}}</div>
            <div class="arrow" *ngIf="ls.icon">
              <img [src]="ls.icon" alt="arrow-right" />
            </div>
          </div>
          <div class="leaderboard-body">
            <div class="rank">
              <span class="rank-value">{{ currentUser?.rank }}</span><span class="rank-total">/ {{ totalUsers }}</span>
            </div>
            <div class="points">
              <div class="points-label">{{ls?.data?.title | translate}}</div>
              <div class="points-value">{{ currentUser?.points }} {{ls?.data?.label | translate}}</div>
            </div>
          </div>
        </div>
        <div *ngIf="ls.id !== 'leaderBoard'">
          <a *ngIf=" ls.type==='text'" [class.active]=" selectedIndex===ls.name"
            (click)="selectedIndex = ls.name; changeFunction(ls)">
            <img alt=ls.text [src]="ls.img" width="35" height="18" />
            <span>{{ ls.text | translate }}</span>
          </a>
          <button *ngIf="!isEkshamata && ls.type === 'button'" class="web-help-btn mt-2 mb-2 cursor-pointer"
            (click)="showSocialChats($event)">{{ ls.text | translate }}
            <img width="35" height="18" [src]="ls.img" alt="" />
          </button>
        </div>
      </ng-container>
      <button *ngIf="showLogOutBtn" (click)="logout()" class="logout-btn" type="submit">
        {{ menuItems?.[menuItems.length-1]?.text | translate}}</button>
    </div>
  </div>
  <div class="main-block" [ngStyle]="!showbackButton ? {'width': '75%' } : {}">
    <div *ngIf="selectedIndex === 'personal' && selectedIndexData" style="margin-bottom: 70px;" class="full-width"
      [class.full-width]="showbackButton">
      <ws-personal-detail-edit [isEkshamata]="isEkshamata" [data]="selectedIndexData" [userData]="profileData"
        (userName)="assignUserName($event)"></ws-personal-detail-edit>
    </div>
    <ng-container *ngIf="selectedIndex === 'organization'">
      <div class="full-width" [class.full-width]="showbackButton">
        <div *ngIf="showView === ''">
          <ws-work-info-list [isEkshamata]="isEkshamata" [data]="selectedIndexData"
            (passProfession)="assignProfession($event)"></ws-work-info-list>
        </div>
        <div *ngIf="showView">
          <ws-work-info-edit></ws-work-info-edit>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedIndex === 'academic'">
      <div class="full-width" [class.full-width]="showbackButton">
        <div *ngIf="showView === ''">
          <ws-education-list [isEkshamata]="isEkshamata" [data]="selectedIndexData"></ws-education-list>
        </div>
        <div *ngIf="showView">
          <ws-education-edit [data]="selectedIndexData"></ws-education-edit>
        </div>
      </div>
    </ng-container>
    <div *ngIf="selectedIndex === 'language' || selectedIndex === 'certificates'"
      style="margin-bottom: 70px; margin-top: 25px;" class="full-width" [class.full-width]="showbackButton">
      <ws-mobile-profile-nav [trigerrNavigation]="trigerrNavigation" [showbackButton]="showbackButton"
        [showLogOutIcon]="showLogOutIcon"></ws-mobile-profile-nav>
      <ng-container *ngIf="selectedIndex === 'language'">
        <h4 class="section-heading" style="font-size: 1.5rem; font-weight: 400;">{{ selectedIndexData?.title | translate
          }}</h4>
        <form [formGroup]="userForm">
          <div class="form-group" *ngFor="let lang of selectedIndexData.optionsList; let i = index;">
            <label class="radio cursor-pointer">
              <input type="radio" name="language" [value]='lang.code' formControlName="language"><span
                style="margin-left:5px">{{ lang.name | translate }}</span>
            </label>
          </div>
          <button type="submit" class="save-btn" (click)="saveLanguage(userForm)">
            {{ selectedIndexData?.button?.label | translate }}</button>
        </form>
      </ng-container>
      <ng-container *ngIf="selectedIndex === 'certificates'">
        <ng-container *ngIf="isLoading">
          <div class="shimmer shimmer-text"></div>
          <div class="shimmer-card" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            <div class="shimmer-container">
              <div class="shimmer shimmer-image"></div>
              <div class="shimmer shimmer-text"></div>
              <div class="shimmer shimmer-button"></div>
            </div>
          </div>
        </ng-container>
        <p class="text-xl inline-block header2" *ngIf="!isLoading && certificates && certificates.length>0">
          {{ selectedIndextitle | translate }}</p>
        <div *ngFor="let certificate of certificates">
          <ng-container *ngIf="certificates && certificates.length > 0">
            <ws-certificate-received [certificateData]="certificate"></ws-certificate-received>
          </ng-container>
        </div>
        <div *ngIf="!isLoading && certificates.length === 0" class="empty-state">
          <h2>{{ selectedIndexData?.noData | translate }}</h2>
        </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf="!isCommonChatEnabled">
    <img src="/fusion-assets/images/cross.svg" class="cross-icon" alt="cross image" (click)="backToChatIcon()" />
    <a rel="noopener" href="https://wa.me/919632013414?text=Hi" target="_blank">
      <img src="/fusion-assets/images/whatsapp-icon.svg" class="whatsapp-icon" alt="whatsapp image" />
      <div>
        <p class="whtsapp-text">{{ 'Chat with us on WhatsApp' | translate }}</p>
      </div>
    </a>
    <a class="fcapp-text cursor-pointer" (click)="showChat()">
      <img src="/fusion-assets/icons/chat-wa.png" class="whatsapp-icon1" alt="whatsapp" />
      <div>
        <p class="whtsapp-text1">{{ 'Connect with us' | translate }}</p>
      </div>
    </a>
  </div>
</div>