@import 'ws-mixins';

.content {
  // padding: 60px 20px 50px;
  // margin: auto;

  @include breakpoint-gt-s {
    //max-width: 30%;
    padding: 0px 45px 50px;
  }

  @include breakpoint-gt-m {
    //max-width: 35%;
    padding: 0px 45px 50px;
  }

  @include breakpoint-gt-l {
    max-width: 30%;
  }

  @include breakpoint-s {
    // max-width: 50%;
    padding: 0px 45px 50px;
  }

  @include breakpoint-xs {
    max-width: 100%;
    margin-top: 56px;
  }
}
:host ::ng-deep .form-control:disabled, .form-control[readonly] {
    background-color: #ffffff !important;
}
.pencil {
  position: relative;
  left: 1px;
  top: -11px;
  font-size: 20px;
  color: #fff;
}

.edit-pencil {
  font-size: 1.2rem !important;
}

.edit-icon {
  position: relative;
  top: -60px;
  left: 111px;
  width: 32px;
  height: 32px;
  background-color: #1C5D95 !important;
}

.health {
  width: 136px;
  height: 20px;
  left: 25px;
  top: 223px;
}

.edit-button {
  width: 180px;
  background-color: #fff;
  border: 1px solid #3f51b5;
  border-radius: 20px;
  color: #3f51b5 !important;
  font-size: 16px !important;
  line-height: 2 !important;
  margin-top: 12px;
  cursor: pointer;
}

.heading,
.head-2,
.head-3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  margin: 0 !important;
}

.heading {
  font-size: 12px;
  color: #808080;
  margin-top: 4px;
}

.head-2 {
  font-size: 16px;
  line-height: 19px;
  padding: 4px 0 0;
}

.head-3 {
  font-size: 12px;
  line-height: 14px;
  padding: 4px 0 0;
}

.header2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.02em;
}

.profile-border {
  // border: 1px solid #e1e1e1;
  // border-radius: 60px;
  margin: 8px;
}

.competency-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;

}

.log-o {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  gap: 8px;
  position: absolute;
  width: 114px;
  height: 35px;
  background: #2E6491 !important;
  border-radius: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #FFFFFF !important;
  mix-blend-mode: normal;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.mt-5 {
  margin-top: 2.5rem;
}

.div {
  display: inline-grid;
}

.div a {
  margin-bottom: 15px;
  //font-size: 16px;
}

.div a:hover {
  cursor: pointer;
}

.div a span {
  vertical-align: text-top;
  margin-left: 3px;
}

.active {
  // font-weight: 500;
  font-weight: bold;
}

.active img {
  border: 1px solid #000;
  border-radius: 8px
}

.save-btn {
  width: 88px;
  height: 38px;
  background-color: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  //float: right;
  cursor: pointer;
}

.logout-btn {
  width: 80px;
  height: 25px;
  background-color: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border: 0;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  margin-left: 8px;
}

.btnActive {
  background-color: #2E6491;
  width: 95px;
  height: 30px;
  border: 1px solid #3f51b5;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: small;
  margin-right: 5px;
}

.nonActive {
  background-color: white;
  width: 95px;
  height: 30px;
  border: 1px solid #2E6491;
  border-radius: 20px;
  color: #2E6491;
  font-size: small;
  justify-content: center;
}
.user-basic-details{
  background-image: url('/fusion-assets/images/Background-acc-svg2.svg');
  background-size: cover;
  background-position: center;
  padding: 16px 27px;
  min-height: 101px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile-user-name{
  //styleName: Header 2;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.02em;
  text-align: left;
  padding-bottom: 5px;
}
.profile-user-position{
  //styleName: Body;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: -0.02em;
  text-align: left;

}

.web-help-btn {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.75px;
    color: #000000;
    background-color: #ADD1F0;
    height: 30px;
    width: 173px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    border: 0.25px 0px 0px 0px;
    display: flex
;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.help-btn{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: #000000 !important;
  background-color: #ADD1F0;
  height: 35px;
  width: 246px;
  padding: 10px;
  text-align: center;
}
.help-btn{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: #000000;
  background-color: #ADD1F0;
  height: 35px;
  width: 246px;
  padding: 10px;
  text-align: center;

padding: 8px 32px 8px 32px;
gap: 8px;
border-radius: 50px ;
border: 0.25px 0px 0px 0px;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
border: none;
}
.options{
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 18.75px;
letter-spacing: -0.02em;
text-align: left;
color: #000000;

}
.last-option{
    display: flex;
  justify-content: space-between;
}
.border-btm{
  border-bottom: 1px solid #DDDDDD;
  padding:0px 0px 15px 0px;
    display: flex;
  justify-content: space-between;
}
.mobile-div{
  padding: 0px 1.5rem;
  display: flex;
    justify-content: center;
    flex-direction: column;
}
.chat-icon {
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    width: 62px;
    top: 3.5rem;
    right: 0rem;
}
.cross-icon {
  width: 5rem;
  left: 0rem;
  bottom: 11.5rem;
  cursor: pointer;
  z-index: 1;
  position: fixed;
}
.whatsapp-icon {
  cursor: pointer;
  z-index: 1;
  left: 1.2rem;
  position: fixed;
  bottom: 6.3rem;
  width: 3.9rem;
}
.whtsapp-text {
  font-weight: 500;
  color: #1C5D95;
  background-color: white;
  z-index: 1;
  left: 6.1rem;
  position: fixed;
  bottom: 6.9rem;
  padding: 0.1rem;
  border-radius: 0.3rem;
}
.blur-screen {
  background-image: linear-gradient(45deg, black, transparent);
  opacity: 1;
  pointer-events: none;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.fcapp-text {
  font-weight: 500;
  color: #1C5D95 !important;
  background-color: white;
  z-index: 1;
  left: 6.1rem;
  position: fixed;
  bottom: 1.9rem;
  padding: 0.1rem;
  border-radius: 0.3rem;
}
.logout-bg{
  background-color: #DFEDF9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
  .btn-logout {
    background-color: #1C5D95 !important;
    width: fit-content;
    border: 1px solid #1C5D95;
    color: white !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    height: 35px;
    width: 312px;
    border-radius: 50px;
  }

  .main-block{
    padding-left: 1.5rem;
  }