<div class="card_box">
  <ng-container *ngIf="cardData?.title">
    <div class="title">{{cardData?.title}}</div>
  </ng-container>
  <ng-container *ngIf="cardData?.description">
    <div class="description">{{cardData?.description}}</div>
  </ng-container>

  <ng-container>
    <ws-proficiency-level [proficiency]="cardData?.proficency"></ws-proficiency-level>
  </ng-container>

  <ng-container *ngIf="cardData?.proficencySource; else actionBtn">
    <div class="proficiency">
      <span>{{cardData?.proficencySource}}</span>
    </div>
  </ng-container>
  <ng-template #actionBtn>
    <button mat-button class="startBtn" (click)="startCompetency()">Start</button>
  </ng-template>
</div>