.header3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #000000;
}
.faq-accordion {
    margin: 3px 0;
    background-color:#F7F7F7 !important;
    border-radius: 8px;
}