<!--faq section-->
<div class="content">
  <section class="p-4">
    <p class="text-xl header3">FAQ’s</p>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="faq-accordion">
          Who can take a course?
        </mat-expansion-panel-header>
        nurse
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="faq-accordion">
          How do I get certified?
        </mat-expansion-panel-header>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="faq-accordion">
          What is sphere?
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</div>