/* carousel.component.css */

.carousel {
  overflow: hidden;
  width: 100%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
  //padding: 0 10px;
  /* Adjust padding as needed */
}

.slide-content {
  display: none;
}

.slide-content.active {
  display: block;
}


.round-buttons {
 background: none;
    border: none;
     padding: 0px 0px 0px 4px !important;
}
.dot-icon{
      width: 10px;
    height: 10px;
}
.round-button {
 width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0 5px;
  cursor: pointer;
  border: none;
}

.round-button.active {
  background-color: rgba(0, 0, 0, 0.978);
}



.tutorials-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  height: 51px;
}

.tutorials-text {
  /* Body */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF !important;
  margin: 0px !important;
}

.banner-image {
  width: 100%;
  height: 100%;
}

.yellow-bg {
  background-color: #D7AC5C;
}

.green-bg {
  background-color: #469788;
}