<div class="content">
  <ws-mobile-profile-nav></ws-mobile-profile-nav>
  <p class="text-2xl mt-2">Work Info</p>

  <form [formGroup]="workInfoForm" class="mt-3">

    <div>

      <div class="form-group">
        <input type="text" formControlName="organizationName" class="form-control" placeholder="Organization Name"
          autocomplete="off">
      </div>

      <div class="form-group">
        <input type="text" formControlName="designation" class="form-control" placeholder="Designation"
          autocomplete="off">
      </div>

      <div class="form-group">
        <input type="text" formControlName="location" class="form-control" placeholder="Location" autocomplete="off">
      </div>

      <div class="form-group mt-4 relative">
        <input [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="doj" autocomplete="off"
          (dateInput)="onDateChange($event.value)" placeholder="Date of Joining" name="doj" id="doj-inputfield"
          class="form-control" (click)="picker.open()">
        <mat-datepicker-toggle [for]="picker" id="datepicker-icon" class="date-picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div>
        <pre *ngIf="invalidDoj" class="text-danger">You must be at least 18 years old</pre>
      </div>

    </div>

  </form>

</div>