<div id="scrollToHowSphereWorks" class="scrollHowSphereWorks">
  <p class="header2 mb-0">{{ config?.title | translate }}</p>
  <p class="label1">{{ config?.subTitle | translate }}
  </p>
</div>
<section id="scrollToHowSphereWorks" class="scrollHowSphereWorks-block">
  <ng-container *ngIf="videoData?.length>0">
    <div class="block-container " *ngFor="let video of videoData">
      <div class="how-work-content" (click)="openVideoPopup(video?.url)">
        <iframe class="how-work-iframe" [src]="video.url" allowfullscreen webkitallowfullscreen mozAllowFullScreen
          style="border:none" allow="autoplay *; fullscreen *; encrypted-media *; microphone; camera;"
          [title]="video?.title | translate"></iframe>
        <div class="video-div">
          <p class="videoTitle">{{ video?.title | translate }}</p>
          <p class="leading-snug videoDes">{{ video?.description | translate }}</p>
        </div>

      </div>
    </div>
  </ng-container>
</section>