@use 'ws-mixins';

.scrollHowSphereWorks{
  padding: 0px 85px;
  margin-top: 10px;
}
.how-work-content {
    // background: #FFFF !important;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px #00000073;
  background: var(--theme-bg, #fff) !important;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-radius: 20px;
}
video {
  border-radius: 10px;
}
.videoTitle {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 2px !important;
  margin-top: 16px !important;

}

.videoDes {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
}

.video-div {
  margin: auto 10px;
}

video::-webkit-media-controls-play-button {
  // background-color: rgba(0, 0, 0, 0.52);
  border-radius: 50%;
  margin-left: 20px;
  margin-bottom: 7px;
  height: 34px;
}

.how-work-iframe{
  display: flex;
  // width: 297px;
  // height: 184px;
  border-radius: 25px;
  pointer-events: none;
}
.scrollHowSphereWorks-block{
  display: flex;
  flex-wrap: wrap;
  gap: 85px !important;
}
.m-10{
  margin: 10px;
}
.header2{
  color: var(--text-color);
/* Header 1 */
font-family: 'Roboto';
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 38.4px;
letter-spacing: -0.64px;
}
.label1{
  color: var(--text-color);
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.32px;
}
.block-container{
  width: 376px;
height: 297px;

border-radius: 20px 0px 0px 0px;
// opacity: 0px;

}
@media only screen and (min-width: 768px) and (max-width: 959px){
.scrollHowSphereWorks{
  padding: 0px 50px;
}
.scrollHowSphereWorks-block{
  padding: 0px 40px;
}
.block-container{
  width: 208px;
}
.how-work-content{
  box-shadow: 0px 0px 8px 0px #00000073;

  height: 275px;
  // background: #FFFF !important;
}
}
@media only screen and (min-width: 1360px) and (max-width:1500px){
.block-container{
  width: 320px !important;
}
}

@media (max-width: 767px) {
  .scrollHowSphereWorks {
    padding: 0px 24px 80px 24px;
  }

  .scrollHowSphereWorks-block{
    gap: 0px !important;
  }

  .header2 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #424242 !important
  }

  .label1 {
    font-size: 14px;
    line-height: 17px;
    color: #808080 !important
  }

  .block-container {
    width: 100%;
    height: auto;
  }

  .how-work-content {
    border-radius: 5px;
    flex-direction: row;
  }

  .how-work-iframe {
    border-radius: 10px;
    display: flex;
    width: 125px;
    height: 100px;
    pointer-events: none;
  }
}
.howDoesItWorksDialog .mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 30px !important;
}