<section id="scrollToHowSphereWorks" class="scrollHowSphereWorks">
  <p class="header2 mb-0">{{ config?.title | translate }}</p>
  <p class="label1" *ngIf="!isXSmall$">{{config?.subTitle | translate}}</p>
  <p class="label1" *ngIf="isXSmall$">{{config?.subTitleMobile | translate }}</p>
  <div *ngIf="videoData?.length>0" class="scrollHowSphereWorks-block">
    <div class="block-container " *ngFor="let video of videoData">
      <div class="how-work-content" tabindex="0" role="button" (click)="openVideoPopup(video?.url)"
        (keydown.enter)="openVideoPopup(video?.url)" (keydown.space)="openVideoPopup(video?.url); $event.preventDefault()">
        <div class="how-work-thumbnail">
          <img [src]="getYoutubeThumbnail(video.url)" [alt]="video?.title | translate" class="how-work-thumb-img" />
          <div class="play-overlay">
            <mat-icon class="play-icon">play_circle_filled</mat-icon>
          </div>
        </div>
        <div class="video-div">
          <p class="videoTitle">{{ video?.title | translate }}</p>
          <p class="leading-snug videoDes">{{ video?.description | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>