@import 'ws-mixins';

.scrollHowSphereWorks{
  padding: 0px 157px;
  margin-top: 10px;
}
.how-work-content {
  box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-radius: 20px;
}
video {
  border-radius: 10px;
}
.videoTitle {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin-bottom: 2px !important;
  margin-top: 16px !important;

}

.videoDes {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}

.video-div {
  margin: auto 10px;
}

video::-webkit-media-controls-play-button {
  background-color: rgba(0, 0, 0, 0.52);
  border-radius: 50%;
  margin-left: 20px;
  margin-bottom: 7px;
  height: 34px;
}

.how-work-iframe{
  display: flex;
  // width: 297px;
  // height: 184px;
  border-radius: 25px;
}
.scrollHowSphereWorks-block{
  display: flex;
  flex-wrap: wrap;
    padding: 0px 149px;

}
.m-10{
  margin: 10px;
}
.header2{
  color: #000;
/* Header 1 */
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 38.4px;
letter-spacing: -0.64px;
}
.label1{
  color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.32px;
}
@media only screen and (min-width: 600px) and (max-width: 959px){
.scrollHowSphereWorks{
  padding: 0px 50px;
}
.scrollHowSphereWorks-block{
  padding: 0px 40px;
}
.block-container{
  width: 208px;
}
.how-work-content{
  height: 275px;
}
}
@media only screen and (min-width: 1360px) and (max-width:1500px){
.block-container{
  width: 320px !important;
}
}