<!--page banner-->
<div class="banner-container">
  <div class="carousel">
    <div class="banner-heading-container px-4">
      <div [innerHTML]="'Access free Healthcare courses' | translate"></div>
      <div [innerHTML]="'
        High quality content from experts
      ' | translate"></div>
      <!-- <div class="create-account">
        <a role="button" matRipple class="flex flex-col mt-8 px-2 box-sizing-box" (click)="createAcct()" active
          [ngStyle]="{'width':'inherit'}" routerLinkActive="ws-mat-accent-text">
          <ng-container>
            <button [innerHTML]="'
              Create Account' | translate"></button>
          </ng-container>
        </a>
      </div> -->
    </div>
    <div class="slides" [style.transform]="'translateX(' + (-currentSlideIndex * 100) + '%)'">
      <ng-container *ngFor="let data of dataCarousel; let i = index">
        <div class="slide" [class.active]="i === currentSlideIndex" (click)="scrollToHowSphereWorks(data.scrollEmit)">
          <img class="banner-image" [src]="data.img" alt="Carousel" loading="lazy">
        </div>
      </ng-container>
    </div>


  </div>
</div>




<div *ngFor="let data of dataCarousel; let i = index">
  <div (click)="scrollToHowSphereWorks(data.scrollEmit)" class="slide-content" [class.active]="i === currentSlideIndex">
    <div [className]="data.scrollEmit">
      <!-- <p class="tutorials-text" *ngIf="lang == 'en' ">{{data.title}} <span (click)="scrollToContent(data.scrollEmit)"> >
        </span> </p>
      <p class="tutorials-text" *ngIf="lang == 'hi' ">{{data.titleHi}} <span (click)="scrollToContent(data.scrollEmit)">
          > </span> </p> -->
      <div>
        <button *ngFor="let _ of dataCarousel; let i = index" [ngClass]="{ 'active': i === currentSlideIndex }"
          (click)="goToSlide(i)" class="round-buttons">
          <img class="dot-icon" *ngIf="i === currentSlideIndex" src="/fusion-assets/icons/active_dot.svg"
            alt="Active Dot">
          <img class="dot-icon" *ngIf="i !== currentSlideIndex" src="/fusion-assets/icons/gray_dot.svg"
            alt="Inactive Dot">
        </button>
      </div>
    </div>
  </div>
</div>
<div class="flex info-block">
  <div class="info-container info-disaplay-bg1">
    <div class="flex info-box">
      <img src="/fusion-assets/images/globe.png" class="count-sphere-icons" alt="Sphere Icons" />
      <div class="info-number" *ngIf="bannerStatus">{{bannerStatus.learner_onboard}}</div>
    </div>
    <p [innerHTML]="'Learners onboarded' | translate"></p>
  </div>
  <div class="info-container info-disaplay-bg2">
    <div class="flex info-box">
      <img src="/fusion-assets/images/cert.png" class="count-sphere-icons" alt="Sphere Icons" />
      <div class="info-number" *ngIf="bannerStatus">{{bannerStatus.course}}</div>
    </div>
    <p [innerHTML]="'Number of courses' | translate"></p>
  </div>
  <div class="info-container info-disaplay-bg2">
    <div class="flex info-box">
      <img src="/fusion-assets/icons/carbon_course.svg" class="count-sphere-icons" alt="Sphere Icons" />
      <div class="info-number" *ngIf="bannerStatus">{{bannerStatus.cne_points}}</div>
    </div>
    <p [innerHTML]="'CNE Hours' | translate"></p>
  </div>
  <div class="info-container info-disaplay-bg1">
    <div class="flex info-box">
      <img src="/fusion-assets/images/cert.png" class="count-sphere-icons" alt="Sphere Icons" />
      <div class="info-number" *ngIf="bannerStatus">{{bannerStatus.certificates_issues}}</div>
    </div>
    <p [innerHTML]="'Total certificate issued' | translate"></p>
  </div>
</div>
<div class="create-account">
  <h3>{{ 'New User?' | translate }}</h3>
  <a *ngIf="showCreateBtn === true && (this.configSvc.userProfile === null)" role="button" matRipple
    class="flex items-center flex-col mt px-2 box-sizing-box" (click)="createAcct()" active
    [ngStyle]="{'width':'inherit'}" routerLinkActive="ws-mat-accent-text">
    <ng-container>
      <button [innerHTML]="'
        Create Account' | translate"></button>
    </ng-container>
  </a>
</div>