<!--page banner-->
<div class="banner-container">
  <!--upskill now section-->
  <div class="banner-heading" i18n>Access free Healthcare courses</div>
  <div class="banner-mini-heading">
    High quality content from experts
  </div>
  <img class="banner-image" src="/fusion-assets/images/new-banner.png" alt="Banner image" loading="lazy">

</div>
<div class="flex info-block">
  <div class="info-container info-disaplay-bg1">
    <div class="flex">
      <img src="/fusion-assets/images/globe.png" class="count-sphere-icons" alt="Sphere Icons" />
      <div class="info-number">13+</div>
    </div>
    <p class="info-text">Language options</p>
  </div>
  <div class="info-container info-disaplay-bg2">
    <div class="flex">
      <img src="/fusion-assets/images/cert.png" class="count-sphere-icons" alt="Sphere Icons" />
      <div class="info-number">13+</div>
    </div>
    <p class="info-text">Courses with CNE points</p>
  </div>
  <div class="info-container info-disaplay-bg2">
    <div class="flex">
      <img src="/fusion-assets/images/award.png" class="count-sphere-icons" alt="Sphere Icons" />
      <div class="info-number">13+</div>
    </div>
    <p class="info-text">Certificate Courses</p>
  </div>
  <div class="info-container info-disaplay-bg1">
    <div class="flex">
      <img src="/fusion-assets/images/cert.png" class="count-sphere-icons-n" alt="Sphere Icons" />
      <div class="info-number">157</div>
    </div>
    <p class="info-text">Learners Onboarded</p>
  </div>

</div>