@import 'ws-mixins';

.banner-container {
    display: flex;
    flex-wrap: wrap;
}

.banner-heading {
    padding-left: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #000000;
}

.banner-mini-heading {
    padding-left: 15px;

    /* Body */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: -0.02em;

    color: #000000;
}

// @media only screen and (max-width: 599px)
// .info-container[_ngcontent-sxu-c23] {
//     width: 160px;
// }
.banner-image {
    max-width: 400px;
}

@media (min-width:320px)  {
    .banner-image{
        max-width: 300px;
    }
    .info-container {
        width: 160px;
    }
}

@media (min-width:375px)  {
    .banner-image{
        max-width: 360px;
    }
    .info-container {
        width: 187.5px;
    }
}

@media (min-width: 390px) {
    .info-container {
        width: 194.5px;
    }
}

@media (min-width:412px) {
    .info-container {
        width: 205.5px;
    }
}

@media (min-width:414px) {
    .banner-image {
        max-width: 410px;
    }

    .info-container {
        width: 206.5px;
    }
}


@media (min-width:425px)  {
     .banner-image{
        max-width: 410px;
    }
    .info-container {
        width: 212.5px;
    }
}

.info-block {
    flex-wrap: wrap;
    margin-top: -12px;
}

.info-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info-disaplay-bg1 {
    background: #F1E7E3;
}

.info-disaplay-bg2 {
    background: #F5F5F5;
}

.info-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
    /* or 180% */

    letter-spacing: -0.02em;

    color: #14446C;
}

.info-text {
    margin-top: 5px !important;
    text-align: center;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    letter-spacing: -0.02em;
    color: #14446C;
}

.tutorials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #469788;
    height: 51px;
}

.tutorials-text {
    /* Body */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF !important;
    margin: 0px !important;
}

.count-sphere-icons {
    width: 25px;
    height: 25px;
}

.info-box {
    align-items: center;
}

.create-account {
    background-color: #DFEDF9;
    z-index: 9;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 15px;
}

.create-account p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

/* carousel.component.css */

.carousel {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  //padding: 0 10px;
  /* Adjust padding as needed */
}

.slide-content {
  display: none;
}

.slide-content.active {
  display: block;
}


.round-buttons {
//   display: flex;
//   // flex-direction: column;
//   justify-content: center;
//  // margin-top: 10px;
//   gap: 5px;
//   background: #469788;
}

.round-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0 5px;
  cursor: pointer;
  border: none;
}

.round-button.active {
  background-color: rgba(0, 0, 0, 0.978);
}
.scrollToCneCourses{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #D7AC5C;
    height: 51px;
    margin-bottom: 12px !important;
    margin-top: 0px !important;
    flex-direction: column;
}
.scrollToHowSphereWorks{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #469788;
    height: 51px;
    margin-bottom: 12px !important;
    margin-top: 0px !important;
    flex-direction: column;
}
.banner-image {
    width: 400px;
    height: 200px;
}