<div class="top-blue-color">
  <div class="login-page-content">
    <div *ngIf="(isXSmall$ | async) === true" class="flex justify-content-between top-block">
      <div class="flex justify-content-between align-items-center back-btn">
        <button (click)="redirect('otp')" mat-icon-button [disableRipple]="true" class="back-icon">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
      <div (click)="help()" (keydown)="handleKeyDown($event)" class="help-btn"><span>{{ 'Help' | translate }}</span>
        <img class="help-icon" alt="help-icon" src="../../../fusion-assets/icons/support_agent_blue.png" />
      </div>
    </div>

    <div class="login-card">
      <div class="check-email-text"><span>{{ 'Check your' | translate }} </span> <span
          *ngIf="emailPhoneType === 'email'">{{ 'Email' | translate }}</span>
        <span *ngIf="emailPhoneType === 'phone'">{{ 'SMS' | translate }}</span>!
      </div>
      <div class="enter-code-text mt-2 mb-4"><span>{{ 'We have sent an OTP to' | translate }} </span><span
          class="text-dark">{{signUpdata.value.emailOrMobile}}</span>
      </div>
      <div class="img-box">
        <img class="otp-image" alt="" src="../../../fusion-assets/images/Frame150.svg">
      </div>
      <div class="login-timer">
        <span class="login-timer-text">{{ 'OTP expires in' | translate }}</span>&nbsp;<span class="login-timer-count"
          [ngClass]="{ 'red-text': isBelowOneMinute }">{{resendTimerText}}</span>&nbsp;minutes
      </div>

      <div class="input-content">
        <div class="input-content-wrapper">
          <form [formGroup]="loginOtpForm" id="form-login" action="" method="post">
            <div class="form-group">

              <div *ngIf="emailPhoneType === 'phone'" [formGroup]="loginOtpForm" class="otp-input-container">
                <input class="otp-input" type="text" maxlength="1" formControlName="otp1" #otp1
                  aria-label="OTP digit 1" (input)="moveFocus(otp1, otp2)" (keydown)="backSpaceEvent($event, otp1, otp1)" />
                <input class="otp-input" type="text" maxlength="1" formControlName="otp2" #otp2
                  aria-label="OTP digit 2" (input)="moveFocus(otp2, otp3)" (keydown)="backSpaceEvent($event, otp2, otp1)" />
                <input class="otp-input" type="text" maxlength="1" formControlName="otp3" #otp3
                  aria-label="OTP digit 3" (input)="moveFocus(otp3, otp4)" (keydown)="backSpaceEvent($event, otp3, otp2)" />
                <input class="otp-input" type="text" maxlength="1" formControlName="otp4" #otp4
                  aria-label="OTP digit 4" (input)="moveFocus(otp4, null)" (keydown)="backSpaceEvent($event, otp4, otp3)" />
              </div>
              <div *ngIf="emailPhoneType === 'email'" [formGroup]="loginOtpForm" class="otp-input-container">
                <input tabindex="0" id="code" class="form-control input-box" formControlName="code" type="text"
                  autocomplete="off" aria-label="Code"
                  [placeholder]="emailPhoneType === 'email' ? ('Code' | translate) : ('OTP' | translate)">
              </div>
            </div>
            <div class="form-group mt-4 mb-4 activeLink">
              <span>{{ 'Did not receive a OTP?' | translate }}</span>
              <span class="resend-text cursor-pointer" tabindex="0" role="button" (click)="resendOTP(emailPhoneType)"
                (keydown.enter)="resendOTP(emailPhoneType)" (keydown.space)="resendOTP(emailPhoneType); $event.preventDefault()">
                {{ 'Click Here to resend' | translate }}</span>
            </div>
            <span *ngIf="!loginVerification" class="button-span">
              <button [disabled]="!loginOtpForm?.valid" class="form-group login-button mt-4 cursor-pointer" name="login"
                type="submit" (click)="verifyOtp()">{{ 'Next' | translate }}</button>
            </span>
            <span *ngIf="loginVerification" class="button-span">
              <button [disabled]="!loginOtpForm?.valid" class="form-group login-button mt-4 cursor-pointer" name="login"
                type="submit" (click)="loginVerifyOtp()">{{ 'Next' | translate }}</button>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="overlay" *ngIf="isLoading">
  <div class="loader-container">
    <div class="loader-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</div>