@import 'ws-common';
@import 'ws-mixins';

.login-page-content {
  box-sizing: border-box;
  // padding: $size-m;
  @extend %page-center;
  @extend %height-mat-toolbar-sibling;
  padding: 0;
  box-sizing: border-box;

  @include breakpoint-gt-s {
    max-width: 30%;
  }

  @include breakpoint-s {
    max-width: 50%;
    padding: 12px;
  }

  @include breakpoint-xs {
     max-width: 100%;
    margin: auto;
    margin: 0px !important;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px 40px 0px 0px;
    display: block;
    background: #fff;
  }
}
 .otp-input-container{
    display: flex !important;
    justify-content: space-between;
    margin-top: 1rem;
  }
.login-card {
  margin: 0;
    padding: 0px 20px 30px 30px;

  //padding: 20px 20px 30px 20px;
  color: #000;
  font-size: 14px;
  line-height: 17px;
}

.check-email-text {
  font-size: 32px;
  line-height: 38px;
}

.enter-code-text {
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
color: #808080;

}

.img-box {
  //width: 90%;
  //margin: auto;
  text-align: center;
}

.input-content {
  position: absolute;
}

.input-box {
  width: 295px;
  height: 35px;
  padding: 4px 12px;
  font-size: 16px;
  line-height: 19px;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 8%);
  border-radius: 6px;
  border: 1px solid #bbb;
}

.login-button {
  width: 98px;
  height: 38px;
  background: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  right: 0;
}

.resend-text {
  color: #2873b2;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (min-width:600px) {

  .login-button {
    width: 100%;
  }

  .img-box {
    width: 90%;
  }
}
.red-text {
  color: red;
}
@media screen and (max-height: 700px) {
  /* Adjust the height for mobile screens */
.otp-image{
  width:165px !important;
   height:165px !important;
}
.mb-4 {
    margin-bottom: 0.5rem !important;
}
}
@media screen and (max-width:600px) {
  .login-timer-text{
    color: #808080 !important;
  }
      .top-blue-color{
    background: linear-gradient(180deg, #EFF6FC 100%, #DCEFEC 32.46%, #FFFCC8 65.57%, #F9F3E8 98.36%);
}
.otp-image{
  width:250px;
   height:175px;
}
    .help-btn{
        display: flex;
        /* justify-content: space-between; */
        gap: 12px;
        width: 75px;
        height: 36px;
        color: #2E6491;
        border-radius: 63px;
        border: 1px 0px 0px 0px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        /* text-align: left; */
        border: 1px solid #2E6491;
        padding: 8px;
  }
  .otp-input-container{
    display: flex !important;
    justify-content: space-between;
    margin-top: 1rem;
  }
    .top-block{
 padding: 20px;
 align-items: center;
  }
  .otp-input{
    border: none;
    width: 56px;
    height: 55px;
    gap: 0px;
    border-radius: 4px ;
    box-shadow: 0px 0px 4px 0px #00000040;
    text-align: center;
  }
  .input-box {
    width: 88%;
  }
  .login-timer{
    display: flex;
    justify-content: right;
  }

  .input-content {
    width: 85%;
  }

  .login-button {
    right: 12px;
    z-index: 9999;
  }
}
  .otp-input{
    border: none;
    width: 56px;
    height: 55px;
    gap: 0px;
    border-radius: 4px ;
    box-shadow: 0px 0px 4px 0px #00000040;
    text-align: center;
  }
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000 !important;
  background-color: #fff;
}

.relative-content {
  position: relative;
  top: 7px;
  left: 10px;
  font-weight: 800;
  color: white;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-ripple {
  display: inline-block;
  position: relative;
  width: 84px;
  height: 84px;
}

.loader-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: loader-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loader-ripple {
  0% {
    top: 38px;
    left: 38px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -1px;
    left: -1px;
    width: 78px;
    height: 78px;
    opacity: 0;
  }
}

button:disabled {
  opacity: 0.5;
}