<div class="login-page-content">
  <div class="login-card">
    <header class="login-header">
      <div>
        <a href="/public/home">
          <img alt="logo" class="main-logo" src="/assets/instances/eagle/app_logos/aastar-logo.svg">
        </a>
      </div>
    </header>
    <div class="img-box">
      <img width="175" height="165" src="../../../fusion-assets/images/email-code.png">
    </div>
    <div class="check-email-text mt-6">Check your <span *ngIf="emailPhoneType === 'email'">email</span>
      <span *ngIf="emailPhoneType === 'phone'">SMS</span>!
    </div>
    <div class="enter-code-text mt-2 mb-4">Enter the <span *ngIf="emailPhoneType === 'email'">Code</span>
      <span *ngIf="emailPhoneType === 'phone'">SMS</span>
    </div>
    <div class="input-content">
      <div class="input-content-wrapper">

        <form [formGroup]="loginOtpForm" id="form-login" action="" method="post">

          <div class="form-group">
            <input tabindex="1" id="code" class="form-control input-box" formControlName="code" type="text"
              autocomplete="off" placeholder="Code">
          </div>

          <div class="form-group mt-4 mb-4">
            Did not receive a mail? <span class="resend-text" (click)="resendOTP()">Click Here</span> to
            resend
          </div>

          <button class="form-group login-button mt-4" name="login" type="submit" (click)="verifyOtp()">Next</button>
        </form>
      </div>
    </div>
  </div>
</div>