<div class="content">
  <!--banner and up skill section-->
  <ws-mobile-home></ws-mobile-home>

  <!--latest course-->
  <div>
    <ng-container [wsResolverWidget]="pageLayout">
    </ng-container>
  </div>

  <!--50+ organization-->
  <ws-mobile-organization></ws-mobile-organization>

  <!-- How does it work section -->
  <section class="mt-4">
    <ng-container>
      <p class="text-2xl">How does it work?</p>
      <p class="font-normal text-sm grey-color">3 simple steps</p>
      <ws-mobile-how-does-work [data]="videoData" (openPlayer)="openIframe($event)"></ws-mobile-how-does-work>
    </ng-container>
  </section>
</div>

<!--leaderboard section-->
<div *ngIf="leaderBoard">
  <ws-mobile-leaderboard></ws-mobile-leaderboard>
</div>

<!--FAQ section-->
<section class="mb-10">
  <ws-mobile-page-faq></ws-mobile-page-faq>
</section>