<div class="paddingView">
  <h1 id="heading" i18n>My Courses</h1>
  <mat-tab-group [selectedIndex]="selectedIndex">
    <mat-tab label="Started ({{this.startedCourse.length}})" i18n-label>
      <!--Started -->
      <div class="resource-container" *ngFor="let data of startedCourse; let last = last"
        [ngClass]="{'last-child1': last}">
        <ws-mobile-course-view *ngIf="(isXSmall$ | async) === true" [displayConfig]="myCourseDisplayConfig"
          [courseData]="data"></ws-mobile-course-view>
        <ws-web-course-card *ngIf="(isXSmall$ | async) === false" [displayConfig]="myCourseWebDisplayConfig"
          [courseData]="data"></ws-web-course-card>

      </div>
      <div class="flex justify-center flex-col no-content" *ngIf="this.startedCourse.length === 0">
        <h3 class="mt15" i18n>You have not started any courses.</h3>
        <div class="text-center">
          <button class="outline-btn cursor-pointer" i18n (click)="tabClick()">Check out courses for
            you
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="For You ({{this.coursesForYou.length}})" id="trig" i18n-label>
      <!-- For You -->
      <div class="flex justify-center flex-col no-content" *ngIf="this.coursesForYou.length === 0">
        <h3 class="mt15" i18n>You have no courses.</h3>
      </div>
      <ng-container *ngIf="this.coursesForYou && this.coursesForYou.length>0">
        <div *ngFor="let courseData of coursesForYou; let last = last" class="responsiveDiv"
          [ngClass]="{'last-child2': last}">
          <ws-mobile-course-view *ngIf="(isXSmall$ | async) === true" [displayConfig]="coursesForYouDisplayConfig"
            [courseData]="courseData"></ws-mobile-course-view>
          <ws-web-course-card *ngIf="(isXSmall$ | async) === false" [displayConfig]="coursesForYouDisplayConfig"
            [courseData]="courseData"></ws-web-course-card>
        </div>
      </ng-container>

    </mat-tab>
    <mat-tab label="Completed ({{this.completedCourse.length}})" i18n-label>
      <!-- Completed -->
      <div class="flex justify-center flex-col no-content" *ngIf="this.completedCourse.length === 0">
        <h3 class="mt15" i18n>You have not completed any courses.</h3>
      </div>

      <div class="resource-container" *ngFor="let data of completedCourse; let last = last"
        [ngClass]="{'last-child1': last}">
        <ws-mobile-course-view *ngIf="(isXSmall$ | async) === true" [displayConfig]="completedCourseDisplayConfig"
          [courseData]="data"></ws-mobile-course-view>
        <ws-web-course-card *ngIf="(isXSmall$ | async) === false" [displayConfig]="completedWebCourseDisplayConfig"
          [courseData]="data"></ws-web-course-card>

      </div>

    </mat-tab>
  </mat-tab-group>
</div>
<div class="overlay" *ngIf="isLoading">
  <div class="loader-container">
    <div class="loader-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</div>