<div class="paddingView">
  <h1 id="heading">{{ config?.title | translate }}</h1>
  <mat-tab-group [selectedIndex]="selectedIndex">
    <mat-tab *ngFor="let tab of config?.tabMenu" [label]="(tab?.label | translate) + ' (' + tab?.data.length + ')'">
      <div class="flex justify-center flex-col no-content" *ngIf="tab?.data?.length === 0">
        <h3 class="mt15">{{ tab?.fallbackState?.label | translate }}</h3>
        <div class="text-center" *ngIf="tab?.fallbackState?.button?.show">
          <button class="outline-btn cursor-pointer" (click)="tabClick()">
            {{ tab?.fallbackState?.button.label | translate }}</button>
        </div>
      </div>
      <div [class]="tab.className" *ngFor="let data of tab?.data; let last = last" [ngClass]="{'last-child1': last}">
        <ws-mobile-course-view *ngIf="(isXSmall$ | async) === true" [displayConfig]="tab?.displayConfig"
          [courseData]="data"></ws-mobile-course-view>
        <ws-web-course-card *ngIf="(isXSmall$ | async) === false" [displayConfig]="tab?.displayConfigWeb"
          [courseData]="data"></ws-web-course-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="overlay" *ngIf="isLoading">
  <div class="loader-container">
    <div class="loader-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</div>