@import 'ws-mixins';


:host ::ng-deep .card-long {
  width: 100% !important;
}
::ng-deep .text-block-mini{
  flex: 75%;
}
::ng-deep .with-progress .button-container {
  margin-left: auto; /* Align buttons to the right when progress bar is displayed */
}
::ng-deep .button-container {
  display: flex;
}
::ng-deep .mat-tab-body-content{
  padding: 0px 5px 0px 1px !important;

}
::ng-deep .progress-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#heading {
  //margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0px;

  @include breakpoint-xs {
    margin-top: 0px;
  }
}

.hideLower {
  font-size: 14px;

  @include breakpoint-xs {
    display: none !important;
  }
}

@media (max-width: 767px) {
  #heading {
    margin-left: 15px;
    margin-bottom: 10px;
  }
  ::ng-deep .mat-progress-bar {
    width: 100% !important;

  }
  .responsiveDiv {
    // margin: 10px auto;
    // display: table;
     margin: 20px 15px 10px 15px !important;
  }

  .hideLower {
    display: none !important;
  }

  .paddingView {
    padding: 80px 0px 0px 0px;
  }

  .resource-container {
    margin: 20px 15px 10px 15px !important;
  }

  #recommendHeading {
    display: block !important;
    margin-left: 20px;
    margin-top: 15px;
    text-align: center;
  }

  .card-title {
    font-size: 16px !important;
  }

  .last-child2 {
    height: 270px !important;
  }

  .last-child1,
  .last-child3 {
    padding-bottom: 50px !important;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .paddingView {
    padding: 10px 100px 10px 60px;
  }

  .resource-container {
    margin: 20px 0px 8px 1px !important;
  }
  ::ng-deep .mat-progress-bar {
    width: 50% !important;
  }
  ::ng-deep .mat-tab-label {
    padding: 0px !important; // adjust this to whatever padding you need
    justify-content: left !important;
  }
}

@media (min-width: 1280px) {
  .paddingView {
    padding: 10px 315px 10px 60px;
  }
  :host ::ng-deep .mat-progress-bar {
      width: 50% !important;
  }
  .resource-container {
    margin: 20px 0px 8px 1px !important;
  }

  ::ng-deep .mat-tab-label {
    padding: 0px !important; // adjust this to whatever padding you need
    justify-content: left !important;
  }

  .myCoursesList {
    padding-right: 1.5rem !important;
  }
}

@media (min-width: 768px) {
  .responsiveDiv {
    float: left;
    margin: 20px 20px 10px 6px;
  }

  #recommendHeading {
    display: none !important;
  }

  .desktopView {
    width: 74% !important;
    white-space: pre-line;
  }
}

.blue-btn {
  background: #1C5D95 !important;
  font-size: 14px;
  border-radius: 50px;
  color: #fff !important;
  padding: 8px 32px;
  line-height: 19px;
}

.resource-container {
  // display: flex;
  // justify-content: space-between;
  // flex-direction: row;
  // align-items: flex-start !important;

  .card-thumbnail {
    $image-height: 65px;
    width: (16 / 9) * $image-height;
    cursor: pointer;
    height: 70px;
    min-width: 100px;
    border-radius: 10px;
    border: 0.4px solid #2e6491;
  }

  .card-title {
    font-size: 17px !important;
    color: #1C5D95;
    line-height: 17px;
    font-weight: 400;
  }

}

.details-container {
  place-self: center;
}

.progress-bar {
  height: 15px;
  width: calc(100% - 1rem);
  border-radius: 10px;
}

.value {
  color: #000000;
  width: 275px;
  display: flex;
  font-weight: 400;
  line-height: 14px;
  font-size: 14px;
}

:host ::ng-deep {
  .mat-progress-bar-fill:after {
    background: #2E6491 !important;
    border-radius: 10px;
  }

  .mat-progress-bar-buffer {
    background-color: #F7F7F7 !important
  }
}

.video-circle {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 35%;
  top: 30%;
  border-radius: 50%;
  background: #00000085;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  opacity: 1;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: rgb(3, 22, 21) !important;
}

.fitsize {
  width: 100%;
  max-width: 100% !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 150px;
  box-shadow: 0px 0px 3px 0px #00000073;

}

.text-over {
  position: relative;
}

.topStyle {
  position: absolute;
  top: 0px;
  padding: 5px;
  background-color: #D68480;
  color: #FFFFFF;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bottomStyle {
  position: absolute;
  bottom: -15px;
  right: 0px;
  padding: 5px;
  background-color: #519DB2;
  color: #FFFFFF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.course-container {
  box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
  border-radius: 12px;
  height: auto;
}

.course-container .name {
  color: #1C5D95;
  font-weight: 400;
  font-size: 14.5px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.mt15 {
  margin-top: 15px !important;
  margin-left: 15px !important;
}

.outline-btn {
  border-radius: 50px;
  color: #2E6491 !important;
  border: 1px solid #2E6491;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  height: 35px;
  background-color: #fff;
}

.heightBox {
  height: 60px;
  text-align: left;
  padding: 16px 5px;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000 !important;
  background-color: #fff;
}

.relative-content {
  position: relative;
  top: 7px;
  left: 10px;
  font-weight: 800;
  color: white;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-ripple {
  display: inline-block;
  position: relative;
  width: 84px;
  height: 84px;
}

.loader-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: loader-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loader-ripple {
  0% {
    top: 38px;
    left: 38px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -1px;
    left: -1px;
    width: 78px;
    height: 78px;
    opacity: 0;
  }
}