.proficiency-level {
  border: 1px solid #949494;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  color: #949494;
}

.selected {
  border-color: #DFEDF9;
  background-color: #DFEDF9;
  color: #000000;
}

.gained-level {
  border-color: #1C5D96;
  color: #1C5D96;
}
