<div class="content">
  <p>Hi User! Here are some courses for you</p>
  <p class="text-xl">Start Learning</p>
  <ng-container *ngIf="courseContent && courseContent.length>0">
    <ws-mobile-course-view [courseData]="courseContent[0]"></ws-mobile-course-view>
  </ng-container>


  <!-- How does it work section -->
  <ws-mobile-how-does-work (openPlayer)="openIframe($event)"></ws-mobile-how-does-work>

  <!-- Categories Section -->
  <section class="mt-4">
    <p class="text-xl">Categories</p>
    <ws-mobile-category></ws-mobile-category>
  </section>

  <!-- Top certified courses -->
  <section class="mt-4">
    <p class="text-xl">Top certified courses</p>
    <div *ngFor="let course of courseContent">
      <ng-container *ngIf="courseContent && courseContent.length>0">
        <ws-mobile-course-view [courseData]="course"></ws-mobile-course-view>
      </ng-container>
    </div>
    <a href="app/search/learning">
      <p class="text-center blue-color">View all courses</p>
    </a>
  </section>
</div>

<!-- Featured Section-->
<section class="p-4" style="background-color: #F7F7F7;">
  <p class="text-xl">Featured</p>
  <div class="card">
    <img class="card-img-top" src="../../../fusion-assets/images/about-you.png" alt="Course image" height="200"
      width="200">
    <div class="card-body">
      <p class="blue-color leading-8 text-xl">Respectful Maternity Care</p>
      <p class="card-text font-normal">This module will enable you to be a part of the voice that
        advocates for women's rights
        during childbirth
        and learn how to provide companssionate care
      </p>
      <a href="#" class="btn start-btn">Start now!</a>
    </div>
  </div>
</section>

<!-- People follow Section -->
<section class="p-4">
  <p class="text-xl">People you may want to follow</p>
  <p>because you saw Manyata for Mothers</p>
  <div class="horizontal-scroll-content">
    <div *ngFor="let i of [1,2,3,4,5,6,7]" style="height: 260px;">
      <div class="card follow-card">
        <img src="../../../fusion-assets/images/about-you.png" alt="Course image" width="85" height="85"
          class="follow-img">
        <div class="card-body py-1 px-4">
          <p class="card-title blue-color text-base">Rahul Patel</p>
          <p class="font-normal grey-color text-xs">Completed Manyata for Mothers</p>
          <a href="#" class="btn follow-btn">Follow</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="py-0 px-4">
  <ng-container *ngIf="courseContent && courseContent.length>0">
    <ws-mobile-course-view [courseData]="courseContent[0]"></ws-mobile-course-view>
  </ng-container>
</div>