@import 'ws-mixins';

.line-label {
  position: relative;
  text-align: center;
  margin: 16px 0px;
  display: flex;
  justify-content: center;
}

.line-label span {
  display: inline; /* or inline-block */
}

.line-label::after {
  content: '';
  position: absolute;
  bottom:63%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px; /* Adjust thickness as needed */
  background-color: #000; /* Adjust color as needed */
}

.bg-green::after{
  background: #A4DFCA;
}
.orange::after{
  background: #CBC9B5
}
.line-label span {
  position: relative;

    z-index: 9;
    color: #4B4B4B;
    font-weight: 500;
    font-size: 14px;
    line-height: 28.8px;
    font-family: "Roboto";
}
.cne-text {
  color: #000;

  /* Header 2 */
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  /* 120% */
  letter-spacing: -0.48px;
}

.cne-info {
  color: #000;

  /* Body */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.32px;
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
}

.banner-heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* or 120% */
  padding: 65px 0px 0px 15px !important;
  letter-spacing: -0.02em;

  color: #000000;
}
.header1 {
  text-transform: uppercase !important;
  color: #4B4B4B;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  text-align: left;
  height: 42px;
  background-color: #F6F3D9;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 25px !important;
}
.header0{
  background-color: #C2E3DD !important;
  color:#4B4B4B !important;
  margin-bottom: 25px !important;
}
.banner-mini-heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  padding-left: 15px;
margin-bottom: 10px !important;
  color: #000000;
}

p {
  margin: 0 !important;
  font-weight: 400;
}

.mb-6 {
  margin-bottom: 6rem;
}

.blue-color {
  color: #1C5D95;
}

.grey-color {
  color: #808080
}

.follow-btn {
  border-radius: 20px;
  font-size: 14px;
  padding: 5px 25px;
  margin-top: 20px;
  border: 1px solid #1C5D95;
  color: #1C5D95;
  cursor: pointer;
}

.card {
  margin-top: 10px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
  border-radius: 10px;
  padding: 20px 0;
  border: none;
}

.follow-card {
  margin-top: 10px;
  width: 185px;
  text-align: center;
  padding: 15px 0;
  margin-right: 15px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
  border-radius: 10px;
}

.follow-img {
  border: 1px solid grey;
  border-radius: 50%;
  position: relative;
  left: 30%;
}

.horizontal-scroll-content {
  overflow-x: auto;
  height: 100%;
  flex-wrap: nowrap;
  display: flex;
  align-items: stretch;
  padding-left: 5px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.box-shadow-radius {
  box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
  border-radius: 10px;
}

.appIcon {
  min-width: 276px;
  max-width: 276px;
}

.box {
  margin: 20px 0;
  padding-bottom: 5px;
}

.courseName {
  color: #1C5D95;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0 !important;
}

span.language-text {
  /* background-color: #bcdede; */
  padding: 6px;
  color: #277cc8 !important;
}

img.lang-img {
  width: 35px;
  height: 24px;
}

.banner-image {
  max-width: 100%;
}

@media (min-width:320px) {
  .banner-image {
  max-width: 100%;
  }

  .info-container {
    width: 160px;
  }
}

@media (min-width:375px) {
  .banner-image {
  max-width: 100%;
  }

  .info-container {
    width: 187.5px;
  }
}

@media (min-width:425px) {
  .banner-image {
  max-width: 100%;
  }

  .info-container {
    width: 212.5px;
  }
}

.tutorials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #469788;
  height: 51px;
  margin-top: -11px;
}

.tutorials-text {
  /* Body */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF !important;
  margin: 0px !important;
}

.header2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.lable1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.view-all-course {
cursor: pointer;
    padding: 7px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    color: #2E6491;
    text-decoration: underline;
    background: white;
    border: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    display: flex;
  justify-content: center;

    margin: auto;

}

.bottom-arrow{
  width: 15px;
height: 15px;
top: 14.5px;
left: 1px;
gap: 0px;


}