<div class="content">
  <p class="banner-heading text-2xl py-2 text-base text-capitalize"><span i18n>Welcome
    </span>{{firstName?firstName:''}}!
  </p>
  <p class="banner-mini-heading" *ngIf="userEnrollCourse && userEnrollCourse.length>0 ; else start" i18n>Continue
    Learning</p>
  <ng-template #start>
    <p class="text-2xl banner-mini-heading" i18n>Start Learning</p>
  </ng-template>
  <!-- <img class="banner-image" src="/fusion-assets/images/Mask_group.svg" alt="Banner image" loading="lazy"> -->
  <app-carousel-component></app-carousel-component>
  <!-- <div class="tutorials-container" (click)="scrollToHowSphereWorks()">
    <p class="tutorials-text" i18n>Learn about how Sphere works ></p>
  </div> -->


  <div class="py-1 px-4 mt-8">
    <ng-container *ngIf="userEnrollCourse && userEnrollCourse.length>1">
      <p class="text-2xl" style="padding-top:10px" i18n>My Courses</p>
      <ws-mobile-course-view [courseData]="userEnrollCourse[1]"></ws-mobile-course-view>
    </ng-container>
  </div>
  <!-- Top certified courses -->
  <section class="mt-4 py-1 px-4" *ngIf="topCertifiedCourse && topCertifiedCourse.length>0">
    <p class="text-2xl" i18n>Top Courses</p>
    <div *ngFor="let course of topCertifiedCourse">
      <ng-container *ngIf="topCertifiedCourse && topCertifiedCourse.length>0">
        <ws-mobile-course-view [courseData]="course"></ws-mobile-course-view>
      </ng-container>
    </div>
    <button i18n (click)="viewAllCourse()" class="view-all-course">
      View all courses
    </button>
  </section>
</div>

<!-- Featured Section-->
<section *ngIf="featuredCourse" class="mt-4 py-1 px-4 p-4" style="background-color: #F7F7F7;">
  <p class="text-2xl" i18n>Featured</p>
  <ng-container style="background-color: #FFF;">
    <ws-mobile-course-view [enableConfig]="true" [courseData]="featuredCourse"></ws-mobile-course-view>
  </ng-container>

</section>
<!-- Top CNE points courses -->
<section #scrollToCneCourses id="scrollToCneCourses" class="scrollToCneCourses" class="mt-4 py-1 px-4"
  *ngIf="cneCourse && cneCourse.length>0">
  <p class="cne-text" style="padding-top:10px" i18n>CNE Courses</p>
  <p class="cne-info" style="padding-top:10px" i18n>Curated Courses to get you started</p>

  <div *ngFor="let course of cneCourse">
    <ng-container *ngIf="cneCourse && cneCourse.length>0">
      <ws-mobile-course-view [cnePoints]="'yes'" [courseData]="course"></ws-mobile-course-view>
    </ng-container>
  </div>
  <!-- <button i18n (click)="viewAllCourse()" class="view-all-course">
        View all courses
      </button> -->
</section>
<div class="py-1 px-4 mb-6">
  <!-- How does it work section -->
  <section class="mt-4">
    <ng-container>

      <ws-mobile-how-does-work [data]="videoData"></ws-mobile-how-does-work>
    </ng-container>
  </section>
</div>