.blueButton {
  color: #FFFFFF !important;
  background-color: #1C5D95 !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #1C5D95 !important;
  line-height: 25px;
  height: 40px;
  border-radius: 50px;
  transition: all .25s ease-in;
  width: 65%;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}
.mat-dialog-content{
  font-size: 16px !important;
    font-weight: 500 !important;
    text-align: center !important;

}
.mat-dialog-actions{
justify-content: center !important;
}