<div *ngFor="let data of dataCarousel; let i = index">
  <div (click)="scrollToHowSphereWorks(data.scrollEmit)" class="slide-content" [class.active]="i === currentSlideIndex">
    <div [className]="data.scrollEmit">
      <p class="tutorials-text" *ngIf="lang == 'en' ">{{data.title}} <span (click)="scrollToContent(data.scrollEmit)"> >
        </span> </p>
      <p class="tutorials-text" *ngIf="lang == 'hi' ">{{data.titleHi}} <span (click)="scrollToContent(data.scrollEmit)">
          > </span> </p>
      <div class="round-buttons">
        <button *ngFor="let _ of dataCarousel; let i = index" class="round-button"
          [class.active]="i === currentSlideIndex" (click)="goToSlide(i)"></button>
      </div>
    </div>
  </div>
</div>