<div [ngClass]="{ 'background-ekshamta': isEkshamtaLogin }" *ngIf="(isXSmall$ | async) !== true" class="custom-wrapper">
  <div class="ui raised shadow container segment  login-section">
    <div class="ui one column grid stackable">
      <div class="ui column height-fix">
        <div class="logo">
          <a class="padding-remove-small application-logo" [routerLink]="!isOrgSelectiveCourse ? routerLink : null"
            i18n-matTooltip matTooltip="Home">
            <img alt="logo" *ngIf="isEkshamtaLogin" loading="lazy"
              src="/fusion-assets/images/aastrika-foundation-logo.svg" width="auto" height="40"
              style="margin: 15px 0px;" />
            <img alt="logo" *ngIf="!isEkshamtaLogin" loading="lazy" src="/fusion-assets/images/sphere-new-logo.svg"
              width="auto" height="70" style="margin-left: -15px; height: 70px;" />
          </a>
        </div>
        <div class="max-container" *ngIf="!otpPage">
          <div class="flex justify-content-between top-block">
            <div class="flex justify-content-between align-items-center back-btn">
              <button *ngIf="!isOrgSelectiveCourse" (click)="redirect('createAccount')" mat-icon-button
                [disableRipple]="true" class="back-icon">
                <mat-icon>chevron_left</mat-icon>
              </button>
            </div>
            <div [innerHTML]="'Help
              ' | translate">img class="help-icon" alt="help-icon"
              src="../../../fusion-assets/icons/support_agent_blue.png" />
            </div>
          </div>
          <div class="ui header mtb">
            <h1>{{ ' Welcome! ' | translate }}</h1>
          </div>
          <h4>{{ '
            Login with your Aastrika
            account
            ' | translate }}</h4>
          <h4>{{ '
            Login with your account
            ' | translate }}</h4>
          <div class="field  type-container mw-100">
            <div class="heading" style="margin-right: 30px;">
              <input type="radio" (click)="passwordOrOtp('otp')" name="usePasswordOrOTP" id="useOTPRB"
                style="cursor: pointer;" checked="true">&nbsp;
              <label [innerHTML]="'
                Login with OTP
              ' | translate"></label>
            </div>
            <div style="cursor: pointer;">
              <input type="radio" (click)="passwordOrOtp('password');" name="usePasswordOrOTP" id="usePasswordRB"
                style="cursor: pointer;">&nbsp;
              <label [innerHTML]="'
                Login with Password
              ' | translate"></label>
            </div>
          </div>
          <div id="usePasswordDiv" class="mw-100" *ngIf="selectedField === 'password'">
            <form [formGroup]="loginPwdForm" id="form-login" (ngSubmit)="submitDetails(loginPwdForm)">
              <div class="field-edit-width">
                <mat-form-field appearance="fill" class="margin-top-xs field-edit-width">
                  <mat-label [innerHTML]="'Phone Number (or) Email ID' | translate"></mat-label>
                  <input matInput id="emailOrMobile" formControlName="emailOrMobile" type="text" autocomplete="off"
                    required (input)="checkMobileEmail2()" i18n-placeholder />
                  <mat-error [innerHTML]="'
                    Invalid email or number
                  ' | translate"></mat-error>
                </mat-form-field>
              </div>
              <div class="field">
                <div class="field-edit-width">
                  <mat-form-field appearance="fill" class="margin-top-xs field-edit-width">
                    <mat-label [innerHTML]="'Enter Password' | translate"></mat-label>
                    <input matInput id="password" formControlName="password" [type]="hide2 ? 'password' : 'text'"
                      required autocomplete="off" (input)="checkPassword()" i18n-placeholder />
                    <button mat-icon-button matSuffix type="button" (click)="toggle2()"
                      (keydown)="handleKeyDown($event)" aria-label="Toggle password visibility">
                      <mat-icon>{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error [innerHTML]="'
                      This field is required
                    ' | translate"></mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="flex justify-end">
                <a [innerHTML]="'
                  Forgot Password?
                ' | translate"></a>
              </div>
              <div class="field flex justify-content-center">
                <button [innerHTML]="'Login' | translate"></button>
              </div>
              <div *ngIf="!isEkshamtaLogin&&!isOrgSelectiveCourse" class="field or-container">
                <div class="or-holder" id="or-holder" style="text-align: center;">
                  <span></span>
                  <span [innerHTML]="'or' | translate"></span>
                </div>
              </div>

              <div *ngIf="!isEkshamtaLogin&&!isOrgSelectiveCourse" id="kc-registration" class="field">
                <!-- Debug: isEkshamtaLogin={{isEkshamtaLogin}}, isOrgSelectiveCourse={{isOrgSelectiveCourse}} -->

                <div class="ui flex justify-content-center content  signUpMsg">
                  <a [innerHTML]="'Create an Account' | translate"></a>

                  <div id="selfSingUp" style="height: 30px;">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div id="useOTPDiv" class="mw-100" *ngIf="selectedField === 'otp'">
            <form [formGroup]="loginForm" id="kc-form-login" class=" ui form" action="" method="post" method="post">
              <div class="field-edit-width">
                <mat-form-field appearance="fill" class="margin-top-xs field-edit-width">
                  <mat-label [innerHTML]="'Phone Number (or) Email ID' | translate"></mat-label>
                  <input autocomplete="off" tabindex="0" id="emailOrMobile" required="" (input)="checkMobileEmail()"
                    type="text" class="input-field" trim="blur" matInput formControlName="emailOrMobile" #emailOrMobile
                    i18n-placeholder />
                  <mat-error [innerHTML]="'Invalid
                    email or number' | translate"></mat-error>
                </mat-form-field>
              </div>
              <div class="mdc-card__actions">
                <div class="field flex justify-content-center">
                  <button [innerHTML]="'Get OTP' | translate"></button>
                </div>
                <div *ngIf="!isEkshamtaLogin&&!isOrgSelectiveCourse" class="field or-container">
                  <div class="or-holder" id="or-holder" style="text-align: center;">
                    <span class=""></span>
                    <span [innerHTML]="'or' | translate"></span>
                  </div>
                </div>

                <div *ngIf="!isEkshamtaLogin&&!isOrgSelectiveCourse" id="kc-registration" class="field">
                  <div class="ui content flex justify-content-center  signUpMsg">
                    <a [innerHTML]="'Create an Account' | translate"></a>
                  </div>
                </div>
                <div id="selfSingUp" style="height: 30px;">
                </div>
              </div>
            </form>
          </div>
        </div>
        <ng-container>
          <!-- OTP Form -->
          <div class="otp-page">
            <div class="max-container" *ngIf="otpPage">
              <div class="flex justify-content-between top-block">
                <div class="flex justify-content-between align-items-center back-btn">
                  <button (click)="redirect('otp')" mat-icon-button [disableRipple]="true" class="back-icon">
                    <mat-icon>chevron_left</mat-icon>
                  </button>
                </div>
                <div [innerHTML]="'
                  Help
                  ' | translate">img class="help-icon" alt="help-icon"
                  src="../../../fusion-assets/icons/support_agent_blue.png" />
                </div>
              </div>
              <div class="check-email-text"><span [innerHTML]="'Check your ' | translate"></span> <span
                  [innerHTML]="'Email' | translate"></span>
                <span [innerHTML]="'SMS' | translate"></span>!
              </div>
              <div class="enter-code-text mt-2 mb-2"><span
                  [innerHTML]="'We have sent an OTP to ' | translate"></span><span
                  class="text-dark">{{loginForm.value.emailOrMobile}}</span>
              </div>
              <div class="img-box">
                <img alt="" style="width: 200px; height: 150px;" src="../../../fusion-assets/images/Frame150.svg">
              </div>
              <div class="login-timer">
                <span [innerHTML]="'OTP expires in' | translate"></span>&nbsp;<span
                  class="login-timer-count">{{resendTimerText}}</span>&nbsp;
              </div>
              <form [formGroup]="OTPForm" class="ui form" action="" method="post" method="post" id="kc-totp-login-form">
                <div *ngIf="emailPhoneType === 'phone'" [formGroup]="OTPForm" class="otp-input-container">
                  <input class="otp-input" type="text" maxlength="1" formControlName="otp1" #otp1
                    (input)="moveFocus(otp1, otp2)" (keydown)="backSpaceEvent($event, otp1, otp1)" />
                  <input class="otp-input" type="text" maxlength="1" formControlName="otp2" #otp2
                    (input)="moveFocus(otp2, otp3)" (keydown)="backSpaceEvent($event, otp2, otp1)" />
                  <input class="otp-input" type="text" maxlength="1" formControlName="otp3" #otp3
                    (input)="moveFocus(otp3, otp4)" (keydown)="backSpaceEvent($event, otp3, otp2)" />
                  <input class="otp-input" type="text" maxlength="1" formControlName="otp4" #otp4
                    (input)="moveFocus(otp4, null)" (keydown)="backSpaceEvent($event, otp4, otp3)" />
                </div>
                <div *ngIf="emailPhoneType === 'email'" [formGroup]="OTPForm" class="otp-input-container">
                  <input id="totp" name="OTPcode" i18n-placeholder placeholder="Enter OTP" type="text"
                    class="form-control" name="OTPcode" formControlName="OTPcode" />
                </div>

                <div class="field flex justify-content-center mt-4">
                  <button [innerHTML]="'Submit' | translate"></button>
                </div>
                <div class="field flex justify-content-center">
                  <button [innerHTML]="'Resend
                    OTP' | translate"></button>
                </div>
              </form>
            </div>
          </div>
          <!-- OTP Form Close-->
        </ng-container>

      </div>
    </div>
    <div *ngIf="isEkshamtaLogin" class="web-btm-block-img">
      <img alt="logo" class="btm-bg" src="../../fusion-assets/icons/Frame_149.svg">
    </div>
  </div>
</div>
<div class="top-blue-color" *ngIf="(isXSmall$ | async) === true ">
  <nav aria-label="navbar  " class=" nav-bar-bg1">
    <a class="navbar-brand cursor-pointer" [routerLink]="!isOrgSelectiveCourse ? routerLink : null">
      <img *ngIf="isEkshamtaLogin" alt="logo" style="padding-left: 10px;" width="125px" height="65px"
        src="/fusion-assets/images/aastrika-foundation-logo.svg">
      <img *ngIf="!isEkshamtaLogin" alt="logo" width="125px" height="65px"
        src="./../../../fusion-assets/images/Sphere_Logo_3.svg">
    </a>
  </nav>
  <div class="login-page-content max-container" *ngIf="!otpPage">
    <div *ngIf="(isXSmall$ | async) === true" class="flex justify-content-between top-block">
      <div class="flex justify-content-between align-items-center back-btn">
        <button *ngIf="!isOrgSelectiveCourse" (click)="redirect('createAccount')" mat-icon-button [disableRipple]="true"
          class="back-icon">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
      <div [innerHTML]="'Help
        ' | translate">img class="help-icon" alt="help-icon" src="../../../fusion-assets/icons/support_agent_blue.png"
        />
      </div>
    </div>
    <div class="padding-20 ui header mtb1">
      <h1>{{ ' Welcome! ' | translate }}</h1>
    </div>
    <h4 *ngIf="isEkshamtaLogin||isOrgSelectiveCourse" class=" padding-20 info-text" [innerHTML]="'Login
      with your account
    ' | translate"></h4>
    <h4 *ngIf="!isEkshamtaLogin&&!isOrgSelectiveCourse" class=" padding-20 info-text" [innerHTML]="'Login
      with your Aastrika account
    ' | translate"></h4>
    <!-- <div class="formMsg  textCenter">
              <div id="success-msg" class="ui text success hide">suceess</div>
              <div id="error-msg" class="ui text error hide">error</div>
            </div> -->
    <div class="padding-20 field  type-container mw-100">
      <div class="heading" style="margin-right: 30px;">
        <input type="radio" (click)="passwordOrOtp('otp')" (keydown)="handleKeyDown1($event,'otp')"
          name="usePasswordOrOTP" id="useOTPRB" style="cursor: pointer;" checked="true">
        &nbsp;
        <label [innerHTML]="'
          By OTP
        ' | translate"></label>
      </div>
      <div style="cursor: pointer;">
        <input type="radio" (click)="passwordOrOtp('password');" (keydown)="handleKeyDown1($event,'password')"
          name="usePasswordOrOTP" id="usePasswordRB" style="cursor: pointer;">&nbsp;
        <label [innerHTML]="'
          By Password
        ' | translate"></label>
      </div>
    </div>
    <div id=" usePasswordDiv" class=" padding-20 mw-100" *ngIf="selectedField === 'password'">
      <form [formGroup]="loginPwdForm" id="form-login" action="" method="post">
        <div class="field-edit-width">
          <mat-form-field appearance="fill" class="margin-top-xs field-edit-width">
            <mat-label [innerHTML]="'Phone Number (or) Email ID' | translate"></mat-label>
            <input autofocus="" tabindex="0" id="emailOrMobile" required="" (input)="checkMobileEmail2()" type="text"
              class="input-field" trim="blur" matInput formControlName="emailOrMobile" #emailOrMobile
              i18n-placeholder />
            <mat-error [innerHTML]="'Invalid
              email or number' | translate"></mat-error>
          </mat-form-field>
        </div>
        <div class="field">
          <div class="field-edit-width">
            <mat-form-field appearance="fill" class="margin-top-xs field-edit-width">
              <mat-label [innerHTML]="'Enter Password' | translate"></mat-label>
              <input autofocus="" tabindex="0" id="emailOrMobile" required="" [type]="hide2 ? 'password' : 'text'"
                (input)="checkPassword()" class="input-field" trim="blur" matInput formControlName="password"
                #emailOrMobile i18n-placeholder />
              <div class="input-group-append">
                <span class="input-group-text eye-icon" (keydown)="handleKeyDown($event)" (click)="toggle2()"
                  style="cursor: pointer;">
                  <i [ngClass]="iconChange2" aria-hidden="true"></i>
                </span>
              </div>
              <mat-error [innerHTML]="'Invalid
                email or number' | translate"></mat-error>
            </mat-form-field>
          </div>
          <mat-error [innerHTML]="'
            This field is required' | translate"></mat-error>
        </div>
        <div class="field">
        </div>
        <div class="flex justify-end mt-2">
          <a [innerHTML]="'Forgot
            Password?' | translate"></a>
        </div>
        <div class="field flex justify-content-center">
          <button [innerHTML]="'Login' | translate"></button>
        </div>
        <div *ngIf="!isEkshamtaLogin&&!isOrgSelectiveCourse" class="field or-container">
          <div class="or-holder" id="or-holder" style=" text-align: center;">
            <span class=""></span>
            <span [innerHTML]="'or' | translate"></span>
          </div>
        </div>

        <div *ngIf="!isEkshamtaLogin&&!isOrgSelectiveCourse" id="kc-registration" class="field">
          <div class="ui content flex justify-content-center  signUpMsg">
            <a [innerHTML]="'Create an Account' | translate"></a>
            <div id="selfSingUp" style="height: 30px;">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id=" useOTPDiv" class="padding-20 mw-100" *ngIf="selectedField === 'otp'">
      <form [formGroup]="loginForm" id="kc-form-login" class=" ui form" action="" method="post" method="post">
        <div class="field-edit-width">
          <mat-form-field appearance="fill" class="margin-top-xs field-edit-width">
            <mat-label [innerHTML]="'Phone Number (or) Email ID' | translate"></mat-label>
            <input tabindex="0" id="emailOrMobile" required="" (input)="checkMobileEmail()" type="text"
              class="input-field" trim="blur" matInput formControlName="emailOrMobile" #emailOrMobile
              i18n-placeholder />
            <mat-error [innerHTML]="'Invalid
              email or number' | translate"></mat-error>
          </mat-form-field>
        </div>
        <div class="mdc-card__actions">
          <div class="field flex justify-content-center">
            <button [innerHTML]="'Get OTP' | translate"></button>
          </div>
          <div *ngIf="!isEkshamtaLogin&&!isOrgSelectiveCourse" class="field or-container">
            <div class="or-holder" id="or-holder" style=" text-align: center;">
              <span class=""></span>
              <span [innerHTML]="'or' | translate"></span>
            </div>
          </div>

          <div *ngIf="!isEkshamtaLogin&&!isOrgSelectiveCourse" id="kc-registration" class="field">
            <div class="ui content flex justify-content-center  signUpMsg">
              <a [innerHTML]="'Create an Account' | translate"></a>
            </div>
          </div>
          <div id="selfSingUp" style="height: 30px;">
          </div>
        </div>
      </form>
    </div>
  </div>
  <ng-container>
    <!-- OTP Form -->
    <div class="otp-page">
      <div class="max-container" *ngIf="otpPage">
        <div *ngIf="(isXSmall$ | async) === true" class="flex justify-content-between top-block">
          <div class="flex justify-content-between align-items-center back-btn">
            <button (click)="redirect('otp')" mat-icon-button [disableRipple]="true" class="back-icon">
              <mat-icon>chevron_left</mat-icon>
            </button>
          </div>
          <div [innerHTML]="'Help
            ' | translate">img class="help-icon" alt="help-icon"
            src="../../../fusion-assets/icons/support_agent_blue.png" />
          </div>
        </div>
        <div class="login-card">
          <div class="check-email-text"><span [innerHTML]="'Check your ' | translate"></span> <span
              [innerHTML]="'Email' | translate"></span>
            <span [innerHTML]="'SMS' | translate"></span>!
          </div>
          <div class="enter-code-text mt-2 mb-4"><span [innerHTML]="'We have sent an OTP to ' | translate"></span><span
              class="text-dark">{{loginForm.value.emailOrMobile}}</span>
          </div>
          <div class="img-box">
            <img alt="" width="250" height="200" src="../../../fusion-assets/images/Frame150.svg">
          </div>
          <div class="login-timer">
            <span [innerHTML]="'OTP expires in' | translate"></span>&nbsp;<span
              class="login-timer-count">{{resendTimerText}}</span>&nbsp;minutes
          </div>

          <div class="input-content">
            <div class="input-content-wrapper">
              <form [formGroup]="OTPForm" id="form-login" action="" method="post">
                <div class="form-group">
                  <div *ngIf="emailPhoneType === 'phone'" [formGroup]="OTPForm" class="otp-input-container">
                    <input class="otp-input" type="text" maxlength="1" formControlName="otp1" #otp1
                      (input)="moveFocus(otp1, otp2)" (keydown)="backSpaceEvent($event, otp1, otp1)" />
                    <input class="otp-input" type="text" maxlength="1" formControlName="otp2" #otp2
                      (input)="moveFocus(otp2, otp3)" (keydown)="backSpaceEvent($event, otp2, otp1)" />
                    <input class="otp-input" type="text" maxlength="1" formControlName="otp3" #otp3
                      (input)="moveFocus(otp3, otp4)" (keydown)="backSpaceEvent($event, otp3, otp2)" />
                    <input class="otp-input" type="text" maxlength="1" formControlName="otp4" #otp4
                      (input)="moveFocus(otp4, null)" (keydown)="backSpaceEvent($event, otp4, otp3)" />
                  </div>
                  <div *ngIf="emailPhoneType === 'email'" [formGroup]="OTPForm" class="otp-input-container">
                    <input id="totp" name="OTPcode" i18n-placeholder placeholder="Enter OTP" type="text"
                      class="form-control" name="OTPcode" formControlName="OTPcode" />
                  </div>

                </div>
                <div class="field">
                  <button [innerHTML]="'Submit' | translate"></button>
                </div>
                <div class="field">
                  <button [innerHTML]="'Resend
                    OTP' | translate"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- OTP Form Close-->
  </ng-container>
  <div class="btm-block-img">
    <img alt="logo" class="btm-bg" src="../../fusion-assets/icons/Frame_149.svg">
  </div>
</div>