.custom-wrapper {
  font-family: 'Roboto', sans-serif !important;
  .login-section {
    position: absolute;
    width: 475px;
    border-radius: 18px;
      background-color: #FFFFFF !important;
    padding: 10px 50px 0px 50px;
    min-height: 85vh;
  }
}
.back-btn{
  margin-left: -15px;
}
.check-email-text {
  font-size: 22px;
  line-height: 8px;
}
.flex{
  display: flex;
}
.justify-end{
  justify-content: flex-end;
}
.language-modal{
  width: 370px !important;
  height: 400px !important;
}
.web-btm-block-img{
    position: absolute;
    bottom: 0px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0%;
}
.background-ekshamta{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #EBF4FB 0%, #DCEFEC 49.18%, #FFFCC8 98.36%);
}
.mtb1{
  font-family: Roboto, sans-serif;
font-size: 40px;
font-weight: 400;
line-height: 48px;
letter-spacing: -0.02em;
text-align: left;

}
  .otp-input-container{
    display: flex !important;
    justify-content: center;
    gap: 15px;
    margin-top: 0.5rem;
  }
    .top-block{
 align-items: center;
  }
  .otp-input{
    border: none;
    width: 50px;
    height: 50px;
    gap: 0px;
    border-radius: 4px ;
    box-shadow: 0px 0px 4px 0px #00000040;
    text-align: center;
  }
.welcome{
    font-family: Roboto, sans-serif !important;
    font-size: 40px !important;
    font-weight: 400 !important;
    line-height: 48px !important;
    letter-spacing: -0.02em !important;
    text-align: left !important;
  margin-bottom: 0px !important;
}
.info-text{
  font-family: Roboto, sans-serif !important;
font-size: 16px !important;
font-weight: 400 !important;
line-height: 24px !important;
letter-spacing: -0.02em !important;
text-align: left !important;

}
.option{
  font-family: Roboto, sans-serif !important;
font-size: 16px !important;
font-weight: 400 !important;
line-height: 18.75px !important;
letter-spacing: -0.02em !important;
text-align: left !important;

}
.nav-bar-bg1{
  display: flex;
  flex-direction: column;
  height: 100px;
  gap: 0px;
  background: linear-gradient(180deg, #EFF6FC 100%, #DCEFEC 32.46%, #FFFCC8 65.57%, #F9F3E8 98.36%);
  align-items: baseline;
}
  .top-block{
//  padding: 20px;
 align-items: center;
 margin-bottom: 5px;
  }
  .padding-20{
    padding: 0px 20px 0px 30px !important;
  }
    .help-btn{
        display: flex;
        /* justify-content: space-between; */
        gap: 12px;
        width: 75px;
        height: 36px;
        color: #2E6491;
        border-radius: 63px;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        /* text-align: left; */
        border: 1px solid #2E6491;
        padding: 8px;
        cursor: pointer;
  }
.login-page-content{
   max-width: 100%;
    margin: auto;
    margin: 0px !important;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px 40px 0px 0px;
    display: block;
}
@media screen and (min-width: 769px) {
    .custom-wrapper {
        min-height: 100vh;
        justify-content: center;
        display: flex;
        align-items: center;
    }

}

.signInHead h4 {
  font-weight: 500;
}

.signInHead {
  margin-top: 15px;
}

.heading {
  margin-bottom: 15px;
}

.otp-page .logo {
  margin-top: -20px;
}

.otp-page .blueButton {
  margin: 0px;
}

.otp-page .blueButton {
  margin: 0px;
}

.otp-page .whiteButton {
  margin: 15px 0px 10px;
}

.otp-page .greenButton {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

@media screen and (max-width: 768px) {
  .custom-wrapper {
    min-height: 85vh;
    // margin-top: 55px;
    overflow: hidden !important;
    width: auto !important;
  }

  .max-container {
    width: 100%;
  }

  .custom-wrapper .custom-grid .left-box {
    display: none !important;
  }

  .custom-wrapper .custom-grid {
    grid-template-columns: 1fr;
  }

  .whatsApp-otp {
    left: 26px !important;
  }
}

.ui.raised.segment,
.ui.raised.segments {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .075)
}

.type-container {
  display: flex;
}

.greenButton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #4BCA59 !important;
  background-color: #fff !important;
  border: 1px solid #4BCA59 !important;
  border-radius: 50px;
  width: 100%;
  transition: all .25s ease-in;
}

.rel {
  position: relative;
  margin-top: 10px;
}

.whatsApp {
  position: absolute;
  z-index: 6;
  left: 38px;
  top: 3px;
  cursor: pointer;

  // @include breakpoint-xs {
  //   left: 21px;
  // }
}

.blueButton {
  color: #FFFFFF !important;
  background-color: #1C5D95 !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #1C5D95 !important;
  line-height: 25px;
  height: 40px;
  border-radius: 50px;
  transition: all .25s ease-in;
  width: 65%;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}
.iconPosition1 {
      position: relative;
    right: 10px;
    top: -28px;
    text-align: right;
}
.whiteButton {
  font-family: 'Roboto', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #1C5D95 !important;
  background-color: #fff !important;
  border: 1px solid #1C5D95 !important;
  line-height: 25px;
  height: 40px;
  border-radius: 50px;
  transition: all .25s ease-in;
  margin: 10px 0px;
  width: 65%;
  cursor: pointer;
}

.greenButton {
  /* font-family: 'Roboto' !important; */
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #4BCA59 !important;
  background-color: #fff !important;
  border: 1px solid #4BCA59 !important;
  //line-height: 25px;
  height: 40px !important;
  border-radius: 50px;
  transition: all .25s ease-in;
  //margin-top: 20px !important;
  position: relative !important;
  margin: 20px 0px;
  cursor: pointer;
}

.forgetPasswordLink {
  color: rgb(0, 116, 182, 1) !important;
  cursor: pointer;
  //font-size: 12px;
  /* line-height: 17px;
    position: absolute; */
  /* right: 0;
    top: 97px; */
  transition: all .25s ease-in;
}

.blueButton:disabled,
.whiteButton:disabled {
  opacity: 0.5 !important;
}

.whatsApp1 {
  position: absolute;
  left: 60px;
  z-index: 6;
  top: 23px;
}

.warnText {
  color: #DB4848 !important;
}

.font-weight-500 {
  font-weight: 500 !important
}


.login-page-content {
     max-width: 100%;
    margin: auto;
    margin: 0px !important;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px 40px 0px 0px;
    display: block;
    background: #FFFFFF;

}
::ng-deep .mat-form-field-underline {
  display: none;
}
.field-edit-width{
  width: 100%;

}
::ng-deep .mat-error {
    padding: 0px 0px 10px 0px  !important;
    margin-bottom: 5px !important;
}
.eye-icon{
  background-color: #FFFFFF;
  border: none;
}
::ng-deep.mat-form-field-infix{
  display: flex !important;
}
::ng-deep .mat-form-field-flex{
    box-shadow: 0px 0px 4px 0px #00000026;
    background: #FFFFFF !important;
}
.login-card {
  margin: 0;
    padding: 0px 20px 30px 30px;

  //padding: 20px 20px 30px 20px;
  color: #000;
  font-size: 14px;
  line-height: 17px;
}
.btm-block-img{
      position: absolute;
    bottom: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btm-bg{
  width: 216px;
  height: 66px;
}
.check-email-text {
  font-size: 22px;
  line-height: 8px;
}

.enter-code-text {
  font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
color: #808080;

}

.img-box {
  //width: 90%;
  //margin: auto;
  text-align: center;
}

.input-content {
  position: absolute;
}

.input-box {
  width: 295px;
  height: 35px;
  padding: 4px 12px;
  font-size: 16px;
  line-height: 19px;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 8%);
  border-radius: 6px;
  border: 1px solid #bbb;
}

.login-button {
  width: 98px;
  height: 38px;
  background: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  right: 0;
}

.resend-text {
  color: #2873b2;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (min-width:600px) {

  .login-button {
    width: 100%;
  }

  .img-box {
    width: 90%;
  }
}

@media screen and (max-width:600px) {
  .blueButton {
    width: 100%;

  }
  .whiteButton {
    width: 100%;

  }
  ::ng-deep .language-modal {
        max-width: 100% !important;
    }

  .login-timer {
     padding: 0px !important;
  }
  .top-blue-color{
    background: linear-gradient(180deg, #EFF6FC 100%, #DCEFEC 32.46%, #FFFCC8 65.57%, #F9F3E8 98.36%);
  }
  .otp-page{
    max-width: 100%;
      margin: auto;
      margin: 0px !important;
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 40px 40px 0px 0px;
      display: block;
      background: #FFFFFF;
  }
    .help-btn{
        display: flex;
        /* justify-content: space-between; */
        gap: 12px;
        width: 75px;
        height: 36px;
        color: #2E6491;
        border-radius: 63px;

        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        /* text-align: left; */
        border: 1px solid #2E6491;
        padding: 8px;
  }
  .otp-input-container{
    display: flex !important;
    justify-content: space-between;
    margin-top: 1rem;
  }
    .top-block{
 padding: 20px;
 align-items: center;
  }
  .otp-input{
    border: none;
    width: 56px;
    height: 55px;
    gap: 0px;
    border-radius: 4px ;
    box-shadow: 0px 0px 4px 0px #00000040;
    text-align: center;
  }
  .input-box {
    width: 88%;
  }
  .login-timer{
    display: flex;
    justify-content: right;
  }

  .input-content {
    width: 85%;
  }

  .login-button {
    right: 12px;
  }
}

  .login-timer{
    display: flex;
    justify-content: right;
    padding: 0px 65px;

  }



button:disabled {
  opacity: 0.5;
}