<!--trusted by banner-->
<div class="trusted-by-container mt-8">
  <div class="trusted-by-heading" i18n>
    Trusted By
  </div>
  <div class="trusted-by-ord-heading" i18n>
    50+ Partner Organizations and Growing
  </div>
  <div class="trusted-by-img-container">
    <img src="/fusion-assets/images/trusted-banner-sphere.png" class="trusted-by-img" alt="Sphere" />
    <div class="rmc-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="634" height="2" viewBox="0 0 634 2" fill="none">
        <path d="M0 1H634" stroke="#EAE9E9" />
      </svg>
      <div class="img-container">
        <img class="trusted-by-img2" src="../../../fusion-assets/images/image 158.svg" alt="Sphere" />
        <img class="trusted-by-img3" src="../../../fusion-assets/images/image 159.svg" alt="Sphere" />
        <img class="trusted-by-img4" src="../../../fusion-assets/images/image 161.svg" alt="Sphere" />
      </div>
      <div class="img-container">
        <img class="trusted-by-img5" src="../../../fusion-assets/images/image 162.svg" alt="Sphere" />
        <img class="trusted-by-img6" src="../../../fusion-assets/images/image 175.svg" alt="Sphere" />
        <img class="trusted-by-img7" src="../../../fusion-assets/images/image 160.svg" alt="Sphere" />
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="634" height="2" viewBox="0 0 634 2" fill="none">
        <path d="M0 1H634" stroke="#EAE9E9" />
      </svg>
      <div class="flex rmc-block">
        <img class="trusted-by-img3 " src="/fusion-assets/icons/wrai.jpg " alt="Sphere" />
        <span class="rmc-text" i18n>We are endorsing the WRAI RMC Chapter</span>
        <a target="_blank" href="https://www.c3india.org/assets/c3india/images_c3wrai/pdf/rmc-charter.pdf"
          class="button-wrai-rmc" i18n>Read
          Chapter</a>
      </div>

    </div>
  </div>

</div>