<!--trusted by banner-->
<div class="trusted-by-container mt-10" [ngClass]="{'containerMob': isXsmall}">
  <div class="trusted-by-heading">
    {{ config?.title | translate }}
  </div>
  <div class="trusted-by-ord-heading">
    {{ config?.subTitle | translate }}
  </div>
  <div class="trusted-by-img-container">
    <img [src]="config?.img" class="trusted-by-img" alt="Sphere" />
    <div class="rmc-container">
      <hr>
      <div class="img-container" *ngFor="let ls of config?.imgData; let i = index">
        <img class="trusted-by-img2" [src]="ls.img1" alt="Sphere" />
        <img class="trusted-by-img3" [src]="ls.img2" alt="Sphere" />
        <img class="trusted-by-img4" [src]="ls.img3" alt="Sphere" />
      </div>
      <hr>
      <div class="flex rmc-block">
        <img class="trusted-by-img8" [src]="config?.rmcData?.img " alt="Sphere" />
        <span class="rmc-text">{{ config?.rmcData?.label | translate }}</span>
        <a target="_blank" [href]="config?.rmcData?.button?.href" class="button-wrai-rmc">
          {{config?.rmcData?.button?.label | translate }}</a>
      </div>

    </div>
  </div>

</div>