<div class="top-course-container content" *ngFor="let content of uiConfig let i = index;">
  <section *ngIf="content?.show && content?.data && content?.data?.length>0"
    class="mt-4 view-all-course-container {{content?.scrollEmit}}" #scrollToCneCourses
    [attr.data-scroll]="content?.scrollEmit">
    <div [ngClass]="i === 0 || (isXSmall && i === 1) ? 'bg-green' : 'orange'"
      class="line-label flex scroller-container">
      <span [ngClass]="{'header0': i == 0 || isXSmall && i == 1}" [class]="content.headerClass">
        {{ content.title | translate }}</span>
      <button *ngIf="!isXSmall" (click)="viewAllCourse(content)" class="view-all-course">
        {{ content?.button?.label1 | translate }} <img class="right-arrow" [src]="content?.button?.img" alt="" />
      </button>
    </div>
    <ws-utils-horizontal-scroller *ngIf="!isXSmall" class="flex " [loadStatus]="'done'">
      <div *ngFor="let course of content?.data">
        <ng-container *ngIf="content.data && content.data.length>0">
          <ws-web-course-card [displayConfig]="content?.displayConfigWeb" [courseData]="course"></ws-web-course-card>
        </ng-container>
      </div>
    </ws-utils-horizontal-scroller>
    <ng-container *ngIf="isXSmall">
      <div *ngFor="let course of content?.displayData">
        <ws-mobile-course-view [displayConfig]="content?.displayConfig" [courseData]="course"></ws-mobile-course-view>
      </div>
      <button *ngIf="content?.data?.length > content.limit" (click)="viewAllCourse(content)" class="view-all-course">
        {{ content?.data?.length == content?.displayData.length ? (content?.button?.label2 | translate) :
        (content?.button?.label1 | translate) }}
        <img class="bottom-arrow" [src]="content?.button?.img" alt="" />
      </button>
    </ng-container>
  </section>

  <div *ngIf="(content.data.length == 0 && content?.fallbackState?.label)" class="mt-4 view-all-course-container">
    <div [ngClass]="i === 0 || (isXSmall && i === 1) ? 'bg-green' : 'orange'"
      class="line-label flex scroller-container">
      <span [ngClass]="{'header0': i == 0 || isXSmall && i == 1}" [class]="content.headerClass">
        {{ content.title | translate }}</span>
    </div>
    <h3 class=" mt15">{{ content?.fallbackState?.label | translate }}</h3>
  </div>
</div>
<!-- this section is to show courses for State Institute of Health and Family Welfare, Department of Health & Family Welfare, UP org -->
<!-- <div class="top-course-container content" *ngIf="isUpLogin">
  <section class="mt-4 view-all-course-container" *ngIf="coursesForUP && coursesForUP.length>0">
    <div class="line-label orange flex scroller-container">
      <div>
        <span class="header1">{{ 'TOP COURSES' | translate }}</span>
      </div>
      <button (click)="viewAllCourse('topCourse')" class="view-all-course">
        {{ 'View all' | translate }} <img class="right-arrow" src="/fusion-assets/icons/Arrowpng.png" alt="" />
      </button>

    </div>
    <ws-utils-horizontal-scroller class="flex " [loadStatus]="'done'">
      <div *ngFor="let course of coursesForUP">
        <ng-container *ngIf="coursesForUP && coursesForUP.length>0">
          <ws-web-course-card [displayConfig]="forYouCourseDisplayConfig" [courseData]="course"></ws-web-course-card>
        </ng-container>
      </div>
    </ws-utils-horizontal-scroller>
  </section>
</div> -->
<div class="overlay" *ngIf="isLoading">
  <div class="loader-container">
    <div class="loader-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</div>