<div class="top-course-container content">
  <!-- Top certified courses -->
  <section class="mt-4 view-all-course-container" *ngIf="topCertifiedCourse && topCertifiedCourse.length>0">
    <div class="flex scroller-container">
      <p class="mat-h1 header-font margin-remove inline-block ng-star-inserted header1 mb-4" i18n>Top Courses</p><button
        i18n (click)="viewAllCourse()" class="view-all-course">
        View all courses
      </button>
    </div>
    <ws-utils-horizontal-scroller class="flex " [loadStatus]="'done'">
      <div *ngFor="let course of topCertifiedCourse">
        <ng-container *ngIf="topCertifiedCourse && topCertifiedCourse.length>0">
          <ws-web-course-view [displayConfig]="displayConfig" [courseData]="course"></ws-web-course-view>
        </ng-container>
      </div>
    </ws-utils-horizontal-scroller>
  </section>
</div>
<!-- Featured Section-->
<section *ngIf="featuredCourse && featuredCourse.length>0" class="py-3 featuredCourse-section">
  <p class="mat-h1 header-font margin-remove inline-block ng-star-inserted header1" i18n>Featured</p>
  <ws-utils-horizontal-scroller class="flex" [loadStatus]="'done'">
    <div *ngFor="let course of featuredCourse">
      <ws-web-featured-course [courseData]="course" *ngIf="featuredCourse.length==1"
        class="hide-in-mobile app-footer mt-8"
        [ngStyle]="{ 'padding-bottom: 56px': !isSetupPage}"></ws-web-featured-course>
      <ws-web-course-view *ngIf="featuredCourse.length>1" [displayConfig]="displayConfig"
        [courseData]="course"></ws-web-course-view>
    </div>
  </ws-utils-horizontal-scroller>
</section>


<div class="py-1 px-4">
  <ng-container *ngIf="userEnrollCourse && userEnrollCourse.length>1">
    <p class="text-2xl" style="padding-top:10px" i18n>My Courses</p>
    <!-- <ws-mobile-course-view [courseData]="userEnrollCourse[1]"></ws-mobile-course-view> -->
  </ng-container>
</div>