@import '~@angular/material/theming';
@import 'ws-vars';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
/**
mat-typography-level parameters:
1. Font Size
2. Line Height
3. Font Weight
*/
// Line-height must be unit-less fraction of the font-size.

$typography: mat-typography-config(
  $font-family: $font-family-open-poppins,
  $display-4: mat-typography-level(112px, 112px, 400),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 52px, 400),
  $display-1: mat-typography-level(34px, 40px, 300),
  $headline: mat-typography-level(24px, 32px, 300),
  $title: mat-typography-level(20px, 32px, 400),
  $subheading-2: mat-typography-level(16px, 28px, 300),
  $subheading-1: mat-typography-level(15px, 24px, 300),
  $body-2: mat-typography-level(14px, 24px, 600),
  $body-1: mat-typography-level(14px, 20px, 300),
  $caption: mat-typography-level(12px, 20px, 300),
  $button: mat-typography-level(14px, 14px, 300),
  $input: mat-typography-level(inherit, 1.125, 400),
);
@include angular-material-typography($typography);

.x-small-typography {
  $typography: mat-typography-config(
    $font-family: $font-family-open-poppins,
    $display-4: mat-typography-level(112px - 48px, 112px - 48px, 300),
    $display-3: mat-typography-level(56px - 24px, 56px - 24px, 300),
    $display-2: mat-typography-level(45px - 24px, 48px - 24px, 300),
    $display-1: mat-typography-level(34px - 16px, 40px - 16px, 300),
    $headline: mat-typography-level(24px - 12px, 32px - 8px, 300),
    $title: mat-typography-level(20px - 10px, 32px - 8px, 300),
    $subheading-2: mat-typography-level(16px - 4px, 28px - 8px, 300),
    $subheading-1: mat-typography-level(16px - 6px, 24px - 8px, 300),
    $body-2: mat-typography-level(14px - 4px, 24px - 8px, 600),
    $body-1: mat-typography-level(14px - 4px, 20px - 8px, 300),
    $caption: mat-typography-level(12px - 4px, 20px - 8px, 300),
    $button: mat-typography-level(14px - 4px, 14px - 4px, 300),
    $input: mat-typography-level(inherit, 1.125, 400),
  );
  @include angular-material-typography($typography);
}
.small-typography {
  $typography: mat-typography-config(
    $font-family: $font-family-open-poppins,
    $display-4: mat-typography-level(112px - 24px, 112px - 24px, 300),
    $display-3: mat-typography-level(56px - 16px, 56px - 16px, 300),
    $display-2: mat-typography-level(45px - 12px, 48px - 12px, 300),
    $display-1: mat-typography-level(34px - 6px, 40px - 8px, 300),
    $headline: mat-typography-level(24px - 4px, 32px - 6px, 300),
    $title: mat-typography-level(20px - 4px, 32px - 6px, 300),
    $subheading-2: mat-typography-level(16px - 2px, 28px - 4px, 300),
    $subheading-1: mat-typography-level(15px - 2px, 24px - 4px, 300),
    /* $headline: mat-typography-level(28px - 4px, 41px - 6px, 400),
    // $title: mat-typography-level(28px - 4px, 41px - 6px, 300),
    // $subheading-2: mat-typography-level(20px - 2px, 31px - 4px, 300),
    // $subheading-1: mat-typography-level(15px - 2px, 24px - 4px, 300), */
    $body-2: mat-typography-level(14px - 2px, 24px - 4px, 600),
    $body-1: mat-typography-level(14px - 2px, 20px - 4px, 300),
    $caption: mat-typography-level(12px - 2px, 20px - 4px, 300),
    $button: mat-typography-level(14px - 2px, 14px - 2px, 300),
    $input: mat-typography-level(inherit, 1.125, 400),
  );
  @include angular-material-typography($typography);
}

.large-typography {
  $typography: mat-typography-config(
    $font-family: $font-family-open-poppins,
    $display-4: mat-typography-level(112px + 24px, 112px + 24px, 400),
    $display-3: mat-typography-level(56px + 16px, 56px + 16px, 400),
    $display-2: mat-typography-level(45px + 12px, 48px + 12px, 400),
    $display-1: mat-typography-level(34px + 6px, 40px + 8px, 400),
    $headline: mat-typography-level(24px + 4px, 32px + 6px, 400),
    $title: mat-typography-level(20px + 4px, 32px + 6px, 400),
    $subheading-2: mat-typography-level(16px + 2px, 28px + 4px, 400),
    $subheading-1: mat-typography-level(15px + 2px, 24px + 4px, 400),
    $body-2: mat-typography-level(14px + 2px, 24px + 4px, 600),
    $body-1: mat-typography-level(14px + 2px, 20px + 4px, 400),
    $caption: mat-typography-level(12px + 2px, 20px + 4px, 400),
    $button: mat-typography-level(14px + 2px, 14px + 2px, 400),
    $input: mat-typography-level(inherit, 1.125, 400),
  );
  @include angular-material-typography($typography);
}
.x-large-typography {
  $typography: mat-typography-config(
    $font-family: $font-family-open-poppins,
    $display-4: mat-typography-level(112px + 48px, 112px + 48px, 300),
    $display-3: mat-typography-level(56px + 24px, 56px + 24px, 300),
    $display-2: mat-typography-level(48px + 24px, 48px + 24px, 300),
    $display-1: mat-typography-level(34px + 16px, 40px + 16px, 300),
    $headline: mat-typography-level(24px + 12px, 32px + 8px, 300),
    $title: mat-typography-level(20px + 10px, 32px + 8px, 300),
    $subheading-2: mat-typography-level(16px + 4px, 28px + 8px, 300),
    $subheading-1: mat-typography-level(16px + 6px, 24px + 8px, 300),
    $body-2: mat-typography-level(14px + 4px, 24px + 8px, 600),
    $body-1: mat-typography-level(14px + 4px, 20px + 8px, 300),
    $caption: mat-typography-level(12px + 4px, 20px + 8px, 300),
    $button: mat-typography-level(14px + 4px, 14px + 4px, 300),
    $input: mat-typography-level(inherit, 1.125, 400),
  );
  @include angular-material-typography($typography);
}

.custom-typography {
  $typography: mat-typography-config(
    $font-family: $font-family-open-poppins,
    $display-4: mat-typography-level(112px, 112px, 400),
    $display-3: mat-typography-level(56px, 56px, 400),
    $display-2: mat-typography-level(45px, 52px, 400),
    $display-1: mat-typography-level(34px, 40px, 300),
    $headline: mat-typography-level(24px, 32px, 300),
    $title: mat-typography-level(20px, 32px, 400),
    $subheading-2: mat-typography-level(16px, 28px, 300),
    $subheading-1: mat-typography-level(15px, 24px, 300),
    $body-2: mat-typography-level(14px, 24px, 600),
    $body-1: mat-typography-level(14px, 20px, 300),
    $caption: mat-typography-level(12px, 20px, 300),
    $button: mat-typography-level(14px, 14px, 300),
    $input: mat-typography-level(inherit, 1.125, 400),
  );
  @include angular-material-typography($typography);
}

.x-small-custom-typography {
  $typography: mat-typography-config(
    $font-family: $font-family-open-poppins,
    $display-4: mat-typography-level(112px - 48px, 112px - 48px, 300),
    $display-3: mat-typography-level(56px - 24px, 56px - 24px, 300),
    $display-2: mat-typography-level(45px - 24px, 48px - 24px, 300),
    $display-1: mat-typography-level(34px - 16px, 40px - 16px, 300),
    $headline: mat-typography-level(24px - 12px, 32px - 8px, 300),
    $title: mat-typography-level(20px - 10px, 32px - 8px, 300),
    $subheading-2: mat-typography-level(16px - 4px, 28px - 8px, 300),
    $subheading-1: mat-typography-level(16px - 6px, 24px - 8px, 300),
    $body-2: mat-typography-level(14px - 4px, 24px - 8px, 600),
    $body-1: mat-typography-level(14px - 4px, 20px - 8px, 300),
    $caption: mat-typography-level(12px - 4px, 20px - 8px, 300),
    $button: mat-typography-level(14px - 4px, 14px - 4px, 300),
    $input: mat-typography-level(inherit, 1.125, 400),
  );
  @include angular-material-typography($typography);
}
.small-custom-typography {
  $typography: mat-typography-config(
    $font-family: $font-family-open-poppins,
    $display-4: mat-typography-level(112px - 24px, 112px - 24px, 300),
    $display-3: mat-typography-level(56px - 16px, 56px - 16px, 300),
    $display-2: mat-typography-level(45px - 12px, 48px - 12px, 300),
    $display-1: mat-typography-level(34px - 6px, 40px - 8px, 300),
    $headline: mat-typography-level(24px - 4px, 32px - 6px, 300),
    $title: mat-typography-level(20px - 4px, 32px - 6px, 300),
    $subheading-2: mat-typography-level(16px - 2px, 28px - 4px, 300),
    $subheading-1: mat-typography-level(15px - 2px, 24px - 4px, 300),
    $body-2: mat-typography-level(14px - 2px, 24px - 4px, 600),
    $body-1: mat-typography-level(14px - 2px, 20px - 4px, 300),
    $caption: mat-typography-level(12px - 2px, 20px - 4px, 300),
    $button: mat-typography-level(14px - 2px, 14px - 2px, 300),
    $input: mat-typography-level(inherit, 1.125, 400),
  );
  @include angular-material-typography($typography);
}

.large-custom-typography {
  $typography: mat-typography-config(
    $font-family: $font-family-open-poppins,
    $display-4: mat-typography-level(112px + 24px, 112px + 24px, 400),
    $display-3: mat-typography-level(56px + 16px, 56px + 16px, 400),
    $display-2: mat-typography-level(45px + 12px, 48px + 12px, 400),
    $display-1: mat-typography-level(34px + 6px, 40px + 8px, 400),
    $headline: mat-typography-level(24px + 4px, 32px + 6px, 400),
    $title: mat-typography-level(20px + 4px, 32px + 6px, 400),
    $subheading-2: mat-typography-level(16px + 2px, 28px + 4px, 400),
    $subheading-1: mat-typography-level(15px + 2px, 24px + 4px, 400),
    $body-2: mat-typography-level(14px + 2px, 24px + 4px, 600),
    $body-1: mat-typography-level(14px + 2px, 20px + 4px, 400),
    $caption: mat-typography-level(12px + 2px, 20px + 4px, 400),
    $button: mat-typography-level(14px + 2px, 14px + 2px, 400),
    $input: mat-typography-level(inherit, 1.125, 400),
  );
  @include angular-material-typography($typography);
}
.x-large-custom-typography {
  $typography: mat-typography-config(
    $font-family: $font-family-open-poppins,
    $display-4: mat-typography-level(112px + 48px, 112px + 48px, 300),
    $display-3: mat-typography-level(56px + 24px, 56px + 24px, 300),
    $display-2: mat-typography-level(48px + 24px, 48px + 24px, 300),
    $display-1: mat-typography-level(34px + 16px, 40px + 16px, 300),
    $headline: mat-typography-level(24px + 12px, 32px + 8px, 300),
    $title: mat-typography-level(20px + 10px, 32px + 8px, 300),
    $subheading-2: mat-typography-level(16px + 4px, 28px + 8px, 300),
    $subheading-1: mat-typography-level(16px + 6px, 24px + 8px, 300),
    $body-2: mat-typography-level(14px + 4px, 24px + 8px, 600),
    $body-1: mat-typography-level(14px + 4px, 20px + 8px, 300),
    $caption: mat-typography-level(12px + 4px, 20px + 8px, 300),
    $button: mat-typography-level(14px + 4px, 14px + 4px, 300),
    $input: mat-typography-level(inherit, 1.125, 400),
  );
  @include angular-material-typography($typography);
}
