<div class="content" [ngStyle]="showbackButton ? {'padding': '0' } : {}">
  <div [ngStyle]="!showbackButton ? {'display': 'none' } : {}">
    <ws-mobile-profile-nav [trigerrNavigation]="trigerrNavigation" [showbackButton]="showbackButton"
      [showLogOutIcon]="showLogOutIcon"></ws-mobile-profile-nav>
  </div>
  <p class="text-2xl mt-3">{{ data.title | translate }}</p>

  <form [formGroup]="personalDetailForm" class="mt-3 mb-5">
    <div style="width: 55%;" [ngStyle]="showbackButton ? {'width': '100%' } : {}">
      <ng-container *ngFor="let field of formConfig">
        <!-- Text Input -->
        <div *ngIf="field.type === 'text'" class="form-group">
          <label>{{ field.label | translate }}</label>
          <input [type]="field.tye" [formControlName]="field.key" class="form-control" (change)="fieldChange()"
            [placeholder]="field.label" autocomplete="off" [pattern]="field.pattern">
        </div>
        <!-- Select Input -->
        <div *ngIf="field.type === 'select' && showSelectField(field)" class="form-group input-box ">
          <label>{{ field.label | translate }}</label>
          <select [id]="field.key" [formControlName]="field.key" class="form-control select-box"
            name="country-input-field" (change)="fieldChange(field.key)"
            [disabled]="(selectDisable && (field.key === 'state' || field.key === 'distict')) ? 'disabled' : null">
            <option [value]=null disabled>{{ field.label | translate }}</option>
            <option *ngFor="let option of getOptions(field)" [value]="option.name">{{ option.name }}</option>
          </select>
        </div>
        <!-- DOB Custom Component -->
        <div *ngIf="field.type === 'dob'" class="form-group mt-4 relative"
          [ngStyle]="showbackButton ? {'font-size': '14px' } : {}">
          <label>{{ field.label | translate }}</label>
          <ng-container *ngIf="loadDob; else withoutDob">
            <ws-dropdown-dob [isEkshamata]="isEkshamata||!isEditableForSphere" (dobValue)="dobData($event)"
              [dob]="personalDetailForm.get('dob').value ">
            </ws-dropdown-dob>
          </ng-container>
          <ng-template #withoutDob>
            <ws-dropdown-dob [isEkshamata]="isEkshamata||!isEditableForSphere" (dobValue)="dobData($event)">
            </ws-dropdown-dob>
          </ng-template>
          <div>
            <pre *ngIf="invalidDob" class="text-danger">{{field.errMsg}}</pre>
          </div>
        </div>

        <!-- Error Message -->
        <mat-error class="text-danger mb-4"
          *ngIf="personalDetailForm.controls[field.key]?.hasError('pattern') && errorMsg">
          {{errorMsg}}
        </mat-error>
        <button *ngIf="field.type==='button'" type="submit" (click)="onSubmit(personalDetailForm)" class="save-btn"
          [disabled]="personalDetailForm?.invalid || savebtnDisable">{{field.label | translate}}</button>
      </ng-container>
    </div>
  </form>
  <input type="hidden" i18-value i18-aria-value aria-value="User profile details update successful"
    [value]="data.sucessMsg | translate" #toastSuccess />
</div>