<div class="content">
  <ws-mobile-profile-nav></ws-mobile-profile-nav>
  <p class="text-2xl mt-3">Personal Details</p>

  <form [formGroup]="personalDetailForm" class="mt-3">

    <div class="form-group">
      <input type="text" formControlName="userName" class="form-control" placeholder="User's Name" autocomplete="off">
    </div>

    <div class="form-group mt-4 relative">
      <input [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="dob" autocomplete="off"
        (dateInput)="onDateChange($event.value)" placeholder="Date of Birth" name="dob" id="dob-inputfield"
        class="form-control" (click)="picker.open()">
      <mat-datepicker-toggle [for]="picker" id="datepicker-icon" class="date-picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <div>
      <pre *ngIf="invalidDob" class="text-danger">You must be at least 18 years old</pre>
    </div>

    <div class="form-group">
      <select id="profession" formControlName="profession" class="form-control">
        <option style="color:#808080;">Profession*</option>
        <!-- <option *ngFor="let profession of healthWorkerProfessions" [value]="profession">{{ profession }} -->
        <!-- </option> -->
      </select>
    </div>

    <div class="form-group">
      <input type="text" formControlName="rnNumber" class="form-control"
        placeholder="Registered Nurse Number(RN)/ Registered Midwife Number(RM)" autocomplete="off">
    </div>

    <div class="form-group">
      <select id="ngo" formControlName="ngo" class="form-control">
        <option style="color:#808080;">NGO*</option>
        <!-- <option *ngFor="let profession of healthWorkerProfessions" [value]="profession">{{ profession }} -->
        <!-- </option> -->
      </select>
    </div>

    <div class="form-group">
      <input type="text" formControlName="organizationName" class="form-control" placeholder="Organization's Name"
        autocomplete="off">
    </div>

    <div class="form-group">
      <input type="text" formControlName="nationality" class="form-control" placeholder="Nationality"
        autocomplete="off">
    </div>

    <div class="form-group">
      <input type="text" formControlName="motherTounge" class="form-control" placeholder="Mother Tounge"
        autocomplete="off">
    </div>

    <div class="form-group">
      <select id="gender" formControlName="gender" class="form-control" placeholder="Gender">
        <option style="color:#808080;" [value]="null">Gender</option>
        <option [value]="male">Male</option>
        <option [value]="female">Female</option>
        <option [value]="Others">Others</option>
      </select>
    </div>

    <div class="form-group">
      <select id="maritalStatus" formControlName="maritalStatus" class="form-control" placeholder="Marital Status">
        <option style="color:#808080;" [value]="null">Marital Status</option>
        <option [value]="single">Single</option>
        <option [value]="married">Married</option>
      </select>
    </div>

    <div class="form-group">
      <input type="text" formControlName="languages" class="form-control" placeholder="Languages" autocomplete="off">
    </div>

    <div class="form-group">
      <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Phone Number"
        autocomplete="off">
    </div>

    <div class="form-group">
      <input type="text" formControlName="address" class="form-control" placeholder="Address" autocomplete="off">
    </div>

    <div class="form-group">
      <input type="text" formControlName="pincode" class="form-control" placeholder="Pincode" autocomplete="off">
    </div>

  </form>
</div>