@use 'ws-vars';
@use 'ws-mixins';

.articles-container {
  padding: ws-vars.$size-xs 0;
  @include ws-mixins.breakpoint-lt-m {
    padding: ws-vars.$size-xs;
  }
  @include ws-mixins.breakpoint-lt-l {
    padding-right: ws-vars.$size-xs;
  }
}

.icon {
  padding-right: ws-vars.$size-m;
}

.article-img {
  width: 8.5em;
}

.title {
  font-weight: 500;
}
.date {
  font-size: 0.8rem;
}
