<div class="banner-container" [ngClass]="{'mobileCarousel': isXsmall }">
  <!--upskill now section-->
  <div class="carousel">
    <div class="banner-heading-container" *ngIf="config">
      <div class="banner-heading" style="width: 90%;">{{ config?.title | translate }}</div>
      <div class="banner-mini-heading">{{ isXsmall ? config?.subTitleMob : config?.subTitle | translate }}</div>
      <div class="create-account" *ngIf="!isXsmall">
        <a role="button" matRipple class="flex mt-8 box-sizing-box" tabindex="0" (click)="createAcct()"
          (keydown.enter)="createAcct()" (keydown.space)="createAcct(); $event.preventDefault()" active
          [ngStyle]="{'width':'inherit', 'z-index': 10}" routerLinkActive="ws-mat-accent-text">
          <span class="new-user-txt">{{config?.label | translate }}</span>
          <button name="login_client_button" color="primary" class="login-btn header-btn mat-button-base">
            {{config?.button?.label | translate}}
          </button>
        </a>
      </div>
    </div>
    <div class="slides-viewport">
      <div class="slides" [style.transform]="'translateX(' + (-currentSlideIndex * 100) + '%)'">
        <div class="slide" *ngFor="let data of dataCarousel; let i = index">
          <div class="slide-content" tabindex="0" role="button" (click)="scrollToHowSphereWorks(data.scrollEmit)"
            (keydown.enter)="scrollToHowSphereWorks(data.scrollEmit)"
            (keydown.space)="scrollToHowSphereWorks(data.scrollEmit); $event.preventDefault()">
            <div class="banner-shimmer" *ngIf="!imgsLoaded[i]"></div>
            <img class="banner-image" [src]="!isDark ? data.img : data.darkImg"
              [attr.loading]="i === 0 ? 'eager' : 'lazy'" [attr.fetchpriority]="i === 0 ? 'high' : 'auto'" width="832"
              height="280" [alt]="data.name || 'Aastrika Sphere course banner'" (load)="onBannerImgLoad(i)"
              (error)="onBannerImgLoad(i)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="carousel-dots">
  <button *ngFor="let _ of dataCarousel; let i = index" class="dot-btn" [class.active]="i === currentSlideIndex"
    (click)="goToSlide(i)" [attr.aria-label]="'Go to slide ' + (i + 1)">
  </button>
</div>
<div class="flex info-block" [ngClass]="{'mobileInfo-block': isXsmall }">
  <div class="info-container" *ngFor="let bnstats of bannerStatus"
    [ngClass]="isXsmall ? bnstats?.classNameMob : bnstats?.className">
    <div class="flex info-box">
      <img [src]="bnstats?.image" class="count-sphere-icons" alt="Sphere Icons" width="30" height="30" />
      <div class="info-number" *ngIf="bannerStatus">{{bnstats?.count}}</div>
    </div>
    <p class="info-text">{{ bnstats?.label | translate }}</p>
  </div>
</div>
<div class="create-account-mob" *ngIf="isXsmall">
  <h3 class="text-center" style="font-weight: 550;margin-top: 5px;margin-bottom: 5px;">{{ config?.label | translate }}
  </h3>
  <a *ngIf="(configSvc.userProfile === null)" role="button" matRipple
    class="flex items-center flex-col mt px-2 box-sizing-box" tabindex="0" (click)="createAcct()"
    (keydown.enter)="createAcct()" (keydown.space)="createAcct(); $event.preventDefault()" active
    [ngStyle]="{'width':'inherit'}" routerLinkActive="ws-mat-accent-text">
    <ng-container>
      <button mat-raised-button class="create-btn">
        {{ config?.button?.label | translate }}</button>
    </ng-container>
  </a>
</div>