.banner-container{
    display: flex;
    margin-top: 45px;
    align-items: center;
    justify-content: space-around;
}
.box-sizing-box {

        gap: 15px !important;
    }
.login-btn {
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #2E6491 !important;
    border-radius: 50px;
    color: #FFFFFF !important;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border: none;
    cursor: pointer;

}
.new-user-txt{
    display: flex;
    justify-content: center;
    align-items: center;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 28.13px;
letter-spacing: -0.02em;
text-align: left;
color: #000000;

}
.banner-heading {
    padding-left: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #000000;
}

.banner-mini-heading {
    padding-left: 15px;
    color: #000000;
    /* Header 2 */
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.48px;
}

// @media only screen and (max-width: 599px)
// .info-container[_ngcontent-sxu-c23] {
//     width: 160px;
// }
@media only screen and (min-width: 600px) and (max-width: 959px) {
    .banner-image {
        width: 400px !important;
        height: 300px !important;
    }

    .banner-heading {
        font-size: 24px !important;
        line-height: 28.8px !important;
    }

    .banner-mini-heading {
        font-size: 18px !important;
    }

    .box-sizing-box {
        margin-top: 10px !important;
    }

    .info-number {
        font-size: 24px !important;
    }

    .tutorials-text {
        font-size: 20px !important;
    }
}

.banner-image {
  width: 100%; /* Ensure images fill their container */
  height: auto; /* Maintain aspect ratio */
}

.info-block {
    flex-wrap: wrap;
    margin-top: -19px;
}

.info-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 25%;
    height: 100px;
    box-sizing: border-box;
    flex-direction: column;
}

.info-disaplay-bg1 {
    background: #F1E7E3;
}

.info-disaplay-bg2 {
    background: #F5F5F5;
}

.info-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    /* or 180% */

    letter-spacing: -0.02em;

    color: #14446C;
}

.info-text {
    // margin-top: 5px !important;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 129% */
    letter-spacing: -0.02em;
    color: #14446C;
}

.tutorials-container {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #469788;
    height: 50px;
}

.tutorials-text {
    /* Body */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF !important;
    margin: 0px !important;
}

.count-sphere-icons {
    width: 28px;
    height: 28px;
}

.info-box {
    align-items: center;
}

.banner-heading-container{
  display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* carousel.component.css */

.carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides {
  display: flex;
  flex: 1;
  transition: transform 0.3s ease; /* Adjust the duration and easing as needed */
}

.slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    //padding: 0 10px;
    /* Adjust padding as needed */
}

.slide-content {
    display: none;
}

.slide-content.active {
    display: block;
}


.create-btn{
    width:'160px' !important;
    height:'auto'!important;
    background-color: '#2E6491'!important;
    border: '1px solid #2E6491'!important;
    border-radius: '20px'!important;
    color: 'white'!important;
    font-size: '16px'!important;
    font-weight: '400'!important;
    background-color: #2E6491 !important;
    color: #FFFFFF !important;
}

.round-buttons {
 background: none;
    border: none;
     padding: 0px 0px 0px 4px !important;

}
.dot-icon{
      width: 10px;
    height: 10px;
}
.round-button {
 width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0 5px;
  cursor: pointer;
  border: none;
}

.round-button.active {
    background-color: rgba(0, 0, 0, 0.978);
}

.scrollToCneCourses {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 51px;
    margin-bottom: 20px;
    margin-top: -1px;
    flex-direction: column;
}

.scrollToHowSphereWorks {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 51px;
    margin-bottom: 20px;
    margin-top: -12px;
    flex-direction: column;
}

.tutorials-text {
    /* Body */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF !important;
    margin: 0px !important;
}