<div class="banner-container">
  <!--upskill now section-->
  <div class="carousel">
    <div class="banner-heading-container">
      <div class="banner-heading" i18n>Access free</div>
      <div class="banner-heading" i18n>Healthcare courses</div>
      <div class="banner-mini-heading" i18n>
        Learn at your own pace & Get Certified
      </div>
      <div class="create-account">
        <a role="button" matRipple class="flex  mt-8  box-sizing-box" (click)="createAcct()" active
          [ngStyle]="{'width':'inherit'}" routerLinkActive="ws-mat-accent-text">
          <ng-container>
            <span class="new-user-txt">New user?</span>
            <button name="login_client_button" color="primary" class="login-btn header-btn  mat-button-base">
              Create Account
            </button>
          </ng-container>
        </a>
      </div>
    </div>
    <div class="slides" [style.transform]="'translateX(' + (-currentSlideIndex * 100) + '%)'">
      <div class="slide" *ngFor="let data of dataCarousel; let i = index">
        <div (click)="scrollToHowSphereWorks(data.scrollEmit)"
          class="slide-content {{ i === currentSlideIndex ? 'active' : '' }}">
          <img class="banner-image" [src]="data.img" alt="Carousel" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngFor="let data of dataCarousel; let i = index">
  <div (click)="scrollToHowSphereWorks(data.scrollEmit)" class="slide-content" [class.active]="i === currentSlideIndex">
    <div [className]="data.scrollEmit">
      <!-- <p class="tutorials-text" *ngIf="lang == 'en' ">{{data.title}} <span (click)="scrollToContent(data.scrollEmit)"> >
        </span> </p>
      <p class="tutorials-text" *ngIf="lang == 'hi' ">{{data.titleHi}} <span (click)="scrollToContent(data.scrollEmit)">
          > </span> </p> -->
      <div>
        <button *ngFor="let _ of dataCarousel; let i = index" [ngClass]="{ 'active': i === currentSlideIndex }"
          (click)="goToSlide(i)" class="round-buttons">
          <img class="dot-icon" *ngIf="i === currentSlideIndex" src="/fusion-assets/icons/active_dot.svg"
            alt="Active Dot">
          <img class="dot-icon" *ngIf="i !== currentSlideIndex" src="/fusion-assets/icons/gray_dot.svg"
            alt="Inactive Dot">
        </button>
      </div>
    </div>
  </div>
</div>
<div class="flex info-block">
  <div class="info-container info-disaplay-bg1">
    <div class="flex info-box">
      <img src="/fusion-assets/images/iconoir.svg" class="count-sphere-icons" alt="Sphere Icons" />
      <div class="info-number" *ngIf="bannerStatus">{{bannerStatus.learner_onboard}}+</div>
    </div>
    <p class="info-text" i18n>Learners onboarded</p>
  </div>
  <div class="info-container info-disaplay-bg2">
    <div class="flex info-box">
      <img src="/fusion-assets/images/Frame 92@2x.svg" class="count-sphere-icons" alt="Sphere Icons" />
      <div class="info-number" *ngIf="bannerStatus">{{bannerStatus.course}}+</div>
    </div>
    <p class="info-text" i18n>Number of courses</p>
  </div>
  <div class="info-container info-disaplay-bg1">
    <div class="flex info-box">
      <img src="/fusion-assets/images/carbon_course@2x.svg" class="count-sphere-icons" alt="Sphere Icons" />
      <div class="info-number" *ngIf="bannerStatus">{{bannerStatus.cne_course}}+</div>
    </div>
    <p class="info-text" i18n>CNE Hours</p>
  </div>
  <div class="info-container info-disaplay-bg2">
    <div class="flex info-box">
      <img src="/fusion-assets/images/Frame 152@2x.svg" class="count-sphere-icons" alt="Sphere Icons" />
      <div class="info-number" *ngIf="bannerStatus">{{bannerStatus.certificates_issues}}+</div>
    </div>
    <p class="info-text" i18n>Total certificate issued</p>
  </div>
</div>