<section>
  <p class="text-xl">How does it work?</p>
  <p class="font-normal text-sm grey-color">3 simple steps</p>
  <div class="mt-2">
    <div class="how-work-content" (click)="openIframe()">
      <iframe width="80" height="55" src="https://www.youtube.com/embed/pQN-pnXPaVg">
      </iframe>
      <div class="pl-4">
        <p class="text-base">Register for a course</p>
        <p class="font-normal grey-color leading-snug text-sm">Explore various courses and
          pick the ones you like
        </p>
      </div>
    </div>

    <div class="how-work-content">
      <iframe width="80" height="55" src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
      <div class="pl-4">
        <p class="text-base">Take the course</p>
        <p class="font-normal grey-color leading-snug text-sm">Access the course anytime, at
          your convinience
        </p>
      </div>
    </div>

    <div class="how-work-content">
      <iframe width="80" height="55" src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
      <div class="pl-4">
        <p class="text-base">Get certified</p>
        <p class="font-normal grey-color leading-snug text-sm">Receive downloadable and
          shareable certificates
        </p>
      </div>
    </div>
  </div>
</section>