<section id="scrollToHowSphereWorks">
  <p class="header2 mb-0">How Sphere works</p>
  <p class="lable1 grey-color">3 simple steps</p>
  <div class="mt-2" *ngFor="let video of data;let videoIndex = index ">
    <div class="how-work-content">

      <!-- <video width="125" height="85" controls preload="auto" poster="{{video.url}}">
        <source src="{{video.url}}" type="video/mp4">
      </video> -->
      <iframe class="how-work-iframe" [src]="video.url" allowfullscreen webkitallowfullscreen mozAllowFullScreen
        allow="autoplay *; fullscreen *; encrypted-media *; microphone; camera;" frameborder="0"
        [title]="video.title"></iframe>
      <div class="video-div">
        <p class="videoTitle">{{video.title}}</p>
        <p class="leading-snug videoDes">{{video.description}}
        </p>
      </div>

    </div>
  </div>
</section>