<section id="scrollToHowSphereWorks">
  <p [innerHTML]="'How Sphere works' | translate"></p>
  <p [innerHTML]="'3 simple steps' | translate"></p>
  <div class="mt-2">
    <div class="how-work-content" (click)="openVideoPopup('0')">

      <!-- <video width="125" height="85" controls preload="auto" poster="{{video.url}}">
        <source src="{{video.url}}" type="video/mp4">
      </video> -->
      <iframe class="how-work-iframe" src="https://www.youtube.com/embed/1fqlys8mkHg" allowfullscreen
        webkitallowfullscreen mozAllowFullScreen style="border:none"
        allow="autoplay *; fullscreen *; encrypted-media *; microphone; camera;" title="Register for a course"></iframe>
      <div class="video-div">
        <p [innerHTML]="'Register for a course' | translate"></p>
        <p [innerHTML]="'Explore various courses and pick the ones you like
        ' | translate"></p>
      </div>

    </div>
    <div class="how-work-content" (click)="openVideoPopup('1')">

      <!-- <video width="125" height="85" controls preload="auto" poster="{{video.url}}">
            <source src="{{video.url}}" type="video/mp4">
          </video> -->
      <iframe class="how-work-iframe" src="https://www.youtube.com/embed/Kl28R7m2k50" allowfullscreen
        webkitallowfullscreen mozAllowFullScreen style="border:none"
        allow="autoplay *; fullscreen *; encrypted-media *; microphone; camera;" title="Take the course"></iframe>
      <div class="video-div">
        <p [innerHTML]="'Take the course' | translate"></p>
        <p [innerHTML]="'Access the course anytime, at your convinience
        ' | translate"></p>
      </div>

    </div>
    <div class="how-work-content" (click)="openVideoPopup('2')">

      <!-- <video width="125" height="85" controls preload="auto" poster="{{video.url}}">
            <source src="{{video.url}}" type="video/mp4">
          </video> -->
      <iframe class="how-work-iframe" src="https://www.youtube.com/embed/JTGzCkEXlmU" allowfullscreen
        webkitallowfullscreen mozAllowFullScreen style="border:none"
        allow="autoplay *; fullscreen *; encrypted-media *; microphone; camera;" title="Get certified"></iframe>
      <div class="video-div">
        <p [innerHTML]="'Get certified' | translate"></p>
        <p [innerHTML]="'Receive downloadable and shareable certificates
        ' | translate"></p>
      </div>

    </div>
  </div>
</section>