<div class="content">

  <ws-mobile-profile-nav></ws-mobile-profile-nav>

  <p class="text-2xl mt-2">Education</p>

  <div class="mt-3">
    <div *ngFor="let academic of academicsArray">
      <div class="inline-block">
        <p class="heading">{{academic.nameOfQualification}}</p>
        <p class="head-2">{{academic.nameOfInstitute}}</p>
        <p class="head-3">{{academic.yearOfPassing}}</p>
      </div>
    </div>
    <mat-icon class="float-right pencil">edit</mat-icon>
    <mat-divider class="mt-2"></mat-divider>
  </div>



  <div class="mt-3">
    <p class="add-edu-txt inline-block">+ Add Education</p>
  </div>

</div>