.name {
  position: absolute;
  width: 207px;
  height: 19px;
  left: 115px;
  top: 23px;
}

.certificate-img-box{
  left: 4px;
  cursor: pointer;
}

.certficate-container{
  position: relative;
  padding-bottom: 4rem !important;
}