<div class="column py-2 px-0  position-relative " *ngIf="certificateData.image">
  <div class="flex">
    <div class="">
      <img alt="Certificate Image" [src]="certificateData.image" width="100px" height="auto" />
    </div>
    <div class="mx-0">
      <p class="text-base mb-0 name">{{certificateData.name}}</p>
    </div>
    <div>
      <a (click)="convertToJpeg(certificateData)" class="certificate-img-box" style="
    position: absolute;left: 450px;top: 20px;">
        <img alt="download certificate" src="/fusion-assets/images/download_cer.svg" width="35" height="18" />
      </a>
    </div>
  </div>
</div>
<canvas id="certCanvas"></canvas>