<div class="tnc-container" id="tnc">
  <button (click)="backBtnClick()" mat-icon-button
    class="back-icon text-left"><mat-icon>chevron_left</mat-icon></button>
  <div *ngIf="showTerms==='terms'" class="mat-app-background padding-s margin-bottom-s">
    <h3 *ngIf="!generalTnc?.isAccepted && generalTnc?.acceptedVersion.length" class="ws-mat-primary-text" i18n>
      Terms and Conditions have been updated.
    </h3>
    <div class="flex items-center justify-between">
      <div style="display: flex;flex-direction: column;" *ngIf="generalTnc?.version">
        <ng-container i18n><span style="margin-left: -12px !important">Terms of use</span></ng-container>
        <ng-container i18n><span style="margin-left: -12px !important;margin-top: 10px;">T&C Version :{{
            generalTnc?.version }}
          </span></ng-container>
      </div>
    </div>
  </div>
  <article *ngIf="showTerms==='terms'" [innerHTML]="generalTnc?.content" class="text-justify"></article>
  <!-- <mat-action-row *ngIf="dpTnc === 'Data Privacy'">
    <button mat-button *ngIf="termsOfUser" (click)="currentPanel = 'dp'" i18n>
      View Privacy Policy
    </button>
    <button mat-button *ngIf="!termsOfUser" (click)="currentPanel = 'dp'" i18n>
      Data Privacy
    </button>
  </mat-action-row> -->

  <div *ngIf="showTerms==='privacy'" class="mat-app-background padding-s margin-bottom-s">
    <h3 *ngIf=" dpTnc?.acceptedVersion.length" class="ws-mat-primary-text" i18n>
      Data privacy has been upgraded.
    </h3>
    <div class="flex items-center justify-between">

      <div *ngIf="dpTnc?.version">
        <ng-container i18n>Data Privacy Version: </ng-container>
        <span class="ws-mat-primary-text">{{ dpTnc?.version }}</span>
      </div>

    </div>
  </div>
  <article *ngIf="showTerms==='privacy'" [innerHTML]="dpTnc?.content | pipeSafeSanitizer: 'html'" class="text-justify">
  </article>

</div>


<mat-menu #tncLangMenu="matMenu">
  <ng-container *ngIf="generalTnc">
    <button (click)="changeTncLang(lang)" mat-menu-item *ngFor="let lang of generalTnc?.availableLanguages">
      <mat-icon *ngIf="lang === generalTnc?.language"> radio_button_checked </mat-icon>
      <mat-icon *ngIf="lang !== generalTnc?.language"> radio_button_unchecked </mat-icon>
      <span>{{lang}}</span>
    </button>
  </ng-container>
</mat-menu>

<mat-menu #dpLangMenu="matMenu">
  <ng-container *ngIf="dpTnc">
    <button (click)="changeDpLang(lang)" mat-menu-item *ngFor="let lang of dpTnc?.availableLanguages">
      <mat-icon *ngIf="lang === dpTnc?.language"> radio_button_checked </mat-icon>
      <mat-icon *ngIf="lang !== dpTnc?.language"> radio_button_unchecked </mat-icon>
      <span>{{lang}}</span>
    </button>
  </ng-container>
</mat-menu>