<div class="profile-select-shell">
  <div>
    <button type="button" style="all: unset; display: contents; cursor: pointer;" aria-label="Close"
      (click)="closeDialog()">
      <img class="cursor-pointer close-icon" src="../../../../fusion-assets/icons/close-vector.png" alt="" />
    </button>
  </div>
  <p class="profile-title">{{'Profile Picture' | translate}}</p>
  <p class="pick-text">{{'Pick from the following' | translate}}</p>

  <div class="py-2 pl-0 row">
    <div *ngFor="let img of imgJson">
      <div class="col-xs-4 p-2 img" tabindex="0" role="button" (click)="selectProfile(img.url)"
        (keydown.enter)="selectProfile(img.url)" (keydown.space)="selectProfile(img.url); $event.preventDefault()">
        <img [src]="img.url" alt="Profile option">
      </div>
    </div>
  </div>

  <p class="ml-2">{{'OR' | translate}}</p>
  <form [formGroup]="createUserForm">
    <div class="flex mt-3">

      <div class="camera-bg p-2" (click)="uploadProfilePic.click(); $event.stopPropagation()"
        (keydown.enter)="uploadProfilePic.click(); $event.stopPropagation()">

        <img class="camer-icon cursor-pointer" src="../../../../fusion-assets/images/camera.png" alt="Upload">

        <input id="uploadProfile" name="uploadProfileName" type="file" #uploadProfilePic class="hidden"
          aria-label="Upload profile picture"
          (change)="uploadProfileImg($event.target.files[0]); uploadProfilePic.value = null" style="display: none;"
          [accept]="imageTypes.toString()" />
      </div>
      <div class="my-auto mx-3 cursor-pointer" (click)="uploadProfilePic.click(); $event.stopPropagation()"
        (keydown.enter)="uploadProfilePic.click(); $event.stopPropagation()">
        <p class="add-own-img">{{'Add your own image' | translate}}</p>
      </div>

    </div>
  </form>
</div>
