<div>
  <div>
    <img src="../../../../fusion-assets/icons/close-vector.png" (click)="closeDialog()">
  </div>
  <p class="profile-title">Profile Picture</p>
  <p clas="pick-text">Pick from the following</p>

  <div class="py-2 pl-0 row">
    <div class="col-xs-4 p-2">
      <img src="../../../../fusion-assets/images/Group 205.png">
    </div>

    <div class="col-xs-4 p-2">
      <img src="../../../../fusion-assets/images/Group 206.png">
    </div>

    <div class="col-xs-4 p-2">
      <img src="../../../../fusion-assets/images/Group 211.png">
    </div>

    <div class="col-xs-4 p-2">
      <img src="../../../../fusion-assets/images/Group 212.png">
    </div>

    <div class="col-xs-4 p-2">
      <img src="../../../../fusion-assets/images/Group 213.png">
    </div>
  </div>

  <p class="ml-2">OR</p>
  <div class="flex mt-3">
    <div class="camera-bg p-2">
      <img class="camer-icon" src="../../../../fusion-assets/images/camera.png">
    </div>
    <div class="my-auto mx-3">
      <p class="add-own-img">Add your own image</p>
    </div>
  </div>
</div>