<div>
  <div>
    <img src="../../../../fusion-assets/icons/close-vector.png" (click)="closeDialog()">
  </div>
  <p class="profile-title">Profile Picture</p>
  <p clas="pick-text">Pick from the following</p>

  <div class="py-2 pl-0 row">
    <div *ngFor="let img of imgJson">
      <div class="col-xs-4 p-2" (click)="selectProfile(img.url)">
        <img [src]="img.url">
      </div>
    </div>
  </div>

  <p class="ml-2">OR</p>
  <form [formGroup]="createUserForm">
    <div class="flex mt-3">

      <div class="camera-bg p-2" (click)="uploadProfilePic.click(); $event.stopPropagation()"
        (keydown.enter)="uploadProfilePic.click(); $event.stopPropagation()">

        <img class="camer-icon" src="../../../../fusion-assets/images/camera.png">

        <input id="uploadProfile" name="uploadProfileName" type="file" #uploadProfilePic class="hidden"
          (change)="uploadProfileImg($event.target.files[0]); uploadProfilePic.value = null" style="display: none;"
          [accept]="imageTypes.toString()" />
      </div>
      <div class="my-auto mx-3">
        <p class="add-own-img">Add your own image</p>
      </div>

    </div>
  </form>
</div>