<div class="text-center signup-container">
  <h2 class="mat-title" i18n="Forgot Password">
    Forgot Password
  </h2>
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Enter Email id / Mobile Number</mat-label>
    <input type="text" matInput placeholder="Mobile number" [(ngModel)]="emailOrMobile">
  </mat-form-field>
  <div class="mt-8 mb-8 d-flex flex-center">
    <button mat-raised-button class="w-50" color="primary" (click)="forgotPassword()">
      Submit</button>
  </div>


  <mat-form-field appearance="outline" class="w-full" *ngIf="showOtpPwd">
    <mat-label>Enter OTP</mat-label>
    <input type="text" matInput placeholder="otp" [(ngModel)]="otp">
  </mat-form-field>

  <button mat-stroked-button *ngIf="showOtpPwd" class="resend mr-4 w-50" tabindex="0" (click)="resendOTP()">
    Resend OTP</button>



  <form class="example-form" [formGroup]="forgotPasswordForm" *ngIf="showOtpPwd">
    <div>



      <mat-form-field appearance="outline" class="w-full">
        <mat-label>password</mat-label>
        <input type="password" matInput placeholder="password" formControlName="password">

      </mat-form-field>
      <div class="mb-4 fs-12 text-left -mt-3">Your password must contain a minimum of 6 characters.</div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput placeholder="confirm password" formControlName="confirmPassword">
        <mat-error
          *ngIf="forgotPasswordForm.controls['confirmPassword'].pristine || forgotPasswordForm.controls['confirmPassword'].errors">
          Password does not match</mat-error>
      </mat-form-field>
      <div class="border"></div>

      <div class="mt-4 flex justify-center">
        <!-- <div class="center flex items-center"> -->
        <!-- <div *ngIf="uploadSaveData" class="pr-4 flex items-center justify-center">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div> -->
        <button mat-raised-button class="md-large-button" color="primary" type="submit" i18n
          [disabled]="!forgotPasswordForm?.valid" (click)="onSubmit(forgotPasswordForm)">

          <ng-container i18n>Reset Password</ng-container>
        </button>

      </div>
    </div>
  </form>
</div>