@import 'ws-common';
@import 'ws-mixins';

.login-page-content {
  box-sizing: border-box;
  @extend %page-center;
  @extend %height-mat-toolbar-sibling;
  box-sizing: border-box;
  padding: 0;
  max-width: 430px;
  @include breakpoint-s {
    padding: 12px;
  }
}
.login-card {
  margin: 0;
  margin-top: 20px;
  padding: 20px 20px 30px 20px;
  color: #000;
  font-size: 14px;
  line-height: 17px;
}
.close-div {
  display: none;
}
:host ::ng-deep .content {
    width: inherit;
}

:host ::ng-deep .column {
    width: 44%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 8px 18px 8px 0;
    height: 120px;
}
:host ::ng-deep h4{
    width: 25%;
    float: left;
    margin-left: 10px !important;
    margin-top: 10px !important;
    font-weight: 500 !important;
  }
:host ::ng-deep .column a img {
    float: right;
    width: 42%;
    margin-top: 15px;
  }
:host ::ng-deep .column:hover {
   border-color: #7CB5E6 !important;
}
:host ::ng-deep .column:focus {
   border-color: #7CB5E6 !important;
}
:host ::ng-deep .next-btn-div {
  text-align: right;
}
.login-button {
  width: 98px;
  height: 38px;
  background: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border:0;
  font-size: 16px;
  line-height: 19px;
  margin-top: 2rem;
}
.login-button:disabled {
  background: #BFBFBF;
  color: #808080;
}
.next-btn-div {
  padding-right: 22px;
}
@media screen and (max-width:768px) {
  .close-div {
    display: inline-block;
    position: absolute;
    top: 25px;
    width: 20px;
    right: 20px;
  }
}
@media screen and (max-width:600px) {
  .login-card {
    margin-top: 100px;
  }
}