<div class="login-page-content" *ngIf="!almostDone">
  <div class="login-card">
    <h1 id="choose-bg-heading" i18n>Choose your background</h1>
    <div class="content">
      <div class="content-wrapper" *ngFor="let img of professions; let i = index">
        <div class="column" (click)="imgSelect(img)" tabindex="-1">
          <a>
            <h4>{{img.name}}</h4>
            <img [src]="img.image" height="80" alt="{{img.name}}" />
          </a>
        </div>
      </div>
    </div>
    <div class="next-btn-div">
      <button class="form-group login-button" name="login" type="submit" (click)="onsubmit()" id="next-btn" i18n
        [disabled]="nextBtnDisable">
        Next</button>
    </div>
  </div>
</div>

<div *ngIf="almostDone">
  <ws-almost-done [yourBackground]='aboutYou' [backgroundSelect]='bgImgSelect' (redirectToParent)="changeBackgroung()">
  </ws-almost-done>
</div>