@import 'ws-common';
@import 'ws-mixins';
.signup-container {
  box-sizing: border-box;
  padding: $size-m;
  margin-left: 10%;
  margin-top: 5vh;
  @extend %height-mat-toolbar-sibling;
  box-sizing: border-box;
  @include breakpoint-gt-s {
    max-width: 45%;
  }
}

.submit-btn {
  min-width: 135px;
}
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
}

.width-40 {
  width: 40%;
  text-align: center;
}
.width-60 {
  width: 60%;
}

.left {
  left: 0;
  background-color: #eaeaea;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.fs-12 {
  font-size: 13px;
}
.prefix91 {
  vertical-align: 5px;
}
.resend {
  float: right;
  color: rgba($color: #000099, $alpha: 1);
}
