<div class="content" [ngStyle]="showbackButton ? {'padding': '0' } : {}">
  <ws-mobile-profile-nav [trigerrNavigation]=" trigerrNavigation" [showbackButton]="showbackButton"
    [showLogOutIcon]="showLogOutIcon">
  </ws-mobile-profile-nav>
  <p class="text-2xl mt-2" i18n>Organizational Details</p>
  <!-- <mat-icon *ngIf="userProfileData && userProfileData.professionalDetails" class="float-right pencil cursor-pointer"
    (click)="redirectToWorkInfo(true)">
    edit</mat-icon> -->
  <!-- <div class="mt-3" *ngFor="let profession of userProfileData?.professionalDetails">
    <div class="inline-block">
      <p class="heading pb-1">{{profession.name}}</p>
      <p class="head-2 pb-1">{{profession.location}}</p>
      <p class="head-3 pb-1">{{profession.designation}}</p>
      <p class="head-3 pb-1">{{profession.doj}}</p>
    </div>
  </div> -->
  <form [formGroup]="personalDetailForm" class="mt-3 mb-5">
    <label i18n style="display: block;">Background</label>
    <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
      <mat-select formControlName="profession" i18n-placeholder placeholder="Profession"
        (selectionChange)="professionalChange($event.value)">
        <mat-option [value]="profession" *ngFor="let profession of professions">{{profession}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="HealthcareWorker">
      <div class="form-group input-box">
        <select id="profession" formControlName="designation" class="form-control select-box"
          (change)="professionSelect($event.target.value);" required>
          <option [value]="null" style="color:#808080;" i18n>Profession*</option>
          <option *ngFor="let profession of healthWorkerProfessions" [value]="profession">{{ profession }}
          </option>
        </select>
      </div>
      <div class="form-group input-box" *ngIf="professionOthersField">
        <input type="text" formControlName="professionOtherSpecify" i18n class="form-control" i18n-placeholder
          placeholder="Please Specify*" autocomplete="off">
      </div>
      <mat-error class="text-danger mb-4"
        *ngIf="personalDetailForm.controls['professionOtherSpecify'].hasError('pattern')">
        {{errorMsg}}</mat-error>
      <div class="form-group">
        <label i18n>RN/RM Number</label>
        <input type="text" formControlName="regNurseRegMidwifeNumber" class="form-control" i18n-placeholder
          placeholder="RN/RM Number" autocomplete="off">
      </div>
      <div class="form-group input-box">
        <select id="orgType" formControlName="orgType" class="form-control select-box"
          (change)="orgTypeSelect($event.target.value);" required>
          <option [value]="null" i18n>Organization Type*</option>
          <option *ngFor="let orgType of orgTypes" [value]="orgType">{{ orgType }}</option>
        </select>
      </div>
      <div class="form-group input-box" *ngIf="orgOthersField">
        <input type="text" formControlName="orgOtherSpecify" class="form-control " i18n-placeholder
          placeholder="Please Specify*" autocomplete="off">
      </div>
      <mat-error class="text-danger mb-4" *ngIf="personalDetailForm.controls['orgOtherSpecify'].hasError('pattern')">
        {{errorMsg}}</mat-error>
      <div class="form-group input-box">
        <input type="text" name="orgName" formControlName="orgName" i18n class="form-control"
          placeholder="Organization Name" autocomplete="off">
      </div>

    </ng-container>
    <ng-container *ngIf="HealthcareVolunteer">
      <div class="form-group input-box">
        <select id="profession" formControlName="designation" class="form-control select-box"
          (change)="professionSelect($event.target.value);" required>
          <option [value]="null" style="color:#808080;" i18n>Profession*</option>
          <option *ngFor="let profession of healthVolunteerProfessions" [value]="profession">{{ profession }}
          </option>
        </select>
      </div>
      <div class="form-group input-box" *ngIf="professionOthersField">
        <input type="text" formControlName="professionOtherSpecify" i18n class="form-control" i18n-placeholder
          placeholder="Please Specify*" autocomplete="off">
      </div>
      <mat-error class="text-danger mb-4"
        *ngIf="personalDetailForm.controls['professionOtherSpecify'].hasError('pattern')">
        {{errorMsg}}</mat-error>
      <div class="form-group input-box">
        <select id="orgType" formControlName="orgType" class="form-control select-box"
          (change)="orgTypeSelect($event.target.value);" required>
          <option [value]="null" i18n>Organization Type*</option>
          <option *ngFor="let orgType of orgTypes" [value]="orgType">{{ orgType }}</option>
        </select>
      </div>
      <div class="form-group input-box" *ngIf="orgOthersField">
        <input type="text" formControlName="orgOtherSpecify" class="form-control " i18n-placeholder
          placeholder="Please Specify*" autocomplete="off">
      </div>
      <mat-error class="text-danger mb-4" *ngIf="personalDetailForm.controls['orgOtherSpecify'].hasError('pattern')">
        {{errorMsg}}</mat-error>
      <div class="form-group input-box">
        <input type="text" name="orgName" formControlName="orgName" i18n class="form-control"
          placeholder="Organization Name" autocomplete="off">
      </div>

    </ng-container>
    <ng-container *ngIf="Student">
      <div class="form-group input-box">
        <input type="text" class="form-control" i18n-placeholder formControlName="courseName"
          placeholder="Qualification"
          (change)="assignFields('coursename',almostDoneForm.controls['courseName'].value, $event)">
      </div>
      <mat-error class="text-danger mb-4" *ngIf="personalDetailForm.controls['courseName'].hasError('pattern')">
        {{errorMsg}}</mat-error>
      <div class="form-group mt-4 input-box">
        <input type="text" class="form-control" formControlName="instituteName" placeholder="Institution Name"
          i18n-placeholder
          (change)="assignFields('institutionName',almostDoneForm.controls['instituteName'].value, $event)" required>
      </div>
      <mat-error class="text-danger mb-4" *ngIf="personalDetailForm.controls['instituteName'].hasError('pattern')">
        {{errorMsg}}</mat-error>

    </ng-container>
    <!-- Background: Faculty -->
    <ng-container *ngIf="Faculty">
      <div class="form-group input-box">
        <input type="text" class="form-control" formControlName="designation" placeholder="Designation"
          i18n-placeholder>
      </div>
      <mat-error class="text-danger mb-4" *ngIf="personalDetailForm.controls['designation'].hasError('pattern')">
        {{errorMsg}}</mat-error>

      <div class="form-group mt-4 input-box">
        <input type="text" class="form-control" formControlName="orgName" placeholder="Institution Name*"
          i18n-placeholder required>
      </div>
      <mat-error class="text-danger mb-4" *ngIf="personalDetailForm.controls['orgName'].hasError('pattern')">
        {{errorMsg}}</mat-error>

    </ng-container>
    <!-- Background: Faculty -->
    <div>
      <button type="submit" (click)="onSubmit(personalDetailForm)" class="save-btn" i18n>Save</button>
    </div>
  </form>
  <input type="hidden" i18-value i18-aria-value aria-value="User profile details update successful"
    value="User profile details updated successfully!" #toastSuccess />
  <!-- <mat-divider class="mt-2"></mat-divider> -->

  <!-- <div class="mt-3">
    <p class="add-edu-txt inline-block cursor-pointer" (click)="redirectToWorkInfo(false)" i18n>+ Add Work Info</p>
  </div> -->

</div>