<div class="content">

  <ws-mobile-profile-nav [showbackButton]="showbackButton" [showLogOutIcon]="showLogOutIcon"></ws-mobile-profile-nav>

  <p class="text-2xl mt-2" i18n>Work Info</p>
  <mat-icon *ngIf="userProfileData && userProfileData.professionalDetails" class="float-right pencil cursor-pointer"
    (click)="redirectToWorkInfo(true)">
    edit</mat-icon>
  <div class="mt-3" *ngFor="let profession of userProfileData?.professionalDetails">
    <div class="inline-block">
      <p class="heading pb-1">{{profession.name}}</p>
      <p class="head-2 pb-1">{{profession.location}}</p>
      <p class="head-3 pb-1">{{profession.designation}}</p>
      <p class="head-3 pb-1">{{profession.doj}}</p>
    </div>

  </div>

  <mat-divider class="mt-2"></mat-divider>


  <div class="mt-3">
    <p class="add-edu-txt inline-block cursor-pointer" (click)="redirectToWorkInfo()" i18n>+ Add Work Info</p>
  </div>

</div>