@import 'ws-mixins';

.content {
  padding: 60px 20px 30px;
  //margin: auto;

  // @include breakpoint-gt-s {
  //   max-width: 30%;
  // }

  // @include breakpoint-gt-m {
  //   max-width: 35%;
  // }

  // @include breakpoint-gt-l {
  //   max-width: 30%;
  // }

  @include breakpoint-s {
    max-width: 100%;
  }

  @include breakpoint-xs {
    max-width: 90%;
  }
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #ffffff;
  opacity: 1;
}
.heading,
.head-2,
.head-3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  margin: 0 !important;
}

.heading {
  font-size: 12px;
  color: #808080;
}

.head-2 {
  font-size: 16px;
  line-height: 19px;
}

.head-3 {
  font-size: 12px;
  line-height: 14px;
}

.add-edu-txt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1C5D95;
}

.pencil {
  font-size: 1.2rem !important;
}

.add-icon {
  color: #1C5D95;
  font-size: 20px;
}
.save-btn {
  width: 88px;
  height: 38px;
  background-color: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  float: right;
  cursor: pointer;
}