<div class="content">
  <ws-mobile-profile-nav [trigerrNavigation]="trigerrNavigation" [showbackButton]="showbackButton"
    [showLogOutIcon]="showLogOutIcon">
  </ws-mobile-profile-nav>
  <p class="text-2xl mt-2" i18n>Organizational Details</p>
  <!-- <mat-icon *ngIf="userProfileData && userProfileData.professionalDetails" class="float-right pencil cursor-pointer"
    (click)="redirectToWorkInfo(true)">
    edit</mat-icon> -->
  <div class="mt-3" *ngFor="let profession of userProfileData?.professionalDetails">
    <div class="inline-block">
      <p class="heading pb-1">{{profession.name}}</p>
      <p class="head-2 pb-1">{{profession.location}}</p>
      <p class="head-3 pb-1">{{profession.designation}}</p>
      <p class="head-3 pb-1">{{profession.doj}}</p>
    </div>
  </div>
  <form [formGroup]="personalDetailForm" class="mt-3 mb-5">
    <label i18n style="display: block;">Background</label>
    <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
      <mat-select formControlName="profession" i18n-placeholder placeholder="Profession"
        (selectionChange)="professionalChange($event.value)">
        <mat-option [value]="profession" *ngFor="let profession of professions">{{profession}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-group" *ngIf="showDesignation">
      <label i18n>Designation</label>
      <input type="text" formControlName="designation" class="form-control" placeholder="Please Specify Designation*"
        i18n-placeholder autocomplete="off">
    </div>

    <div class="form-group" *ngIf="professionOtherField">
      <label i18n>Other Profession</label>
      <input type="text" formControlName="professionOtherSpecify" class="form-control"
        placeholder="Please Specify Profession*" i18n-placeholder autocomplete="off">
    </div>

    <div class="form-group" *ngIf="rnShow">
      <label i18n>RN/RM Number</label>
      <input type="text" formControlName="regNurseRegMidwifeNumber" class="form-control" (change)="fieldChange()"
        i18n-placeholder placeholder="RN/RM Number" autocomplete="off">
    </div>

    <div *ngIf="orgTypeField">
      <label i18n>Organization Type</label>
      <mat-form-field [hidden]=" orgTypeField" appearance="outline" class="field-fullwidth">
        <mat-select formControlName="orgType" i18n-placeholder placeholder="Organization Type"
          (selectionChange)="orgTypeSelect($event.value);">
          <mat-option [value]="orgType" *ngFor="let orgType of orgTypes">{{orgType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group"
      *ngIf="orgOthersField || (userProfileData?.professionalDetails && userProfileData?.professionalDetails[0].orgOtherSpecify)">
      <label i18n>Organization Other's Specify</label>
      <input type="text" formControlName="orgOtherSpecify" class="form-control " placeholder="Please Specify*"
        i18n-placeholder autocomplete="off">
    </div>
    <mat-error class="text-danger mb-4" *ngIf="personalDetailForm.controls['orgOtherSpecify'].hasError('pattern')">
      {{errorMsg}}</mat-error>

    <div class="form-group"
      *ngIf="userProfileData?.professionalDetails && userProfileData?.professionalDetails[0].name">
      <label i18n>Organization Name</label>
      <input type="text" formControlName="organizationName" class="form-control" placeholder="Organization's Name"
        i18n-placeholder autocomplete="off" (change)="fieldChange()" i18n-placeholder>
    </div>

    <div class="form-group input-box" *ngIf="showAshaField">
      <label i18n>Block</label>
      <input type="text" name="block" formControlName="block" class="form-control" placeholder="Block"
        autocomplete="off" i18n-placeholder>
    </div>

    <div class="form-group input-box" *ngIf="showAshaField">
      <label i18n>Sub Centre</label>
      <input type="text" name="subcentre" formControlName="subcentre" class="form-control" placeholder="Sub Centre"
        autocomplete="off" i18n-placeholder>
    </div>
    <div style="position: absolute;right: 35px;bottom: 100px;">
      <button type="submit" (click)="onSubmit(personalDetailForm)" class="save-btn"
        [disabled]="personalDetailForm?.invalid" i18n>Save</button>
    </div>
  </form>
  <input type="hidden" i18-value i18-aria-value aria-value="User profile details update successful"
    value="User profile details updated successfully!" #toastSuccess />
  <!-- <mat-divider class="mt-2"></mat-divider> -->

  <!-- <div class="mt-3">
    <p class="add-edu-txt inline-block cursor-pointer" (click)="redirectToWorkInfo(false)" i18n>+ Add Work Info</p>
  </div> -->

</div>