<ws-header></ws-header>
<div class="content bnrc-page-content" [ngStyle]="showbackButton ? {'padding': '0' } : {}">
  <p class="text-2xl mt-2" i18n>E-kshamata Registration</p>
  <form [formGroup]="bnrcDetailForm" class="mt-3 mb-5">
    <label i18n for="profession" style="display: block;">First Name / नाम <span class="red-icon">*</span></label>
    <div class="form-group input-box">
      <input pattern="[a-zA-Z\s]+" type="text" name="firstName" formControlName="firstName" i18n class="form-control"
        placeholder="First Name" autocomplete="off">
    </div>
    <mat-error *ngIf="bnrcDetailForm.get('firstName')?.invalid && bnrcDetailForm.get('firstName')?.touched">
      First Name is required.
    </mat-error>
    <label i18n for="profession" style="display: block;">Last Name / उपनाम <span class="red-icon">*</span></label>
    <div class="form-group input-box">
      <input pattern="[a-zA-Z\s]+" type="text" name="lastName" formControlName="lastName" i18n class="form-control"
        placeholder="Last Name" autocomplete="off">
    </div>
    <mat-error *ngIf="bnrcDetailForm.get('lastName')?.invalid && bnrcDetailForm.get('lastName')?.touched">
      Last Name is required.
    </mat-error>

    <label i18n for="profession" style="display: block;">Phone Number / मोबाइल नंबर <span
        class="red-icon">*</span></label>
    <div class="form-group input-box">
      <input type="text" name="mobile" formControlName="phone" i18n class="form-control" placeholder="Phone Number"
        autocomplete="off">
    </div>
    <mat-error *ngIf="bnrcDetailForm.get('phone')?.invalid && bnrcDetailForm.get('phone')?.touched">
      Phone Number is required / Phone number is invalid
    </mat-error>
    <label i18n for="profession" style="display: block;">Email / ईमेल </label>
    <div class="form-group input-box">
      <input type="text" name="email" formControlName="email" i18n class="form-control" placeholder="Email Id"
        autocomplete="off">
    </div>

    <label i18n for="profession" style="display: block;">District / ज़िला <span class="red-icon">*</span></label>

    <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
      <mat-select formControlName="district" i18n-placeholder placeholder="District">
        <mat-option [value]="district" *ngFor="let district of districts">{{district}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="bnrcDetailForm.get('district')?.invalid && bnrcDetailForm.get('district')?.touched">
      District is required.
    </mat-error>

    <label i18n for="profession" style="display: block;">Role <span class="red-icon">*</span> </label>
    <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
      <mat-select formControlName="role" i18n-placeholder placeholder="Role"
        (selectionChange)="professionalChange($event.value)">
        <mat-option [value]="profession" *ngFor="let profession of professions">{{profession}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="bnrcDetailForm.get('role')?.invalid && bnrcDetailForm.get('role')?.touched">
      Role is required.
    </mat-error>
    <ng-container *ngIf="Student">
      <label i18n for="profession" style="display: block;">Name of Institute / संस्थान का नाम <span
          class="red-icon">*</span></label>

      <div class="form-group mt-4 input-box">
        <input autocomplete="off" pattern="[a-zA-Z\s]+" type="text" class="form-control" formControlName="instituteName"
          placeholder="Name of Institute" i18n-placeholder
          (change)="assignFields('institutionName',almostDoneForm.controls['instituteName'].value, $event)" required>
      </div>

      <mat-error *ngIf="bnrcDetailForm.get('instituteName')?.invalid && bnrcDetailForm.get('instituteName')?.touched">
        Name of Institute is required.
      </mat-error>
      <label i18n for="profession" style="display: block;">Type of Institute /संस्थान का प्रकार <span
          class="red-icon">*</span></label>

      <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
        <mat-select formControlName="instituteType" i18n-placeholder placeholder="Type of Institute">
          <mat-option [value]="profession" *ngFor="let profession of instituteType">{{profession}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="bnrcDetailForm.get('instituteType')?.invalid && bnrcDetailForm.get('instituteType')?.touched">
        Type of Institute is required.
      </mat-error>
      <label i18n for="profession" style="display: block;">Course Selection / पाठ्यक्रम चयन <span
          class="red-icon">*</span></label>

      <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
        <mat-select formControlName="courseSelection" i18n-placeholder placeholder="Course selection">
          <mat-option [value]="profession" *ngFor="let profession of courseSelection">{{profession}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error
        *ngIf="bnrcDetailForm.get('courseSelection')?.invalid && bnrcDetailForm.get('courseSelection')?.touched">
        Course is required.
      </mat-error>
    </ng-container>
    <!-- Background: Faculty -->
    <ng-container *ngIf="Faculty">
      <label i18n for="profession" style="display: block;">Name of Institute / संस्थान का नाम <span
          class="red-icon">*</span></label>

      <div class="form-group mt-4 input-box">
        <input autocomplete="off" pattern="[a-zA-Z\s]+" type="text" class="form-control" formControlName="instituteName"
          placeholder="Name of Institute" i18n-placeholder
          (change)="assignFields('institutionName',almostDoneForm.controls['instituteName'].value, $event)" required>
      </div>
      <mat-error *ngIf="bnrcDetailForm.get('instituteName')?.invalid && bnrcDetailForm.get('instituteName')?.touched">
        Name of Institute is required.
      </mat-error>

      <label i18n for="profession" style="display: block;">Type of Institute / संस्थान का प्रकार <span
          class="red-icon">*</span></label>

      <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
        <mat-select formControlName="instituteType" i18n-placeholder placeholder="Type of Institute">
          <mat-option [value]="profession" *ngFor="let profession of instituteType">{{profession}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="bnrcDetailForm.get('instituteType')?.invalid && bnrcDetailForm.get('instituteType')?.touched">
        Type of Institute is required.
      </mat-error>
      <label i18n for="profession" style="display: block;">Type Of Faculty / संकाय का प्रकार <span
          class="red-icon">*</span></label>
      <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
        <mat-select formControlName="facultyType" i18n-placeholder placeholder=" Type Of Faculty">
          <mat-option [value]="profession" *ngFor="let profession of facultyList">{{profession}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="bnrcDetailForm.get('facultyType')?.invalid && bnrcDetailForm.get('facultyType')?.touched">
        Type Of Faculty is required.
      </mat-error>


      <div class="form-group">
        <label for="regNurseRegMidwifeNumber" i18n>HRMS/Manav Sampada id <span *ngIf="hrmsErr"
            class="red-icon">*</span></label>
        <input type="text" formControlName="hrmsId" class="form-control" i18n-placeholder
          placeholder="HRMS/Manav Sampada id " autocomplete="off">
        <mat-error *ngIf="bnrcDetailForm.get('hrmsId')?.invalid && bnrcDetailForm.get('hrmsId')?.touched">
          HRMS/Manav Sampada id is required.
        </mat-error>
      </div>
      <div class="form-group">
        <label for="regNurseRegMidwifeNumber" i18n>BNRC Registration number <span *ngIf="bnrcErr"
            class="red-icon">*</span></label>
        <input type="text" formControlName="bnrcRegistrationNumber" class="form-control" i18n-placeholder
          placeholder="BNRC Registration number" autocomplete="off">
        <mat-error
          *ngIf="bnrcDetailForm.get('bnrcRegistrationNumber')?.invalid && bnrcDetailForm.get('bnrcRegistrationNumber')?.touched">
          BNRC Registration number is required.
        </mat-error>
      </div>


    </ng-container>
    <ng-container *ngIf="inService">
      <label i18n for="position" style="display: block;">Position / पद <span class="red-icon">*</span></label>
      <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
        <mat-select formControlName="publicFacilityType" i18n-placeholder placeholder="Position">
          <mat-option [value]="profession" *ngFor="let profession of Position">{{profession}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error
        *ngIf="bnrcDetailForm.get('publicFacilityType')?.invalid && bnrcDetailForm.get('publicFacilityType')?.touched">
        Position is required.
      </mat-error>
      <label i18n for="profession" style="display: block;">Role for Inservice Nurse <span
          class="red-icon">*</span></label>
      <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
        <mat-select (selectionChange)="professionalChange($event.value)" formControlName="roleForInService"
          i18n-placeholder placeholder="Role for Inservice Nurse">
          <mat-option [value]="profession" *ngFor="let profession of inserviceList">{{profession}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error
        *ngIf="bnrcDetailForm.get('roleForInService')?.invalid && bnrcDetailForm.get('roleForInService')?.touched">
        Role for Inservice Nurse is required.
      </mat-error>
    </ng-container>
    <div *ngIf="publicHealthFacility">
      <label i18n for="position" style="display: block;">Position / पद <span class="red-icon">*</span></label>
      <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
        <mat-select formControlName="publicFacilityType" i18n-placeholder placeholder="Position">
          <mat-option [value]="profession" *ngFor="let profession of Position">{{profession}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error
        *ngIf="bnrcDetailForm.get('publicFacilityType')?.invalid && bnrcDetailForm.get('publicFacilityType')?.touched">
        Position is required.
      </mat-error>
      <label i18n for="profession" style="display: block;">Role for Inservice Nurse <span
          class="red-icon">*</span></label>
      <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
        <mat-select (selectionChange)="professionalChange($event.value)" formControlName="roleForInService"
          i18n-placeholder placeholder="Role for Inservice Nurse">
          <mat-option [value]="profession" *ngFor="let profession of inserviceList">{{profession}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error
        *ngIf="bnrcDetailForm.get('roleForInService')?.invalid && bnrcDetailForm.get('roleForInService')?.touched">
        Role for Inservice Nurse is required.
      </mat-error>
      <label i18n for="profession" style="display: block;">Type of service <span class="red-icon">*</span></label>
      <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
        <mat-select (selectionChange)="serviceTypeChange($event.value)" formControlName="serviceType" i18n-placeholder
          placeholder="Type of service">
          <mat-option [value]="profession" *ngFor="let profession of serviceType">{{profession}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="bnrcDetailForm.get('serviceType')?.invalid && bnrcDetailForm.get('serviceType')?.touched">
        Type of service is required.
      </mat-error>
      <div class="form-group">
        <label for="facilityName" i18n>Name of Facility / संस्थान का नाम <span class="red-icon">*</span></label>
        <input pattern="[a-zA-Z\s]+" type="text" formControlName="facilityName" class="form-control" i18n-placeholder
          placeholder="Name of Facility" autocomplete="off">
        <mat-error *ngIf="bnrcDetailForm.get('facilityName')?.invalid && bnrcDetailForm.get('facilityName')?.touched">
          Name of Facility is required.
        </mat-error>
      </div>
      <div class="form-group">
        <label for="hrmsId" i18n>HRMS/Manav Sampada id <span *ngIf="hrmsErr" class="red-icon">*</span></label>
        <input type="text" formControlName="hrmsId" class="form-control" i18n-placeholder
          placeholder="HRMS/Manav Sampada id " autocomplete="off">
        <mat-error *ngIf="bnrcDetailForm.get('hrmsId')?.invalid && bnrcDetailForm.get('hrmsId')?.touched">
          HRMS/Manav Sampada id is required.
        </mat-error>
      </div>
      <div class="form-group">
        <label for="bnrcRegistrationNumber" i18n>BNRC Registration number <span *ngIf="bnrcErr"
            class="red-icon">*</span></label>
        <input type="text" formControlName="bnrcRegistrationNumber" class="form-control" i18n-placeholder
          placeholder="BNRC Registration number" autocomplete="off">
        <mat-error
          *ngIf="bnrcDetailForm.get('bnrcRegistrationNumber')?.invalid && bnrcDetailForm.get('bnrcRegistrationNumber')?.touched">
          BNRC Registration number is required.
        </mat-error>
      </div>


    </div>
    <div *ngIf="privateHealthFacility">
      <label i18n for="position" style="display: block;">Position / पद <span class="red-icon">*</span></label>
      <mat-form-field appearance="outline" class="field-fullwidth" style="width: 100%;">
        <mat-select formControlName="privateFacilityType" i18n-placeholder placeholder="Position">
          <mat-option [value]="profession" *ngFor="let profession of Position">{{profession}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error
        *ngIf="bnrcDetailForm.get('privateFacilityType')?.invalid && bnrcDetailForm.get('privateFacilityType')?.touched">
        Position is required.
      </mat-error>
      <label i18n for="profession" style="display: block;">Role for Inservice Nurse <span
          class="red-icon">*</span></label> <mat-form-field appearance="outline" class="field-fullwidth"
        style="width: 100%;">
        <mat-select formControlName="roleForInService" i18n-placeholder placeholder="Role"
          (selectionChange)="professionalChange($event.value)">
          <mat-option [value]="profession" *ngFor="let profession of inserviceList">{{profession}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error
        *ngIf="bnrcDetailForm.get('roleForInService')?.invalid && bnrcDetailForm.get('roleForInService')?.touched">
        Role for Inservice Nurse is required.
      </mat-error>


      <div class="form-group">
        <label for="facilityName" i18n>Name of Facility / संस्थान का नाम <span class="red-icon">*</span></label>
        <input pattern="[a-zA-Z\s]+" type="text" formControlName="facilityName" class="form-control" i18n-placeholder
          placeholder="Name of Facility" autocomplete="off">
        <mat-error *ngIf="bnrcDetailForm.get('facilityName')?.invalid && bnrcDetailForm.get('facilityName')?.touched">
          Name of Facility is required.
        </mat-error>
      </div>

      <div class="form-group">
        <label for="bnrcRegistrationNumber" i18n>BNRC Registration number <span class="red-icon">*</span></label>
        <input type="text" formControlName="bnrcRegistrationNumber" class="form-control" i18n-placeholder
          placeholder="BNRC Registration number" autocomplete="off">
        <mat-error
          *ngIf="bnrcDetailForm.get('bnrcRegistrationNumber')?.invalid && bnrcDetailForm.get('bnrcRegistrationNumber')?.touched">
          BNRC Registration number is required.
        </mat-error>
      </div>
    </div>
    <span *ngIf="message">{{message}}</span>
    <div style="margin: 10px 0px;">
      <button type="submit" (click)="onSubmit()" class="save-btn" i18n>Save</button>
    </div>
  </form>
  <input type="hidden" #toastSuccess />

</div>