.video-player-page {
  padding:20px 20px 0;
}
.video-player-page .title {
  font-size: 24px;
  color: #404040;
}
.video {
  width: 100%;
  height: 165px;
  border-radius: 10px;
}
.register-text {
  font-size: 20px;
  color: #404040;
}
.video-player-content {
  font-size: 16px;
  color: #363636;
}
.video-player-page {
  padding:90px 20px 0;
}
.video-player-page .title {
  font-size: 24px;
  color: #404040;
}
.video-player-non-login-page {
  padding: 20px;
}
.video-player-non-login-page .title {
  font-size: 24px;
  color: #404040;
}
