<!-- How does it Work video Player Screen -->
<div class="video-player-page">
  <p class="title">Howdoes it work?</p>
  <div>
    <div>
      <video class="video" controls>
        <source src="../../../fusion-assets/videos/videoplayback.mp4" type="video/mp4">
      </video>
    </div>
    <div class="mt-3">
      <p class="register-text">Register for a course</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
    </div>

    <div class="mt-4">
      <P class="title">Watch Next</P>
      <ng-container>
        <ws-mobile-how-does-work [data]="videoData | slice:videoIndex+1:videoData.length-1"
          (openPlayer)="openIframe($event)">
        </ws-mobile-how-does-work>
      </ng-container>
    </div>
  </div>
</div>