.login-header {
  padding: 20px 50px;
  .main-logo {
    width: 125px;
    height: 43px;
  }
}
@media screen and (max-width:600px) {
  .login-header {
    padding-bottom: 5px;
    padding-left: 15px;
    margin-top: 30px;
  }
}
