.trusted-by-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.trusted-by-heading{
    width: 204px;
    height: 40px;
    left: 25px;
    top: 1073px;
    /* Header 2 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* or 120% */

    letter-spacing: -0.02em;

    color: #000000
}
.trusted-by-ord-heading{
    width: 270px;
    height: 32px;
    left: 25px;
    top: 1102px;
    /* Body */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: -0.02em;
    color: #000000;
}
.button-wrai-rmc{
    width: 82px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #2E6491;
    mix-blend-mode: normal;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}