<!--trusted by banner-->
<div class="banner-container">
  <section class="partner-organizers">
    <div class="trusted-by-orgs">
      Trusted By
    </div>
    <div class="header-text-partner-orgs">
      50+ Partner Organizations and Growing
    </div>
    <div class="row trusted-section">
      <div class="col-5">
        <img src="/fusion-assets/images/trusted-banner-sphere.png" class="card-img-leftside" alt="Sphere" />
      </div>
      <div class="col-7">
        <div elseIf="isMobile" class="compressed partner-banner">
          <img src="/fusion-assets/images/partner-banner-compressed.jpg " class="partner-banner-compressed"
            alt="Sphere" />
          <img src="/fusion-assets/icons/wrai.jpg " class="partner-banner-wrai" alt="Sphere" />
          <span class="wrai-text">We are endorsing the WRAI RMC Chapter</span>
          <span class="wrai-rmc">
            <button class="button-wrai-rmc">Read Chapter</button>
          </span>

        </div>
      </div>
    </div>

  </section>
</div>