
/***************************Bootstrap CSS******************************************/

/***************************Bootstrap CSS******************************************/
.banner-content-h1
{
width: 422px;
height: 117px;
left: 196px;
top: 206px;

/* Display 1 */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
/* or 120% */

letter-spacing: -0.02em;
padding-top: 100px;
color: #000000;
}
.banner-content-p {
    padding-top: 107px;
}


button.banner-create-button {
    width: 164px;
    height: 39px;
    left: 196px;
    top: 415px;
    background: #1C5D95;
    border-radius: 21px;
    color: white;
    border-color: #1C5D95;
    padding-top: 2px;
}

.banner-content-button {
    padding-top: 46px;
}

img.logo-size.img-responsive {
    height: 50px;
    padding-left: 100px;
}

.logo-homepage {
    padding-top: 8px;
}

button.navbar-login-button {
    background: #2E6491;
    border-radius: 19px;
    width: 74px;
    border-color: #2E6491;
    color: #f5f7f8;
}

.float-sm-right.logo-homepage {
    padding-top: 21px;
}

.float-sm-left.logo-homepage.text-end {
    padding-top: 20px;
}


.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

section.featured-course {
    padding: 90px;
}
.top-certified-course {
    /* padding-left: 85px; */
    /* background: #f7f7f7; */
    padding: 40px;
}


.top-certified-course-header {
    font-size: 24px;
    padding-bottom: 10px;
}

.card.h-100.card-courses-crousel {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 1px 1px #eee;
}

img.card-img-top {
    border-radius: 10px 10px 1px 1px;
}

.top-right-certification {
    position: absolute;
    border-radius: 10px 3px 10px 1px;
    padding: 4px;
    background: #469788;
    color: white;
    padding-right: 14px;
    padding-left: 14px;
}


p.card-text {
    font-size: 10px;
}

body{margin-top:20px;}
.section_padding_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}
.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}
@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}


h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #1f7de2;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

section.sphere-counts-desc {
    background: #F5F5F5;
    padding: 40px;
}

.icon-text {
    font-size: 40px;
}

.col-2.icon-text {
    color: #14446C;
    padding-top: 8px;
}
img.count-sphere-icons-n {
    height: 39px;
}
.col-2.icon-text-n {
    font-size: 38px;
    color: #14446C;
    padding-left: 11px;
    padding-top: 10px;
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

p.count-text {
    margin-left: -48% !important;
}

.vl {
    border-left: 2px solid #c1aea7;
    height: 30px;
    background: #a59994;
    margin-top: 15px;

}

button.navbar-newuser-button {
    background: white;
    border-radius: 19px;
    width: 94px;
    border-color: #1C5D95;
    color: #2E6491;
}

.logo-supported-text {
    padding-left: 8px;
    left: 303px;
    top: 39px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #7B6961;
    padding-top: 11px;
}

.featured-course-header {
       padding-left: 42px;
    font-size: 35px;
    font-weight: 500;
}

.sub-heading-features {
   padding-left: 41px;
    padding-top: 16px;
    font-size: 18px;
    font-weight: 400;
}

img.partner-icon {
    height: 66px;
    width: 214px;
}

img.partner-icon1 {
    height: 50px;
    width: 214px;
}
.trusted-by-orgs {
    font-size: 35px;
    font-weight: 500;
}

section.partner-organizers {
    padding-left: 128px;
    padding-bottom: 30px;
}

.header-text-partner-orgs {
    padding-top: 22px;
    font-size: 18px;
    font-weight: 400;
}

.row.partners {
    padding-top: 30px;
    padding-bottom: 30px;
}

.hr-row {
    border: 1px solid #c9c6c7;
    width: 612px;
    margin-left: 17px;
}

.row.trusted-section-part {
    padding-top: 84px;
}

img.card-img-leftside {
    height: auto;
    height: 338px;
}

section.learn-how-it-works {
    background: #F9F3E8;
    padding-top: 50px;
    padding-bottom: 50px;
}

.learn-course-header {
    text-align: center;
    font-size: 38px;
    color: #14446C;
}

.sub-learning-features {
    text-align: center;
    padding-top: 29px;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    color: #000000;
}

.card-group {
        padding-left: 190px;
    padding-right: 188px;
    padding-top: 40px;
}

.card.get-certification-process {
    padding: 32px;
    margin-right: 45px;
    border-radius: 20px !important;
}

img.card-img-certification {
    border-radius: 20px !important;
}

.header-faqs {
    font-size: 38px;
    font-weight: 400;
    font-family: 'Roboto';
    padding-bottom: 30px;
        padding-top: 50px;
}
section.couse-faqs {
    padding-left: 128px;
    padding-bottom: 30px;
}
.accordion {
  width: 100%;
}

.accordion-item {
  display: flex;
  flex-direction: column;
      padding-right: 126px;
}

.accordion-header {
  background-color: #eeeeee;
  padding: 1rem;
  cursor: pointer;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  background-color: white;
  transition: max-height 0.2s ease-out;
}

input[type="checkbox"]:checked ~ .accordion-body {
  max-height: 1000px;
}

.transform-career{
    padding : 60px;
    background : #EBF4FB;
}
.transform-header {
    text-align: center;
    font-size: 38px;
    font-weight: 400;
}
button.navbar-starttoday-button {
    background: #2E6491;
    border-radius: 19px;
    width: 116px;
    border-color: #2E6491;
    color: #f5f7f8;
    align-items: center;
    margin-left: 86%;
    margin-top: 23px;
}
i.fa.fa-angle-down.pull-right {
    padding-left: 85%;
}
.col.part-a-partner {
    background: #F1E7E3;
        padding-bottom: 56px;
}

.col.part-b-partner {
    background:#F9F3E8;
        padding-bottom: 56px;
}

.col-6.text-partners {
    text-align: right;
    padding-top: 89px;
    font-size: 33px;
    font-weight: 400;
}

img.card-img-partner {
    padding-top: 67px;
}

img.card-img-partner-a {
    padding-top: 70px;
}

/* Mobile devices (portrait) */
@media (max-width: 767px) {

  .banner-content-h1 {
    left: 0;
    top: 0;
    font-size: 36px;
    line-height: 45px;
    padding-top: 50px;
    padding-left: 13px;
  }

  .card-group {
    padding-right: 24px;
    padding-top: 20px;
    padding-left: 25px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 11px;
}

  button.banner-create-button {
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    border-radius: 10px;
    padding-top: 10px;
  }

  img.logo-size.img-responsive {
    height: 40px;
    padding-left: 0;
  }

  button.navbar-login-button {
    width: 50px;
    border-radius: 23px;
    margin-left: 54px;
        padding-left: 11px;
    padding-right: 42px !important;
  }

  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    padding-right: 0;
    padding-left: 0;
  }

  section.featured-course {
    padding: 50px;
  }

  .top-certified-course {
    padding: 20px;
  }

  h5.card-title {
    font-size: 90% !important;
  }

  p.card-text {
    font-size: 12px;
    color: #959f9c;
  }

  .section_padding_130 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  button.navbar-starttoday-button[_ngcontent-cnw-c19] {
    margin-left: 57%;
    }

}

.banner-for-tutorials{
    background : url('/fusion-assets/images/Yellow-band-compressed.jpg');
}

.banner-for-tutorials {
    background: #FFFDDC;
    padding: 45px;
    text-align: center;
}

.col-tutorials-header.pull-center {
    font-size: 28px;
    color: #14446C;
    font-weight: 500;
}
button.watch-tutorials {
    background: #2E6491;
    border-radius: 18px;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 24px;
    color: white;
}
section.for-updates {
    padding: 52px;
}
.header-for-updates {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 25px;
}

img.partner-banner-wrai {
    height: 22px;
    padding-left: 66px;
}
.compressed.partner-banner {
    font-weight: 500;
    /* background: #1C5D95; */
    color: #1C5D95;
}
button.button-wrai-rmc {
    background: white;
    border-radius: 19px;
    width: 116px;
    border-color: #1C5D95;
    color: #2E6491;
}

img.partner-banner-compressed {
    width: 713px;
}

/**********************************Mobile view CSS Started***********************************************/





/* Mobile devices (landscape) CSS applied ------------------------------------------ */



@media (max-width: 991px) and (orientation: landscape) {

.col-6.text-partners[_ngcontent-vpq-c19] {
    text-align: right;
    padding-top: 89px;
    font-size: 18px;
    font-weight: 400;
    bottom: 73px;
    min-width: 189px !important;
}

  .banner-content-h1 {
    font-size: 40px;
    line-height: 48px;
  }
  section.couse-faqs{
    padding-left: 38px;
    padding-bottom: 27px;
}
.accordion-item {
    display: flex;
    flex-direction: column;
    padding-right: 26px;
}
}

.banner-content-button {
  display: block;
}
.logo-supported-text{
    display: block;
}


@media (max-width: 767px) {

img.partner-banner-wrai {
    height: 100px;
    padding-left: 101px;
}


button.button-wrai-rmc {
    background: white;
    border-radius: 19px;
    width: 116px;
    border-color: #1C5D95;
    color: #2E6491;
    margin-left: 95px;
    margin-top: 28px;
    margin-bottom: 44px;
}

button.watch-tutorials {
    background: #2E6491;
    border-radius: 18px;
    padding:10px;
    margin-top: 24px;
    color: white;
}

.card.testimony {
    width: 228% !important;
}

.card.testimonial--card {
    width: 311px;
}
.col-6.facebook-sdk {
    margin: 13px;
    padding-top: 21px;
}

span.wrai-text {
    font-size: 12px;
    margin-left: 74px;
    position: absolute;
    min-width: 251px;
}

  .banner-content-button {
    display: none;
  }

  .logo-supported-text{
    display: none;
  }
  .v1{
    display: none !important;
  }
  .col-6.navbar-newuser-button {
    margin-left: -80px;
}

.logo-homepage {
    padding-left: 20px;
}

.col-6.navbar-login-button {
    margin-left: 8px;
    padding-left: 13px;
}
.col-6.bnner-img {
    position: relative;
    padding-top: 36px;
    margin-left: 5px;
    padding-bottom: 30px;
}

img.d-block.w-100  {
    width: 345px !important;
    position: relative;
    position: relative;
    padding-top: 183px;
    margin-left: -186px;
    padding-bottom: 30px;
}
.banner-content-p {
    padding-top: 39px;
    width: 250px !important;
    padding-left: 22px;
}

section.sphere-counts-desc {
    background: #F5F5F5;
    padding: 0px;
}
p.count-text{
    margin-left: -28px !important;
}

.col-2.icon-text{
    padding-left: 32px;
}
.col-2.icon-text-n {
    padding-left: 26px;
}
.col.one {
    background: #F1E7E3;
    padding-left: 30px;
    padding-top: 18px;
}
img.partner-banner-compressed {
    width: 600px;
}
}


@media (max-width: 767px) {

 .col.one {
    background: #F1E7E3;
    padding-left: 50px;
    padding-top: 18px;
    /* position: relative; */
    /* margin-right: 66px !important; */
}
.col.two {
    background: #F5F5F5;
    padding-left: 50px;
    padding-top: 18px;
}

.col.three {
    background: #F5F5F5;
    padding-left: 50px;
    padding-top: 18px;
}
.col.four {
    background: #F1E7E3;
    padding-left: 50px;
    padding-top: 18px;
}
.vl {
    border: none !important;
}

section.partner-organizers{
    padding-left: 31px;
    padding-bottom: 30px;
}
img.card-img-leftside{
    height: auto;
    height: 250px;
}
.hr-row{
    border: none;
}
.featured-course-header {
   padding-left: 0px !important;
    font-size: 30px;
    font-weight: 500;
}
section.couse-faqs{
    padding-left: 31px;
    padding-bottom: 30px;
}


  .card.get-certification-process {
     padding: 2px;
    margin-right: 2px;
  }
  .sub-heading-features
  {
    padding-left: 33px;
    padding-top: 11px;
    font-size: 14px;
    font-weight: 400;
    }
    .accordion-item {
    display: flex;
    flex-direction: column;
    padding-right: 29px;
    }
    .transform-career{
    padding : 16px;
    background : #EBF4FB;
}
.transform-header {
    text-align: center;
    font-size: 28px;
    /* font-weight: 400; */
    padding: 19px;
    line-height: 1;
    font-family: 'Roboto';
    font-weight: 500;
    color: #14446C;
}
img.card-img-certification {
     width: 119px;
    height: 79px;
    padding-top: 10px;
    padding-left: 10px;
}
.card.get-certification-process {
    flex-direction: row;
    height: 95px;

}
.banner-for-tutorials{
    line-height: 1;
}

mat-card.card-standard-container.mr-8.\31 .mat-card {
    background: white !important;
    border-radius: 15px;
    border-color: antiquewhite;
}

.card-standard-container.title-text{

    padding-left: 11px;
}

.card-standard-container .description-text {
    padding-left: 11px;
}

button.navbar-starttoday-button{
    margin-left: 59%;
    margin-bottom: 10 px;
}
  .compressed.partner-banner {
    padding-top: 255px;
    position: relative;
    /* position: absolute; */
    top: 50px;
    left: -188px;
    /* width: 100% !important; */
}
img.partner-banner-compressed {
    padding-bottom: 27px;
    width: 338px !important;
    margin-left: 15px;
}

img.card-img-partner {
    position: unset;
    left: -28px;
    width: 76px;
    padding-bottom: 9px;
    margin-left: 58px;
    margin-top: -10px;
}
img.card-img-partner-a.img-responsive {
    position: unset;
    left: -28px;
    width: 118px;
    padding-bottom: 9px;
    margin-left: 30px;
    margin-top: 17px;
}

.col-6.text-partners {
    text-align: right;
    padding-top: 27px;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    min-width: 201px !important;
    margin-left: -27px;
}

}

@media (max-width: 767px) {
  .desktop-div {
    display: none;
  }


}

@media (min-width: 768px) {
  .mobile-div {
    display: none;
  }


}