<!--trusted by banner-->
<div class="trusted-by-container">
  <div class="trusted-by-heading">
    Trusted By
  </div>
  <div class="trusted-by-ord-heading">
    50+ Partner Organizations and Growing
  </div>
  <div class="">
    <img src="/fusion-assets/images/trusted-banner-sphere.png" class="trusted-by-img" alt="Sphere" />
    <svg xmlns="http://www.w3.org/2000/svg" width="280" height="2" viewBox="0 0 280 2" fill="none">
      <path d="M0.905762 1H307.922" stroke="#EAE9E9" stroke-width="0.484252" />
    </svg>
    <div class="img-container">
      <img class="trusted-by-img2" src="../../../fusion-assets/images/image 158.svg" alt="Sphere" />
      <img class="trusted-by-img3" src="../../../fusion-assets/images/image 159.svg" alt="Sphere" />
      <img class="trusted-by-img4" src="../../../fusion-assets/images/image 161.svg" alt="Sphere" />
    </div>
    <div class="img-container">
      <img class="trusted-by-img5" src="../../../fusion-assets/images/image 162.svg" alt="Sphere" />
      <img class="trusted-by-img6" src="../../../fusion-assets/images/image 175.svg" alt="Sphere" />
      <img class="trusted-by-img7" src="../../../fusion-assets/images/image 160.svg" alt="Sphere" />
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="280" height="2" viewBox="0 0 280 2" fill="none">
      <path d="M0.421387 0.999634H307.437" stroke="#EAE9E9" stroke-width="0.484252" />
    </svg>
    <!-- <img class="trusted-by-img2" src="/fusion-assets/images/partner-banner-compressed.jpg " alt="Sphere" /> -->
  </div>
</div>
<div class="rmc-container">
  <img class="trusted-by-img8" src="/fusion-assets/icons/wrai.jpg " alt="Sphere" />
  <span class="rmc-text">We are endorsing the WRAI RMC Chapter</span>
  <a target="_blank" href="https://www.c3india.org/assets/c3india/images_c3wrai/pdf/rmc-charter.pdf"
    class="button-wrai-rmc">Read
    Chapter</a>
</div>