<!-- <mat-toolbar [color]="pageNavbar.color" [ngStyle]="pageNavbar?.styles">
  <ws-widget-btn-page-back [widgetData]="{ url: 'home',titles:[{title:'FAQ',url:'none'}] }"></ws-widget-btn-page-back> -->
<!-- <span class="margin-left-xs text-truncate">
    <span ="page title: about" class="margin-left-xs">FAQ</span>
  </span> -->
<!-- </mat-toolbar> -->
<div *ngIf="!isFaqFeature">
  <h1  class="mat-title margin-top-xl text-center">
    Frequently asked questions can be configured here.
  </h1>
</div>
<mat-sidenav-container class="sidenav-container" *ngIf="isFaqFeature">
  <mat-sidenav class="sidenav" [mode]="mode$ | async" [(opened)]="sideNavBarOpened">
    <mat-nav-list>
      <a mat-list-item aria-label="Login Related Faqs" class="" [routerLink]="'/public/faq/login'"
        routerLinkActive="faq-active-class mat-toolbar mat-stroked-button" (click)="sideNavOnClick()"
        accesskey="1">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="screenSizeIsLtMedium" class="flex flex-middle padding-m">
      <button type="button" mat-icon-button (click)="sideNavBarOpened = !sideNavBarOpened">
        <mat-icon>menu</mat-icon>
      </button>
      <h2 class="mat-subheading-2 margin-remove px-2" [ngSwitch]="currentTab">
        <span *ngSwitchCase="'login'"  accesskey="1">Login</span>
      </h2>
    </div>
    <section class="padding-m leading-relaxed" [ngSwitch]="currentTab">
      <mat-card class="nav-container" *ngSwitchCase="'login'">
        <p class="mat-body-2" >
          Q1. Unable to login to Wingspan
        </p>
        <p class="mat-body-1">
          <ng-container >
            For using Wingspan you have to register yourself for Multi-Factor Authentication.
            Please login to Wingspan from
          </ng-container>
          <ng-container>
            https://wingspan.com
          </ng-container>
          <ng-container >

            Wingspan is an internet facing application there are two scenarios.
            1. You are accessing Wingspan on Infosys Intranet (VPN yes but not IConnect)
            2. You are accessing Wingspan on Internet (from your personal laptop/desktop/Mobile
            browser/Android/iOS native applications)
            In 1) you will not have to do separate authentication, your windows login will be
            automatically used for letting you in Wingspan
            In 2) You need to register yourself first for Multi-Factor Authentication (MFA) at
          </ng-container>
          <ng-container>
            https://rasssp.ad.wingspan.com/MultiFactorAuth/
          </ng-container>
          <ng-container >
            on intranet and register.
            The passcode or pin you set up here will be used for login later.
            Once you enter your Infosys user name and password on a Microsoft Page, you will receive
            a call prompting you to use the passcode/pin to authenticate yourself.
            You can also either register or change your pin if you have forgotten.
          </ng-container>
        </p>
        <mat-divider></mat-divider>
        <p class="mat-body-2 pt-4" >
          Q2. Unable to logon to Wingspan, enclosed blue screen error
        </p>
        <p class="mat-body-1" >
          Request to kindly clear your cookies and cache of the desktop browser once before
          trying.
          Also you can use Incognito mode or Private Browsing modes of Chrome and IE.
          Restart the browser and try accessing Wingspan.
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2 pt-4" >
          Q3. Login credentials for Wingspan
        </p>
        <p class="mat-body-1">
          <ng-container >
            Please visit:
          </ng-container>
          <ng-container> https://mtf.ad.wingspan.com/MultiFactorAuth/ </ng-container>
          <ng-container >
            and register yourself for Multi-Factors Authentication.
            You can set a passcode of your choice. Select Call-In method for authentication.
            For accessing Wingspan this is a “must” criteria.
            1. Visit
          </ng-container>
          <ng-container>
            https://wingspan.com
          </ng-container>
          <ng-container >

            2. Press Login Button
            3. If you are on Infosys Network, you will not have to just enter your Infosys Mail
            ID
            4. If you are on Internet, on button click, you will be taken to Microsoft Login Site.
            Please enter your Infosys Mail ID
            5. You will be taken to stsakaash site which is from Infosys. Here you provide your
            email id and password(Infosys account)
            6. You will receive a phone call from Microsoft on your registered phone number
            7. You are required to key-in your passcode and #
            8. If your authentication is successful, the web browser will automatically take you to
            Wingspan.
          </ng-container>
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2 pt-4" >
          Q4. Unable to logon to Wingspan , getting Microsoft Login page
        </p>
        <p class="mat-body-1" >
          Clear the browser cache and cookies (going as far back as possible).
          This issue is mainly for user who use other Infosys O365 Applications like Mail, VPN,
          Yammer and many more.
          The token issued by Microsoft when you used such an application is stored in the cookies
          and Microsoft needs to be forced to issue a fresh token which will allow access the
          Wingspan application which is also a O365 Application.
          Clear the cache and cookies and restart the browser and try accessing Wingspan
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2 pt-4" >
          Q5. Account Already Exists
        </p>
        <p class="mat-body-1" >
          Raise an AHD
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2 pt-4" >
          Q6. I am not able to get my PIN to enter with password in Wingspan application. Would you
          please help me with this?
        </p>
        <p class="mat-body-1">
          <ng-container >
            Can you mail CCD-Helpdesk (Global Support)
          </ng-container>
          <ng-container>
            ccd_gsc@wingspan.com
          </ng-container>
          <ng-container >
            and get them to reset the same?
          </ng-container>
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2 pt-4" >
          Q7. Downtime
        </p>
        <p class="mat-body-1" >
          Request you to kindly clear your cookies and cache of the desktop browser once before
          trying.
          Also you can use Incognito mode or Private Browsing modes of Chrome and IE.
        </p>
      </mat-card>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>