@use 'ws-common';
@use 'ws-vars';

.sidenav-container {
  @extend %height-mat-toolbar-sibling;
  background: white !important;
}

.text-center {
  text-align: center;
}

.faq-container {
  margin: ws-common.$size-l;
}

.page-heading {
  margin-bottom: ws-common.$size-xl;
}

.sidenav {
  width: 25%;
  min-width: 250px;
  background: inherit;
  padding: 0px 16px 0px 16px;
}

.faq-active-class {
  border-right-color: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-container {
  padding: 36px;
  margin: 16px;
  @include ws-common.breakpoint-xs {
    padding: 16px;
  }
}
