@use 'ws-vars';
@use 'ws-mixins';

.about-container {
  margin-top: ws-vars.$size-m;
  line-height: 1.5;
  font-size: 1.15em;
  @include ws-mixins.breakpoint-lt-m {
    padding: ws-vars.$size-xs;
  }
  @include ws-mixins.breakpoint-lt-l {
    padding-right: ws-vars.$size-xs;
  }
}
