@import 'ws-common';
@import 'ws-mixins';
.login-page-content {
  box-sizing: border-box;
  @extend %page-center;
  @extend %height-mat-toolbar-sibling;
  box-sizing: border-box;
  padding: 0;
  background: #f7f7f7;
  height: 175px;
  max-width: 400px;
  @include breakpoint-s {
    padding: 12px;
  }
}
.login-card {
  margin: 0;
  padding: 20px 20px 30px 20px;
  color: #000;
  font-size: 14px;
  line-height: 17px;
}
.login-header {
  .main-logo {
    width: 93px;
    height: 33px;
    left: 20px;
    top: 75px;
  }
}
.check-email-text {
  font-size: 24px;
  line-height: 29px;
}
.create-acct-text {
  font-size: 24px;
  line-height: 29px;
}
.img-box{
  padding: 0 55px;
}
.label-text{
  color: #5f6368;
  font-size: 12px;
  line-height: 15px;
}
.input-content{
  position: absolute;
  max-width: 340px;
}
.input-box {
    width: 312px;
    height: 35px;
    padding: 4px 12px;
    font-size: 16px;
    line-height: 19px;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 8%);
    border-radius: 6px;
    border: 1px solid #bbb;
}
a {
  color: #2873b2;
}
.login-button {
  width: 98px;
  height: 38px;
  background: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border:0;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  right: 0;
}
.terms {
  margin-top: 50px;
}
.termsChecked {
  height: 12px;
}
// @media screen and (min-width:425px) {
//   .login-page-content {
//     width: max-content;
//     margin: 0 200px;
//     position: absolute;
//   }
// }

