<ws-header></ws-header>
<!-- Create Account Form -->
<div class="login-page-content" *ngIf="!otpPage">
  <div class="login-card">
    <div>
      <h1 class="display-3">Create your account</h1>

      <div class="input-content">
        <div class="input-content-wrapper">
          <form [formGroup]="createAccountForm" id="form-login" action="" method="post">
            <div class="form-group">
              <input id="firstname-field" class="form-control" formControlName="firstname" type="text"
                placeholder="First Name" autocomplete="off">
              <mat-error class="text-danger"
                *ngIf="createAccountForm.controls['firstname'].hasError('required') &&
                          (createAccountForm.controls['firstname'].dirty || createAccountForm.controls['firstname'].touched)">
                This field is required</mat-error>
              <mat-error class="text-danger"
                *ngIf="createAccountForm.controls['firstname'].hasError('pattern') &&
                          (createAccountForm.controls['firstname'].dirty || createAccountForm.controls['firstname'].touched)">
                Invalid name Format</mat-error>
            </div>

            <div class="form-group">
              <input id="lastname-field" class="form-control" formControlName="lastname" type="text"
                placeholder="Last Name" autocomplete="off">
              <mat-error class="text-danger"
                *ngIf="createAccountForm.controls['lastname'].hasError('required') &&
                                    (createAccountForm.controls['lastname'].dirty || createAccountForm.controls['lastname'].touched)">
                This field is required</mat-error>
              <mat-error class="text-danger"
                *ngIf="createAccountForm.controls['lastname'].hasError('pattern') &&
                                    (createAccountForm.controls['lastname'].dirty || createAccountForm.controls['lastname'].touched)">
                Invalid name Format</mat-error>
              <label class="label-text">(This is the name that will show up on your certificate)</label>
            </div>

            <div class="form-group">
              <input id="email-field" class="form-control" formControlName="emailOrMobile" type="text"
                placeholder="Phone Number/Email ID" autocomplete="off">
              <mat-error class="text-danger"
                *ngIf="createAccountForm.controls['emailOrMobile'].hasError('required') &&
                (createAccountForm.controls['emailOrMobile'].dirty || createAccountForm.controls['emailOrMobile'].touched)">
                This field is required</mat-error>
              <mat-error class="text-danger" *ngIf="createAccountForm.controls['emailOrMobile'].hasError('pattern')">
                Invalid email or number</mat-error>
            </div>
            <div class="form-group">
              <div class="input-group pwd" id="show_hide_password_1">
                <input class="form-control" formControlName="password" placeholder="Password" id="password-field"
                  [type]="hide1 ? 'password' : 'text'">
                <div class="input-group-addon iconPosition1">
                  <a href="javascript:void(0)" (click)="toggle1()">
                    <i [ngClass]="iconChange1" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <label class="label-text">(Password must contain a minimum of 8 characters including numerals, lower and
                upper
                case alphabets and special characters without space)</label>
              <mat-error class="text-danger" *ngIf="createAccountForm.controls['password'].hasError('required') &&
                  (createAccountForm.controls['password'].dirty || createAccountForm.controls['password'].touched)">
                This field is required</mat-error>
              <mat-error class="text-danger" *ngIf="createAccountForm.controls['password'].hasError('pattern') &&
                (createAccountForm.controls['password'].dirty || createAccountForm.controls['password'].touched)">
                Invalid Password Format</mat-error>
            </div>
            <div class="form-group">
              <div class="input-group pwd">
                <input class="form-control" formControlName="confirmPassword" [type]="hide2 ? 'password' : 'text'"
                  placeholder="Confirm Password" id="confpassword-field">
                <div class="input-group-addon iconPosition1">
                  <a href="javascript:void(0)" (click)="toggle2()">
                    <i [ngClass]="iconChange2" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <mat-error class="text-danger"
                *ngIf="createAccountForm.controls['confirmPassword'].hasError('required') &&
                  (createAccountForm.controls['confirmPassword'].dirty || createAccountForm.controls['confirmPassword'].touched)">
                This field is required.</mat-error>
              <mat-error class="text-danger"
                *ngIf="createAccountForm.controls['confirmPassword'].hasError('mustMatch') &&
                (createAccountForm.controls['confirmPassword'].dirty || createAccountForm.controls['confirmPassword'].touched)">
                Password does not match</mat-error>
            </div>
            <div class="next-btn-div">
              <button class="btn next-button" name="login" type="submit" id="next-btn"
                [disabled]="!createAccountForm?.valid" (click)="onSubmit(createAccountForm)">Next</button>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- Create Account Form Close-->
<input type="hidden" i18-value i18-aria-value aria-value="Signup successful" value="Thanks for Signing up"
  #toastSuccess />
<input type="hidden" i18-value i18-aria-value aria-value="unable to signup" value="Error Signing up!" #toastError />

<!-- OTP Form -->
<div *ngIf="otpPage">
  <ws-login-otp [signUpdata]="createAccountForm" (redirectToParent)="showParentForm($event)"></ws-login-otp>
</div>
<!-- OTP Form Close-->