@import 'ws-common';
@import 'ws-mixins';

.login-page-content {
  box-sizing: border-box;
  // padding: $size-m;
  @extend %page-center;
  @extend %height-mat-toolbar-sibling;
  padding: 0;
  box-sizing: border-box;

  @include breakpoint-gt-s {
    max-width: 30%;
  }

  @include breakpoint-gt-m {
    max-width: 25%;
  }

  @include breakpoint-gt-l {
    max-width: 20%;
  }

  @include breakpoint-s {
    max-width: 50%;
    padding: 12px;
  }

  @include breakpoint-xs {
    max-width: 100%;
    margin: auto;
    margin: 0px !important;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px 40px 0px 0px;
    display: block;
    background: #FFFFFF;
  }
}
.display-3{
  font-weight: 400 !important;
}
.login-card {
  margin: 0;
  padding: 0px 20px 0px 30px;
  color: #000;
  font-size: 14px;
  line-height: 17px;
  overflow: visible;
}

.label-text {
  color: #5f6368;
  font-size: 12px;
  line-height: 15px;
  margin-top: 2px;
}

.iconPosition1 {
  position: absolute;
  right: 5px;
  top: 20px;
}

.text-success {
  color: green; /* Change to your preferred success color */
  display: flex;
}

::ng-deep .mat-mdc-form-field-hint-wrapper {
  padding: 0 !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-error {
    padding: 0px 0px 10px 0px  !important;
    margin-bottom: 5px !important;
}
::ng-deep .text-danger .mat-error {
  padding-left: 0px !important;
}
::ng-deep .mat-form-field-subscript-wrapper{
  padding-left: 0px !important;
}
::ng-deep .field-edit-width{
  width: 100%;
  .mat-mdc-text-field-wrapper {
    box-shadow: 0 0 4px 0 #00000026 !important;
    background-color: #f2f2f2 !important;
  }
}
.eye-icon{
  background-color: #FFFFFF;
  border: none;
}
::ng-deep.mat-form-field-infix{
  display: flex !important;
}
::ng-deep .mat-form-field-flex{
    box-shadow: 0px 0px 4px 0px #00000026;
    background: #f2f2f2 !important;
}
.btm-block-img{
  position: relative;
  bottom: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 0;
  margin-top: 20px;
  // padding-bottom: 20px;
}
.btm-bg{
  width: 216px;
  height: 66px;
}
a {
  color: #000 !important;
}

:host::ng-deep .pwd {
  width: 93% !important;
}
.next-button-lang{
  margin-top: 0px;
  width: 100%;
  height: 38px;
  background: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  position: relative;
}
.next-button-lang:disabled {
  background: #BFBFBF;
  color: #808080;
  cursor: default;
}
.next-button {
  margin-top: 0px;
  width: auto;
  min-width: 100px;
  padding: 0px 24px;
  height: 38px;
  background: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  position: relative;
}

.next-button:disabled {
  background: #BFBFBF;
  color: #808080;
  cursor: default;
}

.next-btn-div {
  text-align: right;
  margin: 1rem 0;
  overflow: visible;
}
// @media screen and (max-height: 700px) {
//   /* Adjust the height for mobile screens */
//   .nav-bar-bg1 {
//     height: 65px !important; /* Set the height to 60px */
//   }
//   .nav-bar-bg {
//     height: 266px !important; /* Set the height to 266px */
//   }
// }

@media screen and (max-width:600px) {
  .z-btn{
  z-index: 9999;
}
.top-blue-color{

    background: linear-gradient(180deg, #EFF6FC 100%, #DCEFEC 32.46%, #FFFCC8 65.57%, #F9F3E8 98.36%);
}
.btm-blue-color{
      background: linear-gradient(180deg, #e7f5e9 45%, #ffffff 118.46%, #FFFCC8 108.57%, #F9F3E8 98.36%);

}
  .top-block{
 padding: 20px;
 align-items: center;
  }
  .help-btn{
        display: flex;
        gap: 12px;
        width: 22%;
        height: 36px;
        color: #2E6491;
        border-radius: 63px;

        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        border: 1px solid #2E6491;
        padding: 8px;
        align-items: center;
        justify-content: center;
  }
h4.info-text, .info-text{
  font-family: Roboto, sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: -0.02em !important;
  text-align: left !important;

}

.nav-bar-bg {
  display: flex;
  flex-direction: column;
  height: 300px;
  gap: 0px;
  opacity: 1; /* Ensure the nav bar is visible */
  background:  url('../../../fusion-assets/icons/ocean_themed_gradient_blur_background_0509 2.png');
  background-size: cover; /* Adjust as needed */
  align-items: baseline;
}

.nav-bar-bg1{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0px;
  background: linear-gradient(180deg, #EFF6FC 100%, #DCEFEC 32.46%, #FFFCC8 65.57%, #F9F3E8 98.36%);
  align-items: baseline;
}
.lang-top-bg-block{
  display: flex;
  justify-content: center;
  width: 100% !important;
}
.btm-bg{
  width: 218px;
height: 66px;
top: 574px;
left: 71px;
gap: 0px;

}
.lang-top-bg{
  width: 218px;
height: 172.29px;
top: 80px;
left: 71px;
gap: 0px;

}

  // .input-content {
  //   width: 100%;
  // }

  .next-button {
    right: 12px;
  }
}
::ng-deep .info-text{
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}
.mat-error {
  padding: 6px;
}

span.display-language {
  color: #1C5D95;
  font-weight: 400;
  text-transform: capitalize;
}

.cursor-pointer {
  cursor: pointer;
}
img.lang-img {
  width: 35px;
  height: 24px;
}

.lang-subtitle {
  padding-bottom: 15px;
}

span.mat-button-wrapper {
  color: white;
}

.text {
  color: #1C5D95 !important;
    font-weight: 500 !important;
    text-decoration: underline !important;
}
.greenButton {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #4BCA59 !important;
    background-color: #fff !important;
    border: 1px solid #4BCA59 !important;
    border-radius: 50px;
    width: 100%;
    transition: all .25s ease-in;
}
.rel {
  position: relative;
  margin-top: 10px;
}
.whatsApp {
  position: absolute;
    z-index: 6;
    left: 38px;
    top: 3px;
    cursor: pointer;
     @include breakpoint-xs{
    left: 21px;
  }
}
.otp-page{
  min-height: 600px;
  @media screen and (min-height:600px) and (max-height:900px) {
  height: 600px;
  }
}
::ng-deep .line-bottom {
  border-bottom: 1px solid #DDDDDD;

  .mdc-label {
    margin-bottom: 0 !important;
    font-weight: 500 !important;
  }
}

::ng-deep .radioButton {
  .mdc-label {
    margin-bottom: 0 !important;
    font-weight: 500 !important;
  }
}

::ng-deep .mat-mdc-list-base {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px;
}

.radioBlock {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
}

.flex-row {
  display: flex;
  align-items: center;
}
:host::ng-deep .mat-mdc-radio-button {
  margin: 0 !important;
  .mdc-radio {
    padding-block: 12px !important;
    padding-inline: 2px !important;
    .mdc-radio__native-control:enabled:checked+.mdc-radio__background {
      .mdc-radio__outer-circle {
        border-color: #424242 !important;
      }
      .mdc-radio__inner-circle {
        border-color: #424242 !important;
      }
    }
  }
}

::ng-deep .mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-focus-icon-color: #000;
  --mdc-radio-selected-hover-icon-color: #000;
  --mdc-radio-selected-icon-color: #000;
  --mdc-radio-selected-pressed-icon-color: #000;
  --mat-radio-checked-ripple-color: #000;
}

:host ::ng-deep .input-content {
  // width: 100%;
  .mat-mdc-text-field-wrapper {
    box-shadow: 0 0 4px 0 #00000026;
    .mat-mdc-form-field-focus-overlay{
      opacity: 0.5 !important;
      background-color: white !important;
    }
  }
}

::ng-deep .mat-mdc-text-field-wrapper .mdc-text-field__input {
  caret-color: #000 !important; // black cursor
}

::ng-deep .mdc-floating-label--float-above{
  color: black !important;
}
::ng-deep .mat-mdc-form-field.mat-form-field-appearance-fill.mat-focused .mdc-text-field--focused .mat-mdc-form-field-focus-overlay{
  opacity: 0 !important;
}
::ng-deep .mat-mdc-form-field.mat-form-field-appearance-fill .mdc-line-ripple {
  display: none !important;
}

::ng-deep .mat-mdc-form-field-error-wrapper {
  padding: 0px !important;
  .mat-mdc-form-field-error {
    font-weight: 400;
    display: flex !important;
  }
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--filled {
  background-color: transparent !important; /* default background */
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--filled:hover {
  background-color: transparent !important; /* hover background */
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--filled.mdc-text-field--focused {
  background-color: transparent !important; /* focus background */
}

::ng-deep .mat-mdc-form-field.mat-form-field-appearance-fill.mat-focused .mdc-text-field--focused .mat-mdc-form-field-focus-overlay{
  opacity: 0 !important;
  background-color: white !important;
}

.gray-dot{
  width:8px;
  height:8px;
}
.login-method-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-method-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .next-btn-div {
    align-self: flex-end;
    margin: 0;
  }
}