<ws-header class="tnc-header"></ws-header>
<div class="tnc-main">
  <div class="tnc-render-content">
    <ws-tnc-renderer (tncChange)="getTnc($event)" (dpChange)="getDp($event)" [tncData]="tncData">
    </ws-tnc-renderer>
  </div>

  <div class="tnc-bottom-navbar">
    <div class="decline-div">
      <button class="decline-btn">
        <ng-container i18n>Decline</ng-container>
      </button>
    </div>
    <div class="accept-div">
      <button (click)="acceptTnc()" class="accept-btn">
        <ng-container i18n>Agree and continue</ng-container>
      </button>
    </div>
  </div>

</div>