@import 'ws-mixins';
.terms-block{
  display: flex;
  flex-direction: column;
      padding: 15px 15px 10px 30px;
}
.ul-class{
  padding-left: 18px !important;
}
.terms-text{
  font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}
.tick-text{
  //styleName: Body;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;

}

/* Change the color of the checked state to blue */
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #1C5D95 !important;
   margin-top:4px;
}

::ng-deep .theme-igot.day-mode .mat-checkbox {
margin-top: -10px;
}
.link-text{
  cursor: pointer;
text-decoration: underline;
color: #1C5D95 !important;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;

}
.tnc-image{
  width: 165px !important;
  height: 141px !important;
}
.tnc-bottom-navbar {
  padding: 12px;
  background-color: #DFEDF9;
  text-align: right;
}

.decline-div,
.accept-div {
  display: inline-block;
  text-align: right;
}

.decline-div {
  padding-right: 5px;
}

.decline-btn {
  background: none;
  font-size: 16px;
  line-height: 19px;
  color: #1C5D95;
  border: none;
  text-align: right;
  margin-right: 10px;
}

.accept-btn {
  background: #1C5D95;
  border: none;
  border-radius: 50px;
  color: #fff;
  padding: 8px 32px;
  font-size: 16px;
  line-height: 19px;
}

.tnc-render-content {
  border: 1.25px solid #000;
  height: 465px;
  overflow-y: scroll;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (min-width:600px) {
  .tnc-main {
    margin: auto;
    margin-top: 0.8rem;
    width: 70%;
  }
   ::ng-deep .theme-igot.day-mode .mat-checkbox  {
    margin-top:7px !important;
  }
  // .tnc-bottom-navbar {
  //   margin-top: 3rem;
  // }
}

@media screen and (min-width:1600px) {

  .tnc-main {
    margin-top: 2rem;
    width: 60%;
  }
}

@media screen and (max-width:599px) {
  .tnc-header {
    display: none;
  }

  .tnc-render-content {
    border: none;
    height: unset;
    max-height: calc(100vh - 125px);
  }

  .tnc-main {
    margin-top: 50px;
  }

  .tnc-bottom-navbar {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding: 20px;
  }

  .accept-div {
    margin-right: 10px;
  }
}

#decline:disabled {
  opacity: 0.7;
  color: grey;
}

#agree:disabled {
  opacity: 0.7;
  background-color: grey;
}