<!-- <ws-header class="tnc-header"></ws-header> -->
<!-- <nav class="navbar navbar-expand-sm light">
  <a class="navbar-brand cursor-pointer" (click)="homePage()">
    <img alt="logo" width="125px" height="65px" src="./../../../fusion-assets/images/Sphere_Logo_3.svg">
  </a>
</nav> -->
<div class="tnc-main">
  <div class="tnc-render-content" appScrollDetector (scrolled)="handleScroll($event)">
    <div class="terms-block" *ngIf="!showTnc">
      <span class="terms-text">Terms of use</span>
      <img class="tnc-image margin-top-m margin-bottom-m" alt="" src="fusion-assets/images/t&c.svg" />
      <span class="tick-text">By ticking the box below, you acknowledge that you have read and agree to the</span>
      <ul class="ul-class margin-top-m">
        <li>
          <span class="link-text" (click)="showTncPage('terms')">Terms of use</span>
        </li>
        <li>
          <span class="link-text margin-top-m" (click)="showTncPage('privacy')">Privacy Policy</span>
        </li>
      </ul>
      <div class="flex flex-middle margin-top-xs">
        <mat-checkbox class="tnc-checkbox" [checked]="tncAcceptedBtn" (change)="tncChecked();"></mat-checkbox>
        <p class="margin-left-xs read-and-agree-top-margin margin-remove-bottom cons-text">
          I have read and agree to the Terms of use & Privacy policy
        </p>
      </div>
    </div>
    <ws-tnc-renderer [showTerms]="showTerms" *ngIf="showTnc" (tncChange)=" getTnc($event)" (backBtn)="showTnc=false"
      (dpChange)="getDp($event)" [tncData]="tncData">
    </ws-tnc-renderer>
  </div>

  <div class="tnc-bottom-navbar" *ngIf="showAcceptbtn">
    <div class="decline-div">
      <button [disabled]="tncAcceptedBtn" id="decline" class="decline-btn cursor-pointer" (click)="gotoLogin()">
        <ng-container i18n>Decline</ng-container>
      </button>
    </div>
    <div class="accept-div">
      <button [disabled]="!tncAcceptedBtn" id="agree" (click)="acceptTnc()" class="accept-btn cursor-pointer">
        <ng-container i18n>Accept</ng-container>
      </button>
    </div>
  </div>

</div>