<br><br>
<div class="container-start">
  Hi User!
</div>
<span class="resume-learning">
  Continue Learning
</span>
<div class="container-xxl py-5 category">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-7 col-md-6" *ngFor="let content of resultEnroll">
        <div class="row g-3">
          <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
            <a class="position-relative d-block overflow-hidden" (click)="navigateToToc(content.identifier)">
              <img class="img-fluid  img-responsive courses" [src]="content.courseLogoUrl">
            </a>
            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
              <h5 class="m-0"> {{content.courseName}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-header">
  <img class="img-banner img-responsive" src="./../../fusion-assets/images/Banner.png">
</div>

<div class="container-fluid  p-0-elearn">
  E-Learning Modules
</div>
<br>
<div class="container-fluid  p-0-lang">
  <u>
    <a (click)='getCourseDetails("en")'>
      English
    </a> </u> &nbsp;&nbsp;&nbsp;
  <u>
    <a (click)='getCourseDetails("hi")'>हिन्दी</a></u>
</div>


<div class="container-xxl py-5 category">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-7 col-md-6" *ngFor="let content of resultResponse">
        <div class="row g-3">
          <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
            <a class="position-relative d-block overflow-hidden" (click)="navigateToToc(content.identifier)">
              <img class="img-fluid  img-responsive courses" [src]="content.appIcon">
            </a>
            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
              <h5 class="m-0">{{content.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-alignment" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <img class="img-fluid  img-responsive footer-logo" src="./../../fusion-assets/images/sphere-new-logo.svg">
        <img class="img-fluid  img-responsive footer-logo" src="./../../fusion-assets/images/Asha-E-ABhyass-logo.svg">
      </div>
      <div class="col-lg-3 col-md-6 footer-alignment">
        <span class="input-searchbox">Write to us!</span><br>
        <a class="btn btn-link" href="">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </a>
      </div>
      <div class="col-lg-3 col-md-6 footer-alignment">
        <a class="btn btn-link" href="/public/about">About Us</a>
        <a class="btn btn-link" routerLink="/public/tnc">Privacy Policy and terms of use</a>
        <a class="btn btn-link" href="https://www.aastrika.org/team/" target="_blank" id=footer-team>Team</a>
        <a href="http://support.aastrika.org/support/solutions" target="_blank" i18n id="footer-help-contact"
          class="list-item">Help & Contact</a>
        <a class="btn btn-link" href="#">Blog</a>
        <a class="btn btn-link" href="https://www.aastrika.org/vision/" target="_blank">Vision</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="input-mb-3">Partners
          <hr>
        </h4>
        <a href="https://rohininilekani.org/" target="_blank">
          <img class="img-fluid  img-responsive partner-logo" src="./../../fusion-assets/logos/partner-1.svg">
        </a>
        <a href="https://societalplatform.org/" target="_blank">
          <img class="img-fluid  img-responsive partner-logo" src="./../../fusion-assets/logos/partner-2.svg">
        </a>
        <a href="https://www.whiteribbonalliance.org/respectful-maternity-care-charter/" class="text-center"
          target="_blank">
          <img class="img-fluid  img-responsive partner-logo" src="./../../fusion-assets/logos/partner-3.svg">
        </a>
        <br>
        <div class="text-dark mt-1">© 2022
          AastarUrmika Health Systems Pvt Ltd. All rights reserved.
          <br><br>
        </div>
      </div>
    </div>

  </div>
</div>