<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
  <div class="row justify-content-start">
    <div class="col-sm-10 col-lg-8 slider-part">
      <h5 class="display-3 text-white slider-text">E-nnovated</h5>
      <p class="display-3 text-white slider-text-pb-2">Learning Process<br>for learning at your comfort.</p>
      <img class="img-responsive img-fluid slider-img" src="./../../fusion-assets/images/pm.png.png">
    </div>
  </div>
</div>
<!-- Carousel End -->

<div class="container-fluid  p-0-elearn">
  E-Learning Modules
</div>
<br>
<div class="container-fluid  p-0-lang">
  <u>
    English </u> &nbsp;&nbsp;&nbsp; <u>हिन्दी
  </u>
</div>


<!-- Categories Start -->
<div class="container-xxl py-5 category">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
      style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
      <h1 class="mb-5">Courses</h1>
    </div>
    <div class="row g-3">
      <div class="col-lg-7 col-md-6" *ngFor="let content of resultResponse">
        <div class="row g-3">
          <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
            <a class="position-relative d-block overflow-hidden" href="">
              <img class="img-fluid  img-responsive" [src]="content.appIcon">
            </a>
            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
              <h5 class="m-0">{{content.subTitle}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Categories Start -->

<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s"
        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <h1 class="mb-4">About Us</h1>
        <p class="mb-4">Aastar is a learning solution accessible anytime, anywhere and on any device. It enables
          organizations to focus on
          training their talent of today.</p>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita
          erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-6">
            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-3">Quick Links</h4>
        <a class="btn btn-link" href="">About Us</a>
        <a class="btn btn-link" href="">Contact Us</a>
        <a class="btn btn-link" href="">Privacy Policy</a>
        <a class="btn btn-link" href="">Terms & Condition</a>
        <a class="btn btn-link" href="">FAQs & Help</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-white mb-3">Contact</h4>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>

        <br>
        <h4 class="text-white mb-3">Social Media</h4>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

    </div>x
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">Aastrika</a>, All Right Reserved.

          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
          Designed By <a class="border-bottom" href="https://sphere.aastrika.org/public/home">Sphere</a><br><br>
          Distributed By <a class="border-bottom" href="https://sphere.aastrika.org/public/home">Aastrika</a>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a href="">Home</a>
            <a href="">Cookies</a>
            <a href="">Help</a>
            <a href="">FQAs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->