<div class="text-center signup-container">
  <h2 class="mat-title" i18n="section heading create new goal">
    Sign up
  </h2>

  <!-- <div class="mt-8 mb-8 d-flex flex-center">
    <button mat-raised-button class="w-50" color="primary" *ngIf="!isMobile" (click)="verifyEntry()">
      Next</button>
  </div> -->



  <form class="example-form mt-8" [formGroup]="signupForm">
    <!-- otp validate html -->
    <mat-form-field appearance="outline" class="w-full" *ngIf="isMobile && !showAllFields">
      <mat-label>Enter OTP</mat-label>
      <input type="text" matInput placeholder="otp" formControlName="otp">
    </mat-form-field>

    <button mat-stroked-button *ngIf="isMobile" class="resend mr-4 w-50" tabindex="0" (click)="resendOTP()">
      Resend OTP</button>

    <div class="mt-8 mb-8 d-flex flex-center">
      <button mat-raised-button class="w-50" color="primary" *ngIf="isMobile && !showAllFields" (click)="verifyOtp()">
        Next</button>
    </div>


    <div *ngIf="showAllFields">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email id / Mobile Number</mat-label>
        <input type="text" matInput placeholder="Mobile number" formControlName="emailOrMobile">
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>First name</mat-label>
        <input type="text" matInput placeholder="First Name" formControlName="firstName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Last name</mat-label>
        <input type="text" matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>


      <mat-form-field appearance="outline" class="w-full">
        <mat-label>password</mat-label>
        <input type="password" matInput placeholder="password" formControlName="password">

      </mat-form-field>
      <div class="mb-4 fs-12 text-left -mt-3">Your password must contain a minimum of 6 characters.</div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput placeholder="confirm password" formControlName="confirmPassword">
        <mat-error
          *ngIf="signupForm.controls['confirmPassword'].pristine || signupForm.controls['confirmPassword'].errors">
          Password does not match</mat-error>
      </mat-form-field>
      <div class="border"></div>

      <div class="mt-4 flex justify-center">
        <!-- <div class="center flex items-center"> -->
        <!-- <div *ngIf="uploadSaveData" class="pr-4 flex items-center justify-center">
            <mat-spinner [diameter]="30"></mat-spinner>
          </div> -->
        <button mat-raised-button class="md-large-button" color="primary" type="submit" i18n
          [disabled]="uploadSaveData || !signupForm?.valid" (click)="onSubmit(signupForm)">

          <ng-container>Register</ng-container>
        </button>


        <!-- <button type="reset" (click)="onReset()" class="pl-4 mat-button">Cancel</button> -->
      </div>
    </div>
  </form>
  <!--OTP component-->
  <!-- <ws-otp *ngIf="submitted"></ws-otp> -->
</div>

<input type="hidden" i18-value i18-aria-value aria-value="Signup successful" value="Thanks for Signing up"
  #toastSuccess />
<input type="hidden" i18-value i18-aria-value aria-value="unable to signup" value="Error Signing up!" #toastError />