@import 'ws-common';
@import 'ws-mixins';

.login-page-content {
  box-sizing: border-box;
  @extend %page-center;
  @extend %height-mat-toolbar-sibling;
  box-sizing: border-box;
  padding: 0;
  height: 175px;
  max-width: 430px;
  @include breakpoint-s {
    padding: 12px;
  }
}
.login-card {
  margin: 0;
  padding: 20px 20px 30px 20px;
  color: #000;
  font-size: 14px;
  line-height: 17px;
  background: #fff;
}
.input-box {
  padding: 3px 0 3px 6px;
  font-size: 16px;
  line-height: 19px;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 8%);
  border-radius: 6px;
  border: 1px solid #e3e3e3;
}
.rnBox {
  font-size: 16px;
  line-height: 19px;
  border-radius: 6px;
  border: none;
}
.rnField {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e3e3e3;
}
.form-control[readonly] ::placeholder{
  background-color: #ffff;
  color: #e3e3e3;
  border-color: #e3e3e3;
}

input {
  border: none;
  padding: 7px 2px;
}
.login-button {
  width: 98px;
  height: 38px;
  background: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border:0;
  font-size: 16px;
  line-height: 19px;
}
// .close-div {
//   display: none;
// }
.next-btn-div {
  text-align: right;
  margin-top: 2rem;
}
.select-box{
  border: none;
  width: 97%;
  padding-top: 8px;
  padding-left: 0;
  font-size: 16px;
  line-height: 19px;
  color: #808080;
}
.select-box:focus{
  outline: none!important;
}
@media screen and (max-width:600px) {
  .input-content {
    width: 100%;
  }
}