<div class="content">
  <mat-icon class="cursor-pointer mb-3" (click)="openCompetency()">chevron_left</mat-icon>

  <h1 class=" pl-2 ">Competencies</h1>

  <div class="pl-2">
    <mat-tab-group class="remove-border-bottom" animationDuration="0ms">
      <mat-tab label="Assigned">
        <div class="legend-container">
          <div class="legend"></div>
          <h5>Required</h5>
        </div>
        <ng-container *ngFor="let competency of competencyData">
          <ws-competency-card [cardData]="competency"></ws-competency-card>
        </ng-container>
      </mat-tab>
      <mat-tab label="Gained">
        <div class="legend-container">
          <div class="legend"></div>
          <h5>Required</h5>
          <div class="legend legend-border"></div>
          <h5>Gained</h5>
        </div>
        <ng-container *ngFor="let gainedproficency  of gainedproficencyData">
          <ws-competency-card [cardData]="gainedproficency"></ws-competency-card>
        </ng-container>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>