<div *ngIf="(isXSmall$ | async) === false && !isLoggedIn" class="flex transform-footer-container">
  <div class="transform-header">
    Transform your Healthcare career through Sphere!
  </div>
  <button (click)="createAcct()" class="start-today-button">Start Today</button>
</div>
<div *ngIf="(isXSmall$ | async) === false && !isLoggedIn" class="flex-container">
  <div class="part-a-partner center-partner">
    <div class="text-partners">
      An initiative of
    </div>
    <div class="flex-prop">
      <img class="part-a-img" src="/fusion-assets/icons/nike.png" alt="Card image cap">
    </div>
  </div>
  <div class="part-b-partner center-partner">
    <div class="text-partners">
      A collaboration with
    </div>
    <div class="flex-prop">
      <img class="part-b-img" src="/fusion-assets/icons/sci.png" alt="Card image cap">
    </div>
  </div>
</div>

<div class="mat-toolbar mat-ws-mat-primary-text footer-container pb-0 sm:px-48 md:px-10ss">

  <div class="mat-body  footer-flex mb-4" [ngClass]="{'flex w-full': !isXSmall && !isMedium}">
    <div [ngClass]="{'flex': !isXSmall}" class="footer-first-col">
      <mat-list class="list" [ngClass]="{'ml-12': !isXSmall}">
        <mat-list-item style="margin-top: 10px;">
          <img class="footer-aastar-logo" loading="lazy" src="/fusion-assets/images/sphere-new-logo.svg"
            alt="Angular icon" id="footer-aastar-logo">
        </mat-list-item>
      </mat-list>
      <mat-list class="list mt-10" [ngClass]="{'ml-12': !isXSmall}">
        <mat-list-item class="link-header" i18n> Quick Links </mat-list-item>
        <mat-list-item style="margin-top: 10px;">
          <a class="list-item" routerLink="/public/tnc" i18n>
            Privacy policy
          </a>
        </mat-list-item>
        <mat-list-item style="margin-top: 10px;">
          <a class="list-item" routerLink="/public/tnc" i18n>
            Terms of Use
          </a>
        </mat-list-item>
      </mat-list>

      <mat-list class="list mt-10" [ngClass]="{'ml-12': !isXSmall}">
        <mat-list-item> <a href="http://support.aastrika.org/support/solutions" target="_blank" i18n
            id="footer-help-contact" class="list-item link-header">Help & Contact </a>
        </mat-list-item>
        <!-- <mat-list-item> <a routerLink="/app/social/blogs" i18n>Blog</a> </mat-list-item> -->
        <mat-list-item style="margin-top: 10px;">
          <a class="link-text" href="mail-to:support@aastrika.org">support@aastrika.org</a>
        </mat-list-item>
        <mat-list-item style="margin-top: 10px;">
          <a class="whatsapp-logo-container"
            href="https://wa.me/919632013414?text=Hi%2C%20Need%20help%20on%20Aastrika%20Platform" target="_blank">
            <img class="fa fa-whatsapp whatsapp-logo" src="/fusion-assets/icons/whatsapp.png" />
            Talk to us on Whatsapp
          </a>
        </mat-list-item>
        <!-- <mat-list-item style="margin-top: 20px;"> -->
        <!-- <p class="mat-subheading-2 flex flex-middle">
            <img src="/fusion-assets/icons/lang-icon.png" width="35" height="24px" />
            <ng-container i18n>Choose your Language</ng-container>
          </p> -->
        <!--       <mat-form-field> -->
        <!-- <label i18n>Choose your Language</label>
          <div class="d-inline" style="margin-top: -5px; font-size: small;">
            <a (click)="redirect('')" class="languages">English</a>
            <a (click)="redirect('hi')" class="languages">हिन्दी</a>
          </div> -->
        <!--     </mat-form-field> -->
        <!-- </mat-list-item> -->
      </mat-list>
      <mat-list class="list mt-10" [ngClass]="{'ml-12': !isXSmall}">
        <mat-list-item class="link-header" i18n> Additional Links </mat-list-item>
        <mat-list-item class="foundation-container" style="margin-top: 10px;">Aastrika Foundation:https:
          <a target="_blank" class="list-item-link" href="https://www.aastrika.org/" i18n>
            //www.aastrika.org/
          </a>
        </mat-list-item>
        <mat-list-item class="social-logo-container">
          <a class="social-logo-block" href="https://twitter.com/aastrika_fndn?s=21&t=I9xN5rzMahavP0R1Fp7VwA"
            target="_blank">
            <img class="fa fa-whatsapp social-logo" src="/fusion-assets/icons/twitter.svg" />
          </a>
          <a class="social-logo-block" href="https://www.facebook.com/aastrikasphere?mibextid=LQQJ4d" target="_blank">
            <img class="fa fa-whatsapp social-logo" src="/fusion-assets/icons/facebook.svg" />
          </a>
          <a class="social-logo-block" href="https://instagram.com/sphere.aastrika?igshid=MmJiY2I4NDBkZg=="
            target="_blank">
            <img class="fa fa-whatsapp social-logo" src="/fusion-assets/icons/Instagram-Logo.wine.svg" />
          </a>
          <a class="social-logo-block" href="https://www.linkedin.com/company/aastrika-foundation/" target="_blank">
            <img class="fa fa-whatsapp social-logo" src="/fusion-assets/icons/linked-in.svg" />
          </a>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<footer class="docs-footer px-4 pt-0 sm:px-8 md:px-10ss">
  <div [ngClass]="{'docs-footer-list': !isXSmall}">
    <!-- <div class="docs-footer-version">
    </div> -->
    <div class="docs-footer-copyright flex-1">
      <div>
        <div class="footer-alignment" i18n>&copy; 2023
          AastarUrmika Health Systems ("Aastrika Foundation") </div>
      </div>
    </div>
  </div>
</footer>