<div class="toc-body box ">
  <div>
    <div class="title"><span [title]="content?.name">
        {{ content?.name }} </span></div>
    <div class="subtitle">{{ content?.name }}</div>
    <div class="details" *ngIf="tocConfig?.atAGlance?.duration?.enabled && content?.duration">
      <span [innerHTML]="'Duration ' | translate"></span>:
      {{ content?.duration | pipeDurationTransform: 'hms' }}
    </div>
    <div class="details" *ngIf="tocConfig?.atAGlance?.lastUpdatedOn?.enabled && content?.lastUpdatedOn">
      <span [innerHTML]="'Last updated on' | translate"></span> : {{ content?.lastUpdatedOn | date }}
    </div>
    <div class="details"><span [innerHTML]="'Source' | translate"></span> : {{content?.sourceName}}</div>
    <div class="details" *ngIf="content?.creator"><span [innerHTML]="'Author' | translate"></span> :
      {{content?.creator}}</div>
  </div>
  <div [innerHTML]="'View
    License Terms' | translate"></div>
  <button [innerHTML]="'
    Start
  ' | translate"></button>
</div>
<div class="modal fade" id="myModal" [ngStyle]="{'display':displayStyle, 'opacity': '1', 'top': '50%'}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="    font-size: 17px;
    border-radius: 24px;
    padding: 0px 3px;
    overflow: hidden;">

      <!-- Modal Header -->
      <div class="">
        <!--<h4 class="modal-title">Modal Heading</h4> -->
        <button type="button" class="close" data-dismiss="modal" (click)="closePopup()"
          style="padding-top: 10px;padding-right: 10px;">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center" style="padding: 0px;">
        <div>
          <h3>{{ 'Login/create an account to start the course' | translate }}</h3>
          <button [innerHTML]="'
            Login
          ' | translate"></button>
          <p [innerHTML]="'or' | translate"></p>
          <button [innerHTML]="'
            Create a new account
          ' | translate"></button>
        </div>
      </div>
      <!-- Modal footer -->
      <div>
        <div>
          <div style="float: left;">
            <img src="/fusion-assets/icons/Frame-149.svg">
          </div>
          <div style="float: right;">
            <img src="/fusion-assets/icons/Frame-150.svg">
          </div>
        </div>
        <!-- <button [innerHTML]="'Close' | translate"></button> -->
      </div>

    </div>
  </div>
</div>