<div class="toc-body box ">
  <div>
    <div class="title"><span [title]="content?.name">
        {{ content?.name }} </span></div>
    <div class="subtitle">{{ content?.name }}</div>
    <div class="details" *ngIf="tocConfig?.atAGlance?.duration?.enabled && content?.duration">
      Duration :
      {{ content?.duration | pipeDurationTransform: 'hms' }}</div>
    <div class="details" *ngIf="tocConfig?.atAGlance?.lastUpdatedOn?.enabled && content?.lastUpdatedOn">
      {{tocConfig?.atAGlance?.lastUpdatedOn?.displayName}} :{{ content?.lastUpdatedOn | date }}
    </div>
    <div class="details" (click)="showOrgprofile(content?.sourceName)">Source:{{content?.sourceName}}</div>
    <div class="details" *ngIf="content?.creator">Author:{{content?.creator}}</div>
  </div>
  <div class="lable1" [ngClass]="{'ws-mat-primary-text link-active': routelinK === 'license'}" wsUtilsRetain i18n>
    View License Terms</div>
</div>