<div class="toc-body box ">
  <div>
    <div class="title"><span [title]="content?.name">
        {{ content?.name }} </span></div>
    <div class="subtitle">{{ content?.name }}</div>
    <div class="details" *ngIf="tocConfig?.atAGlance?.duration?.enabled && content?.duration">
      <span>{{ 'Duration' | translate }}</span> :
      {{ content?.duration | pipeDurationTransform: 'hms' }}
    </div>
    <div class="details" *ngIf="tocConfig?.atAGlance?.lastUpdatedOn?.enabled && content?.lastUpdatedOn">
      <span>{{ 'Last updated on' | translate }}</span> : {{ content?.lastUpdatedOn | date }}
    </div>
    <div class="details"><span>{{ 'Source' | translate }}</span> : {{content?.sourceName}}</div>
    <div class="details" *ngIf="authorName"><span>{{ 'Author' | translate }}</span> : {{ authorName }}</div>
  </div>
  <div class="lable1" [ngClass]="{'ws-mat-primary-text link-active': routelinK === 'license'}" wsUtilsRetain>{{ 'View
    License Terms' | translate }}</div>
  <button name="start" color="primary" (click)="showPopup()" class="login-btn header-btn  mat-button-base">
    {{ 'Start' | translate }}
  </button>
</div>
<div class="modal fade" id="myModal" [ngStyle]="{'display':displayStyle, 'opacity': '1', 'top': '50%'}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="    font-size: 17px;
    border-radius: 24px;
    padding: 0px 3px;
    overflow: hidden;">

      <!-- Modal Header -->
      <div class="">
        <!--<h4 class="modal-title">Modal Heading</h4> -->
        <button type="button" class="close" data-dismiss="modal" (click)="closePopup()"
          style="padding-top: 10px;padding-right: 10px;">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center" style="padding: 0px;">
        <div>
          <h3 style="font-weight: 500;">{{ 'Login/create an account to start the course' |
            translate }}</h3>
          <button name="start" color="primary" (click)="login()" style="width: 200px !important;"
            class="header-btn  mat-button-base">
            {{ 'Login' | translate }}
          </button>
          <p style="margin-top: 10px;font-weight: 400;">{{ 'or' | translate }}</p>
          <button name="start" stye="padding: 8px 22px;    width: 200px;
    font-size: 16px !important;" color="primary" (click)="createAcct()" class="new-user-btn">
            {{ 'Create a new account' | translate }}
          </button>
        </div>
      </div>
      <!-- Modal footer -->
      <div>
        <div>
          <div style="float: left;">
            <img src="/fusion-assets/icons/Frame-149.svg" alt="">
          </div>
          <div style="float: right;">
            <img src="/fusion-assets/icons/Frame-150.svg" alt="">
          </div>
        </div>
        <!-- <button type="button" class="btn btn-secondary" id="close-btn" data-dismiss="modal" (click)="closePopup()"
          >{{ 'Close' | translate }}</button> -->
      </div>

    </div>
  </div>
</div>