@import 'ws-mixins';
.application-logo {
  max-width: 150px;
  display: block;
  width: 100%;
  //padding-top: 8px;
  @include breakpoint-xs {
    max-width: 60px;
  }
}
.navbar-container{
  background-color: #FFFFFF !important;
}

.app-logo {
  max-height: 73px;
  min-width: 120px;

  @include breakpoint-xs {
    max-width: 80px;
    margin-top: 9px;
  }
}
.small-logo {
  height: 60px;
  width: 60px;
}
.title-app {
  @include breakpoint-xs {
    visibility: hidden;
  }
}

.my-search {
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  flex: 1;
  height: 50px;
  max-width: 470px;
  @include breakpoint-xs {
    margin-right: 7px;
  }
}
.fix-ww {
  // margin-left: auto;
  // margin-right: auto;
  display: flex;
  // flex: 1;
}
.small-font-size {
  @include breakpoint-xs {
    font-size: smaller !important;
  }
}

.padding-remove-small {
  @include breakpoint-xs {
    padding: 0 !important;
  }
}

.login-btn {
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #2E6491 !important;
    border-radius: 50px;
    color: #FFFFFF !important;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border: none;
    cursor: pointer;

}
.new-user-btn {
  margin-right: 10px;
  display: inline-flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #FFFFFF !important;
    border-radius: 50px;
    color: #2E6491 !important;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    border: 1px solid #2E6491;
}

.login-btn-xs {
  display: flex;
  align-items: center;
  // margin-right: 12px;
}
