<mat-toolbar class="navbar-container">
  <a name="application-logo" class="padding-remove-small application-logo" routerLink="." matTooltip="Home">
    <img loading="lazy" [src]="orgConfig?.appLogo" id="app-logo" alt="Application Logo" class="app-logo"
      *ngIf="!isXSmall$ && orgConfig?.appIcon" />
    <img loading="lazy" [src]="orgConfig?.foundationLogo" width="110px" height="65px"
      *ngIf=" isXSmall$ && orgConfig?.foundationLogo" />
  </a>
  <div class="fix-ww">
    <ws-app-search-input-home *ngIf="!isXSmall$" title="search" class="my-search flex-1" [ref]="'home'">
    </ws-app-search-input-home>
  </div>

  <div class="flex justify-end">
    <button *ngIf="configSvc.userProfile === null" name="login_client_button" color="primary" (click)="login('S')"
      [ngClass]="{'login-btn header-btn mat-button-base': !isXSmall$,
        'login-btn-xs': isXSmall$ }">
      {{orgConfig?.rightMenuItem?.title | translate}}</button>
  </div>
</mat-toolbar>