<mat-toolbar class="navbar-container">
  <a name="application-logo" class="padding-remove-small application-logo" routerLink="." matTooltip="Home">
    <img *ngIf="orgConfig?.appLogo" loading="lazy" [src]="orgConfig?.appLogo" id="app-logo" alt="Application Logo"
      class="app-logo" />
  </a>
  <div class="flex justify-end">
    <button *ngIf="configSvc.userProfile === null" name="login_client_button" color="primary" (click)="login('S')"
      [ngClass]="{'login-btn header-btn mat-button-base': !isXSmall$,
        'login-btn-xs': isXSmall$ }">
      {{orgConfig?.rightMenuItem?.title | translate}}</button>
  </div>
</mat-toolbar>