<mat-toolbar *ngIf="showPublicNavbar" [color]="navBar?.color" [ngStyle]="navBar?.styles">
  <a name="application-logo" class="padding-remove-small application-logo" routerLink="." i18n-matTooltip
    matTooltip="Home">
    <img [src]="appIcon" id="app-logo" i18n-alt alt="Application Logo" class="app-logo"
      *ngIf=" (isXSmall$ | async) === false" />
    <img src="/assets/instances/eagle/app_logos/aastar-logo.svg" width="100px" height="40px" *ngIf=" (isXSmall$ | async) === true" />
  </a>
  <div class="fix-ww">
    <!-- <ng-container [ngTemplateOutlet]="navbarSide" [ngTemplateOutletContext]="{ item: item }"
      *ngFor="let item of primaryNavbarConfig?.mediumScreen?.left">
    </ng-container> -->

    <ws-app-search-input-home placeHolder="What do you want to learn today ?" *ngIf=" (isXSmall$ | async) === false"
      title="hm-plc-holder" class="my-search flex-1" [ref]="'home'">
    </ws-app-search-input-home>
    <span class="spacer"></span>
    <!-- <div ngClass="search-small-logo">

      <ng-container [wsExploreResolverWidget]="{
                            'widgetType': 'actionButton',
                            'widgetSubType': 'buttonFeature',
                            'widgetData': {
                              'toolTop': 'Search',
                              'actionBtnId': 'feature_search',
                              'config': {
                                'type': 'mat-icon-button'
                              }
                            }
                          }"></ng-container>
    </div> -->
  </div>
  <ng-container [ngTemplateOutlet]="navbarSide" [ngTemplateOutletContext]="{ item: item }"
    *ngFor="let item of primaryNavbarConfig?.mediumScreen?.right">
  </ng-container>
  <span class="spacer"></span>
  <a role="button" *ngIf="(isXSmall$ | async) === false && !configSvc.userProfile"
    class="flex items-center flex-col px-2 box-sizing-box" (click)="createAcct()" active
    routerLinkActive="ws-mat-accent-text">
    <ng-container>
      <button id="create-account-btn" mat-raised-button [ngStyle]="{
        'background-color': 'rgb(63, 81, 181)',
        'color': 'white',
        'font-size': '14px',
        'font-weight': '400'}">
        Create Account</button>
    </ng-container>
  </a>

  <div class="flex justify-center flex-col login-btn">
    <button *ngIf="(isXSmall$ | async) === false" name="login_client_button" color="primary" mat-raised-button
      i18n="login: client" (click)="login()" class="login-btn header-btn ws-mat-primary-background mat-button-base">
      Login
    </button>
    <button *ngIf="(isXSmall$ | async) === true" name="login_client_button"
      [ngStyle]="{'background-color': 'inherit',  'width': '90px', 'border' :'1px solid #3f51b5', 'border-radius': '20px', 'color' : '#3f51b5', 'font-size': 'medium'}"
      mat-raised-button i18n="login: client" (click)="login()">
      Log in
    </button>
  </div>
</mat-toolbar>
<ng-template #navbarSide let-item="item">
  <ng-container *ngIf="item.type === 'widgetButton'">
    <ng-container *ngIf="item.config.widgetSubType === 'actionButtonCatalog'" [wsExploreResolverWidget]="item.config">
    </ng-container>
  </ng-container>
  <!-- <ws-widget-btn-feature *ngIf="item.type === 'featureButton'" [id]="item.config.actionBtnId" [widgetData]="item.config"
    [showFixedLength]="true"></ws-widget-btn-feature> -->
</ng-template>