<div class="popup-container">
  <div class="popup-content">
    <div class="info-header">
      <img src="fusion-assets/icons/info_icon.png" alt="Info" />
      <img src="fusion-assets/icons/close_blue.png" class="icon cursor-pointer" (click)=" close()" alt="Close" />
    </div>

    <div class="info-body">
      <ul class="info-list">
        <li>You earn 1 point for each competency level achieved.</li>
        <li>Your points shown are updated up to yesterday</li>
        <li>If two users have the same points, the one who earned them earlier will get a higher rank</li>
      </ul>
    </div>
  </div>
</div>