.notification_header {
    padding: 14px;
    margin-left: 1%;
    position: fixed;
    z-index: 1000;
    overflow-y: hidden;
    background: white;
    width: 100%;
    height: 7vh;
    display: flex;
}
@media only screen and (max-width: 599px) {
    .notification-container {
        margin-top: 50px;
    }
}
.wrapper {
    width: 90%;
    margin: 10px auto;
    padding-top: 3.5rem;
    height: 80vh;
}

.notification {
    margin-left: 2px;
    margin-top: 2px;
}


.notifications__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 99%;
    height: auto;
    margin-bottom: 20px;
    padding: 1.2rem 0.5rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in;
    cursor: pointer;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 15px;
}

.notifications__item__avatar {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    margin-right: 1rem;
    border-radius: 50%;
}

.notifications__item__avatar img {
    width: 100%;
    height: 100%;
}

.notifications__item__content {
    width: calc(100% - 20%);
    margin-right: 10px;
}

// .notifications__item__title,
// .notifications__item__message {
//    // display: block;
// }

.notifications__item__title {
    font-family: Roboto, sans-serif;
    color: #2E6491
}

.notifications__item__message {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    a {
        color: rgba(46, 100, 145, 1);
        display: block;
    }
}

.kebab-info {
    position: absolute;
    right: 1rem;
}

.dropdown-content {
    position: absolute;
    border-radius: 12px;
    background-color: var(--white);
    box-shadow: 0 3px 5px 4px rgba(0, 0, 0, 0.05);
    padding: 8px;
    z-index: 1001;
    text-align: left;
    right: 0;
    margin-top: 1.5rem;
    margin-right: 1rem;
    top: 0;
}

ion-item {
    // --background: transparent;
    // --color: #333;
    // --padding-start: 12px;
    // --padding-end: 12px;
    --background: none !important;
    padding-right: unset;
    padding-inline-end: unset !important;

    ion-icon {
        font-size: 20px;
        color: #2E6491;
        margin-right: 8px;
    }

    &:hover {
        --background: #f4f4f4;
        /* Add hover effect */
    }
}

.text-style {
    color: #2E6491
}

ion-item-sliding {
    margin-bottom: 10px;
}

.notifications__item__message a {
    color: rgba(46, 100, 145, 1) !important;
    display: block !important;
  }

 .notifications__item--unread{
    background: rgba(239, 246, 252, 1)!important;
 }

 .notifications__item__date {
    color: #808080;
    font-family: Roboto;
    font-size: 12px;
 }

 .empty__notification__text{
    text-align: center;
    margin-top: 80%;
    color: #babdbd;
    font-size: 17px;
    font-weight: 600;
 }

 .notification_certificate{
    margin-top: 12px;
    border: 1px solid rgba(46, 100, 145, 1);
    color: rgba(46, 100, 145, 1);
    padding: 4px 23px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 2px;
 }