// .logout {
//   // position: absolute;
//   // right: 12px;
//   color: #f30808;
//   font-weight: 500;
// }
.save-btn {
  width: 88px;
  height: 38px;
  background-color: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  //float: right;
  cursor: pointer;
}