@use 'ws-mixins';
@use 'ws-vars';

$app-background-lite-color: #f5f6f7;

.icon {
  cursor: pointer;
}

.landing-container {
  max-width: 1200px;

  margin: auto;
  margin-bottom: ws-mixins.$size-l;

  @include ws-mixins.breakpoint-xs {
    width: 100%;
  }
}

.sticky-top {
  position: sticky;
  top: 0;
}

.profile {
  display: block;
  margin-right: ws-mixins.$size-l;
  img {
    $image-size: 162px;
    width: $image-size;
    height: $image-size;
    border-radius: 50%;
    margin-top: ws-mixins.$size-s;
  }
  .designation {
    margin-bottom: ws-mixins.$size-xs;
    display: inline-flex;
    align-items: center;
  }
  .nav-links {
    margin-top: ws-mixins.$size-xl;
    a {
      display: block;
      padding: calc(ws-mixins.$size-xs / 2) 0;
      padding-left: ws-mixins.$size-xs;
      margin-bottom: calc(ws-mixins.$size-xs / 2);
    }
    a.active {
      font-weight: 600;
    }
  }
  @include ws-mixins.breakpoint-lt-m {
    display: none;
  }
}
.banner-and-tabs {
  img {
    $img-size: 80px;
    width: $img-size;
    height: $img-size;
    border-radius: 50%;
  }
  .display-on-small {
    display: none;
    @include ws-mixins.breakpoint-lt-m {
      display: block;
    }
  }
}

.display-side-items {
  display: none;
  @include ws-mixins.breakpoint-gt-s {
    display: block;
  }
}

.icons {
  height: ws-mixins.$size-xl;
}

.follow-btn {
  width: ws-mixins.$size-l;
  background: none;
}
