<div class="p-4">
  <p class="latest-text">Latest Comments</p>
  <mat-card class="mat-card-container mt-4 p-0-lang">
    <div class="latest-comment-img-container">
      <img src="../../../fusion-assets/icons/fernandez-foundation-img.png" alt="" class="latest-comment-img" />
    </div>
    <div class="latest-text-container">
      <p class="course-name">Respectful Maternity Care</p>
      <p class="user-name">User: Lorem ipsum</p>
    </div>
    <div class="time-text-container">
      <p class="card-time">12:30am</p>
      <p class="comments-number">4</p>
    </div>
  </mat-card>
  <mat-card class="mat-card-container mt-4 p-0-elearn">
    <div class="latest-comment-img-container">
      <img src="../../../fusion-assets/icons/fernandez-foundation-img.png" alt="" class="latest-comment-img" />
    </div>
    <div class="latest-text-container">
      <p class="course-name">Respectful Maternity Care</p>
      <p class="user-name">User: Lorem ipsum</p>
    </div>
    <div class="time-text-container">
      <p class="card-time">12:30am</p>
      <p class="comments-number">4</p>
    </div>
  </mat-card>
  <mat-card class="mat-card-container mt-4 p-0-elearn">
    <div class="latest-comment-img-container">
      <img src="../../../fusion-assets/icons/fernandez-foundation-img.png" alt="" class="latest-comment-img" />
    </div>
    <div class="latest-text-container">
      <p class="course-name">Respectful Maternity Care</p>
      <p class="user-name">User: Lorem ipsum</p>
    </div>
    <div class="time-text-container">
      <p class="card-time">12:30am</p>
      <p class="comments-number">4</p>
    </div>
  </mat-card>
  <mat-card class="mat-card-container mt-4 p-0-elearn">
    <div class="latest-comment-img-container">
      <img src="../../../fusion-assets/icons/manyata.png" alt="" class="latest-comment-img" />
    </div>
    <div class="latest-text-container">
      <p class="course-name">Manyata for Mothers</p>
      <p class="user-name">User: Lorem ipsum</p>
    </div>
    <div class="time-text-container">
      <p class="card-time">12:30am</p>
      <p class="comments-number">4</p>
    </div>
  </mat-card>
  <p class="comment-view-all">View All</p>
</div>