@import 'ws-mixins';

.content {
  padding: 60px 20px 30px;
  margin: auto;

  @include breakpoint-gt-s {
    max-width: 30%;
  }

  @include breakpoint-gt-m {
    max-width: 35%;
  }

  @include breakpoint-gt-l {
    max-width: 30%;
  }

  @include breakpoint-s {
    max-width: 50%;
  }

  @include breakpoint-xs {
    max-width: 90%;
  }
}

::placeholder {
  color: #bebebe !important;
}

.save-btn {
  width: 88px;
  height: 38px;
  background-color: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border: 0;
  font-size: 16px;
  line-height: 19px;
  float: right;
  cursor: pointer;
}

.field-fullwidth {
  width: 100% !important;
}


::ng-deep .mat-form-field-infix {
  padding: 5px 0 !important;
  font-size: 16px;
  line-height: 14px !important;
}
