<!-- About You Form -->
<div class="login-page-content" *ngIf="!yourBackground">
  <div class="login-card">

    <div class="img-box">
      <img alt="logo" width="130" height="90" src="../../../fusion-assets/images/about-you.png">
    </div>

    <p class="page-title">{{ 'Tell us more about you' | translate }}</p>
    <p class="page-subtitle">{{ 'and unlock access to multiple courses' | translate }}</p>

    <form [formGroup]="aboutYouForm" class="mt-3">

      <p class="field-label">{{ 'Date of Birth' | translate }}</p>
      <div class="form-group">
        <ws-dropdown-dob (dobValue)="dobData($event)" [dob]="" [dateType]="dob"></ws-dropdown-dob>
      </div>
      <pre *ngIf="invalidDob" class="text-danger">{{ 'You must be at least 18 years old' | translate }}</pre>

      <p class="field-label">{{ 'Your Location' | translate }}</p>

      <mat-form-field appearance="outline" class="full-width location-field">
        <mat-select formControlName="country" (selectionChange)="countrySelect($event)"
          [placeholder]="'Country' | translate" panelClass="location-select-panel">
          <mat-option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width location-field">
        <mat-select formControlName="state" [disabled]="selectDisable" (selectionChange)="stateSelect($event)"
          [placeholder]="'State' | translate" panelClass="location-select-panel">
          <mat-option *ngFor="let state of states" [value]="state.name">{{ state.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width location-field">
        <mat-select formControlName="distict" [disabled]="selectDisable" (selectionChange)="disableNextBtn()"
          [placeholder]="'City/District' | translate" panelClass="location-select-panel">
          <mat-option *ngFor="let distict of disticts" [value]="distict">{{ distict }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="next-btn-div">
        <button class="login-button" name="login" type="submit" id="next-btn"
          [disabled]="!aboutYouForm?.valid || nextBtnDisable" (click)="onsubmit()">{{ 'Next' | translate }}</button>
      </div>

    </form>

  </div>
</div>
<!-- About You Form Close-->

<div *ngIf="yourBackground">
  <ws-your-background [aboutYou]="aboutYouForm"></ws-your-background>
</div>