@import 'ws-common';
@import 'ws-mixins';

.login-page-content {
  box-sizing: border-box;
  @extend %page-center;
  @extend %height-mat-toolbar-sibling;
  box-sizing: border-box;
  padding: 0;
  max-width: 430px;
  @include breakpoint-s {
    padding: 12px;
  }
}
.login-card {
  margin: 0;
  margin-top: 20px;
  padding: 20px 20px 30px 20px;
  color: #000;
  font-size: 14px;
  line-height: 17px;
  background: #fff;
}
.check-email-text {
  font-size: 24px;
  line-height: 29px;
}
.create-acct-text {
  font-size: 24px;
  line-height: 29px;
}
.img-box{
  width: 55%;
  margin:auto;
}
.label-text{
  color: #5f6368;
  font-size: 12px;
  line-height: 15px;
}
.input-box {
  padding: 3px 0 3px 0;
  border-radius: 6px;
  border: 1px solid #e3e3e3;
}
.dob-input {
  font-size: 16px;
  line-height: 19px;
  border: none;
  color: #000;
  width: 88%;
  display: inline-block;
}
.select-box{
  border: none;
  width: 97%;
  height: 44px;
  font-size: 16px;
  line-height: 19px;
}
.select-box:focus{
  outline: none!important;
}
.login-button {
  width: 98px;
  height: 38px;
  background: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border:0;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.close-div {
  display: none;
}
.next-btn-div {
  text-align: right;
  margin-top: 2rem;
}

.select-items div:hover, .same-as-selected {
  background-color: red;
}
input:focus-visible {
  outline: none;
}
.form-control:disabled {
  background-color: #fff;
}
.login-button:disabled {
  background: #BFBFBF;
  color: #808080;
  cursor: default;
}
.form-control:focus {
  box-shadow: none;
}
select {
   color: #808080;
}
select.ng-dirty {
  color: #000;
}
select option:first-child {
  color: #000;
  //font-size: 24px;
  line-height: 29px;
}
select option {
  font-size: 16px;
  line-height: 24px;
  height: 15px;
}
::placeholder {
  color: #808080;
}

@media screen and (max-width:768px) {
  .close-div {
    display: inline-block;
    position: absolute;
    top: 25px;
    width: 20px;
    right: 20px;
  }
}
@media screen and (max-width:600px) {
  .input-content {
    width: 100%;
  }
  .login-card {
    margin-top: 100px;
  }
}