@use 'ws-vars';
@use 'ws-mixins';
.discussion-container {
    display: block;
    margin-top: ws-vars.$size-m;
    @include ws-mixins.breakpoint-lt-m {
        padding: 0 ws-vars.$size-xs;
    }
    @include ws-mixins.breakpoint-lt-l {
        padding-right: ws-vars.$size-xs;
      }
}