<div class="link-container"
  *ngIf="data!.profileDetails!.profileReq!.personalDetails!.tncAccepted || data!.profileDetails!.profileReq!.personalDetails!.dob">
  <div class="link-block">
    <a role="button" matRipple [ngClass]="{'ws-mat-accent-text': showHome }" (click)="redirect('home')" active
      routerLinkActive="ws-mat-accent-text" class="flex cursor-pointer">
      <span class="link-text" i18n>Home</span>
    </a>
  </div>
  <div class="link-block">
    <a role="button" matRipple (click)="redirect('mycourses')" [ngClass]="{'ws-mat-accent-text': mycourses }" active
      routerLinkActive="ws-mat-accent-text" class="flex cursor-pointer">
      <span class="link-text" i18n>My Courses</span>
    </a>
  </div>
  <div class="link-block">
    <a role="button" matRipple [ngClass]="{'ws-mat-accent-text': showCompetency }" (click)="redirect('competency')"
      active routerLinkActive="ws-mat-accent-text" class="flex cursor-pointer">
      <span class="link-text" i18n>Competency</span>
    </a>
  </div>
  <div class="link-block">
    <a role="button" matRipple [ngClass]="{'ws-mat-accent-text': showProfile }" (click)="redirect('account')" active
      routerLinkActive="ws-mat-accent-text" class="flex cursor-pointer">
      <span class="link-text" i18n>Account</span>
    </a>
  </div>
  <div class="link-block">
    <button (keydown)="handleKeyDown($event)" (click)="redirect('notification')" matRipple
      routerLinkActive="ws-mat-accent-text" class="flex cursor-pointer bg-transparent border-0">
      <img alt="notification" class="notification-icon" width="40" height="24"
        src="/fusion-assets/icons/notifications.svg">
      <span *ngIf="numberOfNotification" class="badge">
        {{numberOfNotification}}
      </span>
    </button>
  </div>
  <!-- <div [matMenuTriggerFor]="appsMenu">
    <a role="button" style="cursor: pointer;">
      <img alt="account" src="/fusion-assets/images/account.svg" height="28" style="margin-top: -8px;">
    </a>
  </div>
  <mat-menu #appsMenu="matMenu" xPosition="before" yPosition="above">
    <div class="">
      <div class="flex">
        <img alt="account" src="/fusion-assets/images/account.svg" height="23" style="margin-left: 15px;">
        <h4 style="margin-left: 10px;margin-bottom: 0px;">{{data.firstName}} {{data.lastName}}</h4>

      </div>
      <div style="margin-left: 48px;">
        <h5>{{data.email}} {{data.phone}}</h5>
      </div>
      <hr>
      <p style="text-align: left; margin-left: 15px;">
        <button (click)="logout()" class="save-btn" type="submit" i18n>Logout</button>
      </p>
      <button (click)="logout()" mat-button>
        <mat-icon>power_settings_new</mat-icon>&nbsp;
        <span i18n>Logout</span>
      </button>
    </div>
  </mat-menu> -->
</div>