<div class="link-container"
  *ngIf="data!.profileDetails!.profileReq!.personalDetails!.tncAccepted || data!.profileDetails!.profileReq!.personalDetails!.dob">
  <div class="link-block">
    <a role="button" matRipple [ngClass]="{'ws-mat-accent-text': showHome }" routerLink="/page/home"
      routerLinkActive="ws-mat-accent-text" class="flex cursor-pointer">
      <span class="link-text" i18n>Home</span>
    </a>
  </div>
  <div class="link-block">
    <a role="button" matRipple [ngClass]="{'ws-mat-accent-text': mycourses }" routerLink="app/user/my_courses"
      routerLinkActive="ws-mat-accent-text" class="flex cursor-pointer">
      <span class="link-text" i18n>My Courses</span>
    </a>
  </div>
  <div class="link-block">
    <a role="button" matRipple [ngClass]="{'ws-mat-accent-text': showCompetency }" routerLink="/app/user/competency"
      routerLinkActive="ws-mat-accent-text" class="flex cursor-pointer">
      <span class="link-text" i18n>Competency</span>
    </a>
  </div>
  <div class="link-block">
    <a role="button" matRipple [ngClass]="{'ws-mat-accent-text': showProfile }" routerLink="/app/profile-view"
      routerLinkActive="ws-mat-accent-text" class="flex cursor-pointer">
      <span class="link-text" i18n>Account</span>
    </a>
  </div>
</div>