<!--Land on the Monthly leaderboad-->
<section class="p-4">
  <p class="text-xl header3">Land on the Monthly</p>
  <p class="header3">Leaderboard</p>
  <!-- <p>because you saw Manyata for Mothers</p> -->
  <div class="horizontal-scroll-content">
    <div *ngFor="let i of [1,2,3,4,5,6,7]" style="height: 180px;">
      <div class="card follow-card">
        <img src="../../../fusion-assets/images/about-you.png" alt="Course image" width="85" height="85"
          class="follow-img">
        <div class="card-body px-2">
          <a href="#" class="follow-btn">32 points earned</a>
        </div>
      </div>
    </div>
  </div>