.banner-container{
    display: flex;
    margin-top: 45px;
    align-items: center;
    justify-content: space-around;
}
.banner-heading{
//     line-height: 38px;
//     color: #000000;

//     font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 50px;
//   line-height: 48px;
//   /* or 96% */

//   letter-spacing: -0.02em;
  padding-left: 51px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
     font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #000000;
}
.banner-mini-heading{
//     font-family: 'Roboto';
// font-style: normal;
// font-weight: 400;
// font-size: 24px;
// line-height: 28px;
// /* identical to box height */

// letter-spacing: -0.02em;

// color: #000000;

 padding-left: 51px;
    color: #000000;
    /* Header 2 */
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.48px;
}
.scrollToCneCourses{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #D7AC5C;
    height: 51px;
    margin-bottom: 20px;
    margin-top: -1px;
    flex-direction: column;
}
.scrollToHowSphereWorks{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #469788;
    height: 51px;
    margin-bottom: 20px;
    margin-top: -12px;
    flex-direction: column;
}
.tutorials-text{
    /* Body */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF !important;
    margin: 0px !important;
}
.banner-image{
    // max-width: 400px;
    width: 600px;
    // height: 350px
    height: 325px;
}
@media only screen and (min-width: 600px) and (max-width: 959px){
.banner-image{
    max-width: 350px;
    height: 267px;
}
.banner-heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;

}
.banner-mini-heading {
    font-size: 22px;
    line-height: 28px;
}
}
.view-course{
  cursor: pointer;
  margin-top: 25px;
  width: 248px;
  height: 39px;
  background-color: #2E6491 !important;
  border-radius: 50px;
  color: #FFFFFF !important;
  border: none !important;

}


/* carousel.component.css */

.carousel {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  //padding: 0 10px;
  /* Adjust padding as needed */
}

.slide-content {
  display: none;
}

.slide-content.active {
  display: block;
}


.round-buttons {
 background: none;
    border: none;
}
.dot-icon{
      width: 10px;
    height: 10px;
}
.round-button {
 width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0 5px;
  cursor: pointer;
  border: none;
}

.round-button.active {
  background-color: rgba(0, 0, 0, 0.978);
}




