.banner-container{
    display: flex;
    margin-top: 45px;
    align-items: center;
    justify-content: space-around;
    background: #fdfcfc;
}
.isEkshamata{
  margin-top: 5px;
  background: linear-gradient(180deg, #EBF4FB 0%, #DCEFEC 49.18%, #FFFCC8 98.36%);
}
.ekshamata-banner{
  flex: 0 0 75%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
      gap: 20px;
}
.ekshamta-banner-container{
   display: flex;
  flex: 100%;
  justify-content: flex-end;
  transition: transform 0.3s ease
}
.banner-sub-heading{
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #513433;
}
.banner-first-image{
  width: 92.08px;
  height: 79.23px;
}
.banner-second-image{
  width: 210.14px;
  height: 134.79px;
}
.banner-heading-container{
  display: flex;
  flex-direction: column;
  flex: 35%;
  justify-content: flex-end;
  padding-left: 85px;
}
.banner-heading{
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 56.25px;
  letter-spacing: -0.02em;
  text-align: left;
  font-style: normal;
  color: #000000;
}
.banner-mini-heading{
  color: #000000;
  font-style: normal;
  letter-spacing: -0.48px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: -0.02em;
  text-align: left;

}
.scrollToHowSphereWorks{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 51px;
    margin-bottom: 20px;
    margin-top: -1px;
    flex-direction: column;
}

.slides {
  display: flex;
  flex: 65%;
  transition: transform 0.3s ease; /* Adjust the duration and easing as needed */
}

.slide {
  flex: 0 0 100%; /* Ensure each slide takes the full width of the container */
}

.banner-image {
  width: 100%; /* Ensure images fill their container */
  height: auto; /* Maintain aspect ratio */
}

.carousel {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  // background-color: #fdfcfc;
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slide-content {
  display: none;
}

.slide-content.active {
  display: block;
}

.round-buttons {
 background: none;
    border: none;
     padding: 0px 0px 0px 4px !important;

}
.dot-icon{
  width: 10px;
  height: 10px;
}

.round-button {
 width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0 5px;
  cursor: pointer;
  border: none;
}

.round-button.active {
  background-color: rgba(0, 0, 0, 0.978);
}

.slide {
  min-width: 100%;
}

/* ===== Dots ===== */
.carousel-dots {
  display: flex;
  justify-content: center;
  height: 51px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .banner-image{
    max-width: 350px;
  }

  .banner-container {
    margin-top: 45px;
    padding-top: 0px;
  }

  .banner-heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
  }
  .banner-mini-heading {
    font-size: 22px;
    line-height: 28px;
  }
}

/* ===== Mobile Styles ===== */
@media (max-width: 767px) {
  .banner-image,
  .banner-first-image,
  .banner-second-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .round-buttons {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px 0px 0px 4px !important;
  }
  .carousel {
    align-items: flex-start;
    flex-direction: column;
  }

  .heading {
    display: flex;
    align-items: center;
  }

  .banner-container {
    width: 100%;
    margin-top: 50px;
  }

  .banner-heading-container {
    position: relative;
    text-align: center;
    padding: 16px;
    display: flex;
  }

  .banner-mini-heading {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }

  .banner-heading {
    font-size: 24px;
    font-weight: 400;
    padding-left: 6px;
    line-height: 45px;
    text-transform: capitalize;
  }

  .banner-sub-heading {
    line-height: 5px;
    font-weight: 400;
    font-size: 16px;
  }

  .ekshamata-banner {
    display: flex;
    flex-direction: column;
  }

  .slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .slides {
    margin-left: 16px;
  }

  .slide-content {
    display: none;
  }

  .slide-content.active {
    display: block;
  }

  .round-button {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0 5px;
    cursor: pointer;
    border: none;
  }

  .round-button.active {
    background-color: rgba(0, 0, 0, 0.978);
  }

  .isEkshamata{
    margin-top: 54px;
    .carousel {
      flex-direction: row;
    }

    .banner-heading-container {
      flex: 50%;
    }

    .ekshamta-banner-container {
      flex: 5%;
    }
    .heading {
      flex-direction: column;
      align-items: flex-start;
    }

    .badge-container {
      img {
        width: 1.5rem;
      }
      .label {
        font-size: 16px;
      }
    }
  }
}

.badge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  white-space: nowrap;
  color: rgba(70, 151, 136, 1);
  background: white;
  border-radius: 20px;
}

.badge-container img {
  width: 2rem;
  height: auto;
}

.label {
  font-size: 18px;
  margin-left: 10px;
}
