<!--page banner-->
<div class="banner-container">
  <!--upskill now section-->
  <div class="carousel">
    <div class="banner-heading-container">
      <div class="banner-heading"><span i18n>Welcome </span><span>{{firstName?firstName:''}}!</span></div>
      <div class="banner-mini-heading" i18n>Continue Learning</div>
    </div>
    <div class="slides" [style.transform]="'translateX(' + (-currentSlideIndex * 100) + '%)'">
      <div class="slide" *ngFor="let data of dataCarousel; let i = index">
        <div (click)="scrollToHowSphereWorks(data.scrollEmit)"
          class="slide-content {{ i === currentSlideIndex ? 'active' : '' }}">
          <img class="banner-image" [src]="data.img" alt="Carousel" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngFor="let data of dataCarousel; let i = index">
  <div (click)="scrollToHowSphereWorks(data.scrollEmit)" class="slide-content" [class.active]="i === currentSlideIndex">
    <div [className]="data.scrollEmit">
      <p class="tutorials-text" *ngIf="lang == 'en' ">{{data.title}} <span (click)="scrollToContent(data.scrollEmit)"> >
        </span> </p>
      <p class="tutorials-text" *ngIf="lang == 'hi' ">{{data.titleHi}} <span (click)="scrollToContent(data.scrollEmit)">
          > </span> </p>
      <div class="round-buttons">
        <button *ngFor="let _ of dataCarousel; let i = index" class="round-button"
          [class.active]="i === currentSlideIndex" (click)="goToSlide(i)"></button>
      </div>
    </div>
  </div>
</div>