<!--page banner-->
<div class="banner-container">
  <!--upskill now section-->
  <div class="banner-heading-container">
    <div class="banner-heading"><span i18n>Welcome </span><span>{{firstName?firstName:''}}!</span></div>
    <div class="banner-mini-heading" i18n>
      Continue
      Learning
    </div>
    <!-- <div>
      <button class="view-course">View Course For you</button>
    </div> -->
  </div>
  <img class="banner-image" src="/fusion-assets/images/Mask_group.svg" alt="Banner image" loading="lazy">
</div>
<div class="tutorials-container" (click)="scrollToHowSphereWorks()">
  <p class="tutorials-text" i18n>Learn about how Sphere works > ></p>
</div>