<ws-header></ws-header>
<div class="login-page-content">
  <div class="login-card">
    <div>
      <h1 class="display-3" style="font-size: 40px;line-height: 48px;">Welcome!</h1>
      <div class="input-content">
        <div class="input-content-wrapper">
          <form [formGroup]="loginForm">

            <div class="text-info">Due to security reasons all users have to reset their password after 5th of Feb
              2022. Old password will
              no longer work.</div>
            <div style="margin-bottom: 10px; margin-top: 10px;">
              <mat-error class="text-danger" *ngIf="errorMessage!==''">{{errorMessage}}</mat-error>
            </div>

<!--             <div class="form-group">
                  <label for="selectLanguage">Select Language</label>
              <select id="selectLanguage" class="form-control select-box"
                (change)="chooseBackground($event.target.value)" required>
                <option [value]="null" disabled>Select Language</option>
                <option value="en">English</option>
                <option value="hi">Hindi</option>
              </select>
            </div> -->

            <div class="form-group" style="margin-bottom: 0;">
              <input type="text" class="form-control" placeholder="Phone Number/Email ID" id="userid-field"
                formControlName="username">
            </div>
            <div style="margin-top: 4px;">
              <mat-error class="text-danger" *ngIf="loginForm.controls['username'].hasError('required') &&
                  (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
                This field is required</mat-error>
              <mat-error class="text-danger" *ngIf="loginForm.controls['username'].hasError('pattern')">
                Invalid email or number</mat-error>
            </div>
            <div class="form-group input-group" style="margin-top: 1rem;">
              <input [type]="hide ? 'password' : 'text'" placeholder="Password" id="password-field"
                formControlName="password" class="form-control">
              <div class="input-group-addon iconPosition">
                <a href="javascript:void(0)" (click)="toggle()" class="f-black">
                  <i [ngClass]="iconChange" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div style="margin-top: 4px;">
              <mat-error class="text-danger" *ngIf="loginForm.controls['password'].hasError('required') &&
                  (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                This field is required</mat-error>
            </div>
            <div class="form-group">
              <p>Forgot password?<a href="public/forgot-password"> Click Here</a> to reset</p>
            </div>
            <div class="form-group">
              <button class="btn btn-block border-radius login-btn" type="submit" id="login-btn" (click)="loginUser()"
                [disabled]="!loginForm?.valid">
                Log in</button>
            </div>
          </form>
        </div>
      </div>

      <div class="form-group">
        <p>Do not have an account? <a href="app/create-account">Create an account</a></p>
      </div>

      <!--<div class="form-group">
          <h4 class="font-weight-bolder f-w-500">OR</h4>
        </div>
        <div class="form-group">
          <a href="javascript:void(0)" #myDiv id="googleBtn" title="Google sign-in"
            class="btn btn-outline-primary btn-block text-left f-black border-radius" role="button"
            (click)="googleInit()" id="social-google">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
              width="20" height="20">
            <span style="padding-left: 10px;">Log in with Google</span>
          </a>
        </div>
-->
    </div>
  </div>
</div>

<input type="hidden" i18-value i18-aria-value aria-value="unable to signin" value="Error Signing up!" #toastError />