<ws-header></ws-header>
<div class="login-page-content">
  <div class="login-card">

    <div class="welcome-header">
      Welcome!
    </div>
    <div id="input-content">
      <div id="input-content-wrapper">
        <div id="login-form" class="row">
          <div id="form-wrapper" class="col-xs-12 col-sm-6">
            <form [formGroup]="loginForm">
              <mat-form-field appearance="outline" class="w-full input-box">
                <input type="text" matInput placeholder="Phone Number/Email ID" formControlName="username">
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-full">
                <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password"
                  autocomplete="off">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <div class="form-group mb-4">
                Forgot password? <span><a tabindex="5" href="public/forgot-password">Click Here</a></span> to reset
              </div>
              <button class="form-group login-button w-full" type="submit" [disabled]="!loginForm?.valid">
                Log in</button>
            </form>
          </div>
          <div class="mt-4">
            Do not have an account? <a href="app/create-account">Create an account</a>
          </div>
          <div class="mt-6 or-text">
            OR
          </div>
          <div class="mt-6 col-xs-12 col-sm-6">
            <!-- <div class="form-group social-provider"> -->
            <a href="/auth/realms/wingspan/broker/google/login?client_id=portal&amp;tab_id=E7BxVFVHDWo&amp;session_code=YAyMStQfJMp8PZFnVVRiAf5yBdnpirQHAbArJ60Sn2k"
              id="social-google">
              <div class="social-provider">
                <div class="inline-block">
                  <img src="../../../fusion-assets/icons/google-logo.png" width="20" height="20">
                </div>
                <div class="absolute inline-block">
                  <span class="ml-2 v-a-m">Log in with Google</span>
                </div>
              </div>
            </a>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>