<div class="split width-40 left">
  <div class="centered">
    <img src="../../../fusion-assets/icons/join-movement-image_new.png" alt="Avatar woman">
  </div>
</div>

<div class="split width-60 right">
  <div>
    <div class="text-left signup-container">
      <ng-container *ngIf="!showCheckEmailText">
        <img src="../../../fusion-assets/icons/lock-icon.png" />
        <h2 class="mat-title" i18n="Forgot Password">
          Forgot Password
        </h2>
        <form [formGroup]="emailForm">
          <p>Enter your Email or Mobile number and we will send you the instruction</p>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email Id / Mobile Number</mat-label>
            <input name="userInput" matInput formControlName="userInput" placeholder="Email Id/ Mobile number"
              id="userid-field" type="text" required>
          </mat-form-field>
<!--           <span class="help-block" *ngIf="emailForm.controls['userInput'].touched">
            <p *ngIf="emailForm.controls['userInput'].invalid">
              Email Id / Mobile is a required field!
            </p>
          </span> -->
                        <mat-error class="text-danger"
                *ngIf="emailForm.controls['userInput'].hasError('required') &&
                (emailForm.controls['userInput'].dirty || emailForm.controls['userInput'].touched)">
                This field is required</mat-error>
                        <mat-error class="text-danger" *ngIf="emailForm.controls['userInput'].hasError('pattern')">
                Invalid email or number</mat-error>
          <div class="mt-3 mb-8 text-left" *ngIf="!showOtpPwd">
            <button mat-raised-button class="submit-btn" color="primary" [disabled]="!emailForm.valid" id="submit-btn"
              (click)=forgotPassword()>
              Submit</button>
            <button mat-stroked-button class="margin-left-xs cancel-btn" id="back-to-home-btn" color="default"
              (click)="gotoHome()">
              Back to Home</button>
          </div>
        </form>

        <!--<mat-form-field appearance="outline" class="w-full" *ngIf="showOtpPwd">
          <mat-label>Enter OTP</mat-label>
          <input type="text" matInput placeholder="OTP" [(ngModel)]="otp">
        </mat-form-field>
        <span *ngIf="showResend">
          <a *ngIf="showOtpPwd" #resend class="resend" tabindex="0" (click)="forgotPassword()">
            Resend OTP</a>
        </span> -->
      </ng-container>
      <div *ngIf="showCheckEmailText">
        <img src="../../../fusion-assets/icons/email-action-check.png" style="width: 100px" />
        <h2>We just sent you the instructions</h2>
        <p>Check your email for reset the password</p>
        <div>For any other queries or issues, mail us on <a href="mailto: support@aastrika.org">support@aastrika.org</a>
        </div>
      </div>
      <form class="forgotpassword-form mt-2" [formGroup]="forgotPasswordForm" *ngIf="showOtpPwd"
        (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Enter OTP</mat-label>
            <input type="text" matInput placeholder="OTP" formControlName="otp">
          </mat-form-field>
          <span *ngIf="showResend">
            <a #resend class="resend" tabindex="0" [ngClass]="{'disabled float-right' : disableResendButton}"
              (click)="forgotPassword('resendOTP')">
              {{resendOTPbtn}}</a>
          </span>
          <!--           <mat-form-field appearance="outline" class="w-full">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" formControlName="password">

          </mat-form-field> -->
          <!--           <div class="mb-4 fs-12 text-left -mt-3">Your password must contain a minimum of 6 characters.</div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Confirm password</mat-label>
            <input type="password" matInput placeholder="confirm password" formControlName="confirmPassword">
            <mat-error
              *ngIf="forgotPasswordForm.controls['confirmPassword'].pristine || forgotPasswordForm.controls['confirmPassword'].errors">
              Password does not match</mat-error>
          </mat-form-field>
          <div class="border"></div> -->
          <div class="mt-4">
            <!-- <div class="center flex items-center"> -->
            <!-- <div *ngIf="uploadSaveData" class="pr-4 flex items-center justify-center">
                <mat-spinner [diameter]="30"></mat-spinner>
              </div> -->
            <button mat-raised-button class="submit-btn" color="primary" type="submit" i18n
              [disabled]="forgotPasswordForm.invalid">
              <ng-container>Reset Password</ng-container>
            </button>
            <button mat-stroked-button class="margin-left-xs cancel-btn" color="default" (click)="gotoHome()">
              Back to Home</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>