a {
  color: #2873b2 !important;
}

.text {
  color: #1C5D95 !important;
    font-weight: 500 !important;
    text-decoration: underline !important;
}

::ng-deep .mdc-floating-label--float-above{
  color: black !important;
}

::ng-deep .mat-mdc-form-field {
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
  .mdc-text-field {
    --mdc-outlined-text-field-label-text-weight: 500 !important;
  }
}

::ng-deep .mat-mdc-form-field .mdc-notched-outline__notch{
  border-left: none !important;
  border-right: none !important;
}

::ng-deep .mat-mdc-form-field.mat-focused
  .mdc-notched-outline__leading,
::ng-deep .mat-mdc-form-field.mat-focused
  .mdc-notched-outline__notch,
::ng-deep .mat-mdc-form-field.mat-focused
  .mdc-notched-outline__trailing {
  border-color: #f5d58d !important;
  border-width: 2px !important;
}

::ng-deep .mat-mdc-form-field.ng-invalid.ng-touched
  .mdc-notched-outline__leading,
::ng-deep .mat-mdc-form-field.ng-invalid.ng-touched
  .mdc-notched-outline__notch,
::ng-deep .mat-mdc-form-field.ng-invalid.ng-touched
  .mdc-notched-outline__trailing {
  border-color: #f5d58d !important;
}

::ng-deep .mat-mdc-form-field.mat-focused.mat-mdc-form-field-type-mat-input
  .mdc-notched-outline__notch {
    label {
      font-weight: 500 !important;
    }
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

::ng-deep .mat-mdc-form-field.ng-invalid.ng-touched.mat-focused.mat-mdc-form-field-type-mat-input
  .mdc-notched-outline__notch {
    label {
      font-weight: 500 !important;
    }
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.button-div {
  margin-top: 2rem !important;
}

.submit-btn {
  color: #3a3a3a !important;
}
button {
  font-weight: 500 !important;
}