<div class="container">
  <div class="close1">
    <button class="" mat-button (click)="onNoClick()">X</button>
  </div>
  <div>
    <form #aboutForm="ngForm">
      <p class="header2">About</p>

      <div class="card-body">
        <textarea matInput name="about-value" required [(ngModel)]="aboutInfo">
          {{data}}
        </textarea>
      </div>

      <p class="font-normal grey-color text-xs">150/150</p>
      <mat-raised-button class="save-btn1" *ngIf="aboutForm.invalid">Save</mat-raised-button>
      <mat-raised-button class="save-btn" *ngIf="aboutForm.valid">Save</mat-raised-button>
    </form>
  </div>

</div>