.textfield {
  width: 100% !important;
  height: 180px;
}
.save-btn {
  width: 88px;
  height: 38px;
  background-color: #1C5D95;
  border-radius: 50px;
  color: #fff;
  border:0;
  font-size: 16px;
  line-height: 19px;
  float: right;
  cursor: pointer;
}

.save-btn:disabled {
  background-color: #BFBFBF;
  color: #808080;
  cursor: default;
}

.header2 {
  font-size: 24px;
  line-height: 29px;
}

.close1{
  top: 0px !important;
  margin-left: -26px !important;
}

::ng-deep .mat-form-field-flex {
  // height: 100px;
  border: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 6px 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  box-shadow: 0px 1px 4px rgb(0 0 0 / 15%);
}

::ng-deep .mat-dialog-container {
  border-radius: 10px;
}