<div class="container">
  <div class="close1">
    <button class="" mat-button (click)="onNoClick()">X</button>
  </div>
  <div>
    <p class="header2">About</p>
    <div class="card-body">

      <p class="lable1">
        Lorem ipsum dolor sit amet, consec
        tetur adipiscing elit. Vestibulum eu fermentum metus. Morbi egestas cursus nulla vitae suscipit |
      </p>

    </div>
    <p class="font-normal grey-color text-xs">150/150</p>
    <div class="save-btn">Save</div>

  </div>

</div>